{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="w3l-banner-slider-main w3l-inner-page-main">
    <div class="breadcrumb-infhny">
      <header class="top-headerhny">

        <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill">
                <div class="container-fluid">
                        {% if obj.website_logo %}
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img data-src="{{obj.website_logo.url}}" alt="{{obj.site_name}}" title="{{obj.site_name}}" style="height:35px;" /> <label class="lohny">Stud</label>irre
                        </a>        
                        {% else %}
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <label class="lohny">Stud</label>irre
                        </a>
                        {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-lg-auto ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about'  %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'how it works' %}">How it Works</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'samples' %}">Samples</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--//nav-->

      </header>
      <!-- /breadcrumbs-->
      <div class="container">
          <nav aria-label="breadcrumb" class="breadcrumb-info">
            <h2 class="hny-title text-center">About us</h2>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">ABout Us</li>
            </ol>
          </nav>
        </div>
            <!-- //breadcrumbs-->
    </div>
    <!--//banner-slider-->
  </section>

<section class="w3l-wecome-content-6">
	<!-- /content-6-section -->
	  <div class="ab-content-6-mian py-5">
		<div class="container py-lg-5">
			<div class="welcome-grids row">
				<div class="col-lg-6 mb-lg-0 mb-5">
					<h6>About Us</h6>
					<h3 class="hny-title">Improving Lives Through Learning</h3>
					<p class="my-4">
						We are an excellent writing service provider
						{{obj.site_name}} is an amazing writing service provider.
						We do not only accept orders from students living in American cities but our clients come from all parts of the world such as Belgium, Canada etc.
						No one is denied a service here!
					</p>
					<p class="my-4">
						The range of subjects in which we offer our services is quite broad, including all the subjects related to Business Studies, Arts, and Social Sciences.
						And what is most important of all things is that you don't need to go through a tiring and boring process to order your Writings here.
						Instead, the process of placing the order is quite simple.
						You only need to enter some of your information which will be kept fully private as we value your privacy
					</p>
				</div>
				<div class="col-lg-6 welcome-image">
					<img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/ab.jpg' %}" class="img-fluid" alt="" />
				</div>	
			</div>		 
		</div>
	</div>
</section>
<!-- //content-6-section -->

  
<section class="w3l-specification-6">
	<!-- /specification-6-->
	<div class="specification-content py-5">
		<div class="container py-lg-5">
			<div class="mission-grids-info row">
				<div class="mission-gd-left col-lg-7">
					<div class="grids-inn-ab">
						<div class="sub-mission one-top">
							<div class="mission-sec-gd">
								<img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/p1.jpg' %}" alt="" class="img-fluid" />
							</div>
							<div class="mission-sec-gd">
								<img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/p2.jpg' %}" alt="" class="img-fluid" />
							</div>

						</div>
						<div class="sub-mission">
								<div class="mission-sec-gd">
									<img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/p6.jpg' %}" alt="" class="img-fluid" />
								</div>
								<div class="mission-sec-gd">
									<img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/p4.jpg' %}" alt="" class="img-fluid" />
								</div>
	
							</div>
					</div>
				</div>
				<div class="mission-gd-right col-lg-5 pl-lg-4">

						<h3 class="hny-title">Our Mission</h3>
						<p>We can give you complete help for {{obj.site_name}} writing, unlike other websites that declare to be the best but they are not, in real. Our writers are qualified, hardworking and deeply reserved to their work as related to school and learning writers. Their aim is to make happy by meeting a need or reaching a goal the clients at any cost. More than that, we also guide students with writing tips so they can improve their poor writing skills.</p>
						<p>{{obj.site_name}} is a reliable service especially modelled for students who need services related to school and learning help for their assignments, coursework, research papers, term papers, homework, long speech or story, and many more. We are here just to help the students by cutting down their heavy loads.</p>
				</div>
			</div>
		</div>
</section>
<!-- //specification-6-->

<section class="w3l-content-5">
  <div class="content-5-main">
	<div class="container">
		<div class="content-info-in row">
			 <div class="content-gd col-lg-6">
				<h3 class="hny-title two">We work hard to prepare every student for their professional life</h3>
			 </div>
			 <div class="content-gd col-lg-6">
				<p>Beautiful doesn't happen by chance. It takes a lot of hard work. As a service, we've made a deliberate promise to creating beautiful results, then designed and made every aspect of our operation to accomplish them. It may seem like an truism , but our success is teamwork . Although it's easy to talk about internal working together/team effort ( we have a full team at home and close to each other) , it's teamwork that we enjoy with our customers that adds something special . A part of that comes down to (point of view/way of behaving) , to deal with the/to speak to the lower part .</p>
				<p>Beautiful doesn't happen by chance. It takes a lot of hard work. As a service, we've made a deliberate promise to creating beautiful results, then designed and made every aspect of our operation to accomplish them. It may seem like an truism , but our success is teamwork . Although it's easy to talk about internal working together/team effort ( we have a full team at home and close to each other) , it's teamwork that we enjoy with our customers that adds something special . A part of that comes down to (point of view/way of behaving) , to deal with the/to speak to the lower part .</p>	
			</div>	
		 </div>
		</div>
	</div>
</section>

<section class="w3l-team-main">
    <div class="team py-5">
        <div class="container py-lg-5">
            <div class="row title-content">
                <div class="col-lg-4 title-left">
                    <h3 class="hny-title">Our writers</h3>
                </div>
                <div class="col-lg-8 title-info">
                    <p>
                        We are proud of having a team of professional writers who developed their talent and skills working with us. The majority of them made their first steps toward becoming writers in our company.
                    </p>
                </div>
            </div>
                <div class="row team-row">
                    {% for writer in writers %}
                    <div class="col-lg-3 col-md-6 team-wrap position-relative">
                        <div class="team-info text-center">
                            <span class="badge badge-success online-status">online</span>
                            <div class="column position-relative">
                                <a href="{% url 'writer' id=writer.id %}"><img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{writer.extendedauthuser.profile_pic.url}}" alt="{{writer.get_full_name}}" class="img-fluid team-image" /></a>
                            </div>
                            <div class="column">
                                <h3 class="name-pos text-capitalize"><a href="{% url 'writer' id=writer.id %}">{{writer.get_full_name}}</a></h3>
                                <p>
                                    {{writer.extendedauthuser.bio}}<br>
                                    <strong>Citation Style/Format</strong>:{{writer.extendedauthuser.citation_style}}<br>
                                    <strong>Native Language:</strong>{{writer.extendedauthuser.native_language}}
                                </p>
                                <div class="row">
                                    <div class="col-12 text-center mx-auto">
                                        <div class="button-4-pink text-center mx-auto">
                                            <div class="eff-4-pink"></div>
                                            <a href="{% url 'writer' id=writer.id %}"> View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="social" style="margin-top:50px !important;">
                                    <a target="_blank" href="{{writer.extendedauthuser.facebook}}" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                    <a target="_blank" href="{{writer.extendedauthuser.twitter}}" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                    <a target="_blank" href="{{writer.extendedauthuser.instagram}}" class="instagram"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-lg-3 col-md-6 team-wrap position-relative">
                        <p>No writer found</p>
                    </div>
                    {% endfor %}
            </div>
        </div>
</section>
 
{% endblock %}