{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="Devme, https://tevinly.com/">
    <title>{% if obj.site_name %} {{obj.site_name}}  {% else %} {{site_name}} {% endif %} | {{title}}</title>
    <meta name="description" content="{{obj.description}}">
    <meta name="author" content="{{designer_name}}">
    <meta name="theme-color" content="{{obj.theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{obj.theme_color}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{obj.theme_color}}">
    <meta name="keywords" content="{{obj.key_words}}">
    <meta property="og:site_name" content="{{obj.site_name}}">
    <meta property="og:url" content="{{obj.site_url}}">
    <meta http-equiv="Content-type" content="text/html;charset:utf-8">
    <meta property="og:type" content="website"> 
    <meta property="twitter:site" content="https://twitter.com/Kevin36285655">
    <meta property="twitter:title" content="@Kevin36285655">
    <meta property="twitter:image" content="https://twitter.com/Kevin36285655/photo">
    <meta property="twitter:description" content="Life's Simple.">
    <meta property="twitter:text:title" content="Life's Simple.">
    <meta property="og:title" content="{{obj.site_name}} | {{title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{obj.description}}">
    <meta property="og:image" content="{{obj.favicon.url}}">
    <meta name="apple-mobile-web-app-title" content="{{obj.site_name}}">
    <meta name="application-name" content="{{obj.site_name}}">
    <meta name="msapplication-TileColor" content="{{obj.theme_color}}">
    <meta name="msapplication-config" content="{% static 'manager/assets/images/logos/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{request.get_full_path}}" />
    <link rel="shortcut icon" href="{{obj.favicon.url}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'panel/assets/css/style.min.css' %}">
    <link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'manager/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/assets/css/animate.css' %}">
    <link href="{% static 'manager/assets/css/f_ra.min.css' %}" type="text/css"  rel="stylesheet">
    <link rel="stylesheet" href="{% static 'manager/assets/css/style-starter2.css' %}">
    <link rel="stylesheet" href="{% static 'manager/assets/css/style-starter.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'manager/assets/css/custom.css' %}" />
    <style>
        .order-button {
            border: 2px solid green !important;
            background:green;
        }
        .pinker 
        {
            color:#fff !important;
        }
    </style>
</head>
<body onload="load()">
    <!-- preloader -->
     <div class="placeholder">
        <div class="overlay">
            <div class="row">
                <div class="col-12">
                     <div class="loader-container">
                       <div class="loader">
                         <svg class="circular" viewBox="25 25 50 50">
                           <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                         </svg>
                       </div>
                     </div>
                </div>
            </div>
         </div>
     </div>
    <!-- //preloader -->
    <div class="main-display " style="display:none">
        <!--/top-header-content-->
        <section class="w3l-top-header-content">
            <div class="hny-top-menu">
                <div class="top-hd">
                    <div class="container-fluid">
                        <div class="row">
                            <ul class="social-top col-md-7">
                                <li class="log-link mr-3"><a class="sign-in"  href="{% url 'login'  %}?type=customer"><span class="fa fa-user"></span> Sign In</a></li>
                                <li><a target="_blank" href="{{obj.facebook}}"><span class="fa fa-facebook"></span></a></li>
                                <li><a target="_blank" href="{{obj.instagram}}"><span class="fa fa-instagram"></span></a> </li>
                                <li><a target="_blank" href="{{obj.twitter}}"><span class="fa fa-twitter"></span></a></li>
                                <li><a target="_blank" href="{{obj.linkedin}}"><span class="fa fa-linkedin"></span></a> </li>
                            </ul>
                            <ul class="accounts col-md-5">
                                <li class="top_li"><span class="fa fa-mobile"></span><a href="tel:{{obj.phone}}">{{obj.phone}}</a>
                                </li>

                                <li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span><a href="{% url 'login'  %}?type=writer">Become a Tutor Today. </a>

                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!--//top-header-content-->
        {% block body %}
        {% endblock %}
        <!-- footer -->
        <section class="w3l-footer-16">
            <div class="w3l-footer-16-main py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 column">
                            {% if obj.footer_logo %}
                            <a class="logo-2" href="{% url 'home' %}">
                                <img data-src="{{obj.footer_logo.url}}" alt="{{obj.site_name}}" title="{{obj.site_name}}" style="height:35px;" /> <label class="lohny">Stud</label>irre
                            </a>
                            {% else %}
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <label class="lohny">Stud</label>irre
                            </a>
                            {% endif %}
                            <div class="ad-text-inf">
                                <p><span class="color-hny">Address :</span> {{obj.address|linebreaks}},  {{obj.location|linebreaks}}</p>
                             </div>
                            <div class="ad-text-inf">
                                <p>
                                    <span class="color-hny">Email :</span> 
                                    <a href="mailto:{{obj.site_email}}">{{obj.site_email}}</a>
                                </p>
                            </div>
                            <div class="ad-text-inf">
                                <p>
                                    <span class="color-hny">Phone :</span> 
                                    <a href="tel:{{obj.phone}}">{{obj.site_email}}</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 column column4 mt-lg-0 mt-4">
                            <h3>Company</h3>
                            <ul class="footer-gd-16">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'writers' %}">{{obj.site_name}} Writers</a></li>
                                <li><a href="{% url 'how it works' %}">How it works</a></li>
                                <li><a href="{% url 'moneyback'  %}">Money back guarantee</a></li>
                                <li><a href="{% url 'faqs' %}">FAQ</a></li>
                                <li><a href="{% url 'users contact' %}">Contact Us</a></li>
                                <li><a href="{% url 'terms and conditions' %}">Terms and Conditions</a></li>
                                <li><a href="{% url 'privacy policy' %}">Privacy Policy</a></li>
                            </ul>
                        </div>  
                        <div class="col-lg-4 col-md-4 column column4 mt-lg-0 mt-4">
                            <h3>Newsletter </h3>
                            <div class="end-column">
                                <h4>Subscribe Here Now</h4>
                                <form action="{% url 'subscribe' %}" class="subscribe SubscribeForm" method="post" novalidate>
                                    {% csrf_token %}
                                    <input type="email" aria-label="email" name="email" placeholder="Email Address" required="">
                                    <button><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                                </form>
                                <p class="feedback" style="margin-top:-8px;"></p>
                                <p>Subscribe to our mailing list and get updates to your email inbox.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-md-0 mt-3 row">
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-4">
                            <h3>Services</h3>
                            <ul class="footer-gd-16">
                                <li><a href="{% url 'site help' %}">{{obj.site_name}} Help</a></li>
                                <li><a href="{% url 'confediality policy' %}">Confediality Policy</a></li>
                                <li><a href="{% url 'all writer reviews' %}">Users Review</a></li>
                                <li><a href="{% url 'webmaster program' %}">Webmaster affiliate program</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Quick links (1)</h3>
                            <ul class="footer-gd-16">
                                <li><a href="{% url 'paper writing' %}">Paper writing help</a></li>
                                <li><a href="{% url 'research help' %}">Research paper help</a></li>
                                <li><a href="{% url 'thesis help' %}">Thesis help</a></li>
                                <li><a href="{% url 'all writers' %}?type=native_language">Find writer by native language</a></li>
                                <li><a href="{% url 'all writers' %}?type=citation_style">Find writer by citation style</a></li> 
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Quick links (2)</h3>
                            <ul class="footer-gd-16">
                                <li><a href="{% url 'dissertation help' %}">Dissertation help</a></li>
                                <li><a href="{% url 'personal help' %}">Personal statement help</a></li>
                                <li><a href="{% url 'resources name' %}">Resources</a></li>
                                <li><a href="{% url 'samples' %}">Samples</a></li>
                                <li><a href="{% url 'one name' %}">One Hour Topup writer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                        <div class="columns text-lg-left text-center">
                            <p>© {% now 'Y' %} {{obj.site_name}}. All rights reserved. Design by 
                                <a href="{{designer_link}}" target="_blank">{{designer_name}}</a>
                            </p>
                        </div>
                        <div class="columns-2 mt-md-0 mt-3">
                            <ul class="social">
                                <li><a target="_blank" href="{{obj.facebook}}"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                </li>
                                <li><a target="_blank" href="{{obj.linkedin}}"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                                </li>
                                <li><a target="_blank" href="{{obj.twitter}}"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                </li>
                                <li><a target="_blank" href="{{obj.instagram}}"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
            </button>
        </section>
        <!-- //footer -->

        <!-- small model -->
        <div id="myModal" class="modal fade small-model">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="ti-check"></i>
                        </div>              
                        <h4 class="modal-title w-100"></h4> 
                    </div>
                    <div class="modal-body">
                        <p class="text-center"></p>
                    </div>
                   <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-success btn-block btn-round" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- //small model -->
    </div>
    <div class="row">
        <div class="col-md-5 col-12 mx-auto cookie-container" style="z-index:9999;">
            <p>We use cookie in this website to give you the best experience on our site and show you relevant ads.To find out more, read our  <a class="page-refresher" href="{% url 'privacy policy' %}">privacy policy</a> and <a class="page-refresher" href="{% url 'terms and conditions' %}">terms and conditions</a></p>
            <div class="mt-2 text-center">
                <button class="btn cookieBtn">ok</button>
            </div>
        </div>
    </div>
    <script src="{% static 'manager/assets/js/jquery-3.5.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'manager/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/venom-button.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/wow.min.js' %}"></script> 
    <script src="{% static 'manager/assets/js/frontpage.min.js' %}" defer></script>
    <script type="application/ld+json">{"@context":"http://schema.org","@type":"CreativeWork","name":"Get Online Tutoring with {{obj.site_name}}","url":"https://{{obj.site_name}}.com/","copyrightYear":"2019","description":"If homework seems too challenging, visit our service to benefit from great academic assistance. Our tutors are available 24/7 to answer your questions.","educationalUse":["{{obj.site_name}}","homework answers","homework help"],"genre":"Homework Help","learningResourceType":"study help","isAccessibleForFree":true,"audience":{"@type":"EducationalAudience","educationalRole":["teacher","student","tutor"]},"author":{"@type":"Thing","name":"{{obj.site_name}}.com"},"copyrightHolder":{"@type":"Corporation","name":"{{obj.site_name}}"},"mainEntityOfPage":{"@type":"WebPage","@id":"https://{{obj.site_name}}.com/"}}</script>
    <script src="{% static 'manager/assets/js/scripts.js' %}"></script> 
    <script src="{{obj.tidio_script}}" async></script>
    <script src="{% static 'manager/assets/js/custom.js' %}"></script> 
    <script src="{% static 'manager/assets/js/owl.carousel.js' %}"></script>
    <script src="{% static 'manager/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script>
      $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-slide-bottom'
        });
      });
    </script>
    <!-- magnific popup -->
    <script>
      $(document).ready(function () {
        $("#owl-demo1,#owl-demo2").owlCarousel({
          loop: true,
          margin: 20,
          nav: false,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
              nav: false
            },
            736: {
              items: 1,
              nav: false
            },
            1000: {
              items: 2,
              nav: false,
              loop: false
            }
          }
        })
      })
    </script>
</body>
</html>