{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="w3l-banner-slider-main w3l-inner-page-main">
    <div class="breadcrumb-infhny">
      <header class="top-headerhny">

        <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill">
                <div class="container-fluid">
                        {% if obj.website_logo %}
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img data-src="{{obj.website_logo.url}}" alt="{{obj.site_name}}" title="{{obj.site_name}}" style="height:35px;" /> <label class="lohny">Stud</label>irre
                        </a>        
                        {% else %}
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <label class="lohny">Stud</label>irre
                        </a>
                        {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-lg-auto ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about'  %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'how it works' %}">How it Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'samples' %}">Samples</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--//nav-->

      </header>
      <!-- /breadcrumbs-->
      <div class="container">
          <nav aria-label="breadcrumb" class="breadcrumb-info">
            <h2 class="hny-title text-center">Contact</h2>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ol>
          </nav>
        </div>
            <!-- //breadcrumbs-->
    </div>
    <!--//banner-slider-->
  </section>

<section class="w3l-contact-main w3l-contact3">
	<div class="contact1-bg py-5">
		<div class="container py-lg-5">
			<div class="row contact-main">
				<div class="grid col-lg-6">
					<div class="column">
						<h3 class="hny-title">How We Can Help</h3>
						<p class="head-main">
							For more info or inquiry about our products project, and pricing please feel free to get in touch with us.
						</p>
					</div>
					<div class="column2">
						<div class="contact-para contact-info-align">
							<div class="icon">
								<span class="fa fa-map-marker"></span>
							</div>
							<div>
								<strong class="info">Office Address :</strong class="info"> <p>{{obj.address}}</p>
							</div>
						</div>
						<div class="contact-info-align">
							<div class="icon">
								<span class="fa fa-phone"></span>
							</div>
							<div div class="icon-con-info">
							    <strong class="info">Phone :</strong class="info"> <a href="tel:{{obj.phone}}"> {{obj.phone}}</a>
						    </div>
						</div>
						<div class="contact-info-align">
							<div class="icon">
								<span class="fa fa-envelope-open-o"> </span>
							</div>
							<div>
							<strong class="info">Email Address :</strong> <a href="mailto:{{obj.site_email}}"> {{obj.site_email}}</a>
						</div>
						</div>
					</div>
					<div class="column3">
						<h4>Follow us </h4>
						<a target="_blank" href="{{obj.facebook}}" class="facebook" title="facebook"><span class="fa fa-facebook"></span></a>
						<a target="_blank" href="{{obj.twitter}}" class="twitter" title="twitter"><span class="fa fa-twitter"></span></a>
						<a target="_blank" href="{{obj.linkedin}}" class="linkedin" title="linkedin"><span class="fa fa-linkedin"></span></a>
						<a target="_blank" href="{{obj.instagram}}" class="instagram" title="instagram"><span class="fa fa-instagram"></span></a>
					</div>
				</div>
				<div class="map col-lg-6">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2895687731!2d-74.26055986835598!3d40.697668402590374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1562582305883!5m2!1sen!2sin"
						frameborder="0" style="border:0" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="contact-form py-5">
		<div class="container py-lg-5">
			<div class="contacts12-main">
				<h3 class="hny-title text-center">Get In Touch</h3>
				<form class="f-hnyv mt-md-5 mt-4 ContactForm" method="post" novalidate>
					{% csrf_token %}
					<div class="main-input">
						<div class="wrapper">
							<label class="field-info">Name <span class="compulsary">*</span></label>
							<input aria-label="name" type="text" name="name" id="w3lName" placeholder="Your Name" class="contact-input" />
							<div class="feedback" style="margin-top:-30px"></div>
						</div>
						<div class="mt-md-0 mt-2 wrapper">
							<label class="field-info">Email <span class="compulsary">*</span></label>
							<input aria-label="email" type="email" name="email" id="w3lSender" placeholder="Your Email id" class="contact-input" required />
							<div class="feedback" style="margin-top:-30px"></div>
						</div>
						<div class=" mt-md-0 mt-2 wrapper">
							<label class="field-info">Subject <span class="compulsary">*</span></label>
							<input aria-label="subject" type="text" name="subject" id="w3lSubject" placeholder="Subject" class="contact-input" />
							<div class="feedback" style="margin-top:-30px"></div>
						</div>
					</div>
					<div class="mt-md-0 wrapper" style="margin-top:30px">
						<label class="field-info">Message <span class="compulsary">*</span></label>
						<textarea aria-label="message" class="contact-textarea" name="message" id="w3lMessage" placeholder="Type your message here" required></textarea>
						<div class="feedback" style="margin-top:-30px"></div>
					</div>
					<div class="mt-3 text-center">
						<button class="btn btn-contact">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}