{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="w3l-banner-slider-main w3l-inner-page-main">
    <div class="breadcrumb-infhny">
      <header class="top-headerhny">

        <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill">
                <div class="container-fluid">
                        {% if obj.website_logo %}
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img data-src="{{obj.website_logo.url}}" alt="{{obj.site_name}}" title="{{obj.site_name}}" style="height:35px;" /> <label class="lohny">Stud</label>irre
                        </a>        
                        {% else %}
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <label class="lohny">Stud</label>irre
                        </a>
                        {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-lg-auto ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about'  %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'how it works' %}">How it Works</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
                            </li> 
                             <li class="nav-item">
                                <a class="nav-link" href="{% url 'samples' %}" >Samples</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--//nav-->

      </header>
      <!-- /breadcrumbs-->
      <div class="container">
          <nav aria-label="breadcrumb" class="breadcrumb-info">
            <h2 class="hny-title text-center">{{title}}</h2>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </nav>
        </div>
            <!-- //breadcrumbs-->
    </div>
    <!--//banner-slider-->
  </section>

<section class="w3l-wecome-content-6">
	<!-- /content-6-section -->
	  <div class="ab-content-6-mian py-5">
		<div class="container py-lg-5">
			<div class="welcome-grids row">
				<div class="col-12 text-center">
					<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist" style="overflow-x: auto; overflow-y: hidden; flex-wrap:nowrap;">
	                	<li class="nav-item">
	                        <a class="nav-link active" id="pills-customer-tab" data-toggle="pill" href="#pills-customer" role="tab" aria-controls="pills-customer" aria-selected="true"><i class="ti-user"></i> Customer</a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link " id="pills-writer-tab" data-toggle="pill" href="#pills-writer" role="tab" aria-controls="pills-writer" aria-selected="false"><i class="ti-support"></i> Writer</a>
	                    </li>
	                </ul>
	                <div class="tab-content" id="pills-tabContent">
	                	<div class="tab-pane fade show active" id="pills-customer" role="tabpanel" aria-labelledby="pills-customer-tab">
	                		<div id="accordion">
	                			{% for customer in customers %}
							    <div class="card">
							        <div class="accodion-item card-header text-left">
							            <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{customer.id}}">
							                <i class="fa fa-plus"></i><i class="fa fa-minus" style="display:none"></i> {{forloop.counter}} {{customer.subject}}
							            </a>
							        </div>
							        <div id="collapse_{{customer.id}}" class="collapse text-left">
							            <div class="card-body">
							                {{customer.text}}
							            </div>
							        </div>
							    </div>
							    {% empty %}
							    <p>No data found.</p>
							    {% endfor %}
							</div>
	                	</div>
	                	<div class="tab-pane fade" id="pills-writer" role="tabpanel" aria-labelledby="pills-writer-tab">
	                		<div id="accordion">
	                			{% for writer in writers %}
							    <div class="card">
							        <div class="accodion-item card-header text-left">
							            <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{writer.id}}">
							                <i class="fa fa-plus"></i><i class="fa fa-minus" style="display:none"></i> {{forloop.counter}} {{writer.subject}}
							            </a>
							        </div>
							        <div id="collapse_{{writer.id}}" class="collapse text-left">
							            <div class="card-body">
							                {{writer.text}}
							            </div>
							        </div>
							    </div>
							    {% empty %}
							    <p>No data found.</p>
							    {% endfor %}
							</div>
	                	</div>
	                </div>
				</div>
			</div>		 
		</div>
	</div>
</section>
<!-- //content-6-section -->
{% endblock %}