{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="w3l-banner-slider-main w3l-inner-page-main">
    <div class="breadcrumb-infhny">
      <header class="top-headerhny">

        <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill">
                <div class="container-fluid">
                        {% if obj.website_logo %}
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img data-src="{{obj.website_logo.url}}" alt="{{obj.site_name}}" title="{{obj.site_name}}" style="height:35px;" /> <label class="lohny">Stud</label>irre
                        </a>        
                        {% else %}
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <label class="lohny">Stud</label>irre
                        </a>
                        {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-lg-auto ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about'  %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'how it works' %}">How it Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
                            </li> 
                             <li class="nav-item">
                                <a class="nav-link" href="{% url 'samples' %}" >Samples</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--//nav-->

      </header>
      <!-- /breadcrumbs-->
      <div class="container">
          <nav aria-label="breadcrumb" class="breadcrumb-info">
            <h2 class="hny-title text-center">{{title}}</h2>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </nav>
        </div>
            <!-- //breadcrumbs-->
    </div>
    <!--//banner-slider-->
  </section>

<section class="w3l-contact-main w3l-contact3">
	<div class="contact1-bg py-5">
		<div class="container py-lg-5">
			<div class="row contact-main">
				<div class="grid col-lg-6">
					{{cms.srudirre_help|safe|default:'No data found.'}}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}