{% extends 'manager/base.html' %}
{% load static %}
{% load humanize %}
{% load ranger %}
{% load mathfilters %}
{% load decoder %}
{% block body %}
<section class="w3l-banner-slider-main">
    <div class="bannerhny-content">
        <header class="top-headerhny">
            <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill">
                <div class="container-fluid">
                    {% if obj.website_logo %}
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img data-src="{{obj.website_logo.url}}" alt="{{obj.site_name}}" title="{{obj.site_name}}" style="height:35px;" /> <label class="lohny">Stud</label>irre
                    </a>
                    {% else %}
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <label class="lohny">Stud</label>irre
                    </a>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-lg-auto ml-auto ">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about'  %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'how it works' %}">How it Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'samples' %}" >Samples</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--//nav-->
        </header>
        <!--/banner-slider-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Motivated by the desire to Achieve</h3>
                            <p>They get their doubts solved instantly, 24x7</p>
                            <div class="button-4-pink  order-button mx-auto">
                                <div class="eff-4-pink"></div>
                                <a class="pinker" href="{% url 'new order' %}"> Place New Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--//banner-slider-->
</section>
<section class="w3l-content-6">
    <div class="content-6-mian py-5">
        <div class="container py-lg-5">
            <div id="how-it-works">
                <div class="container">
                    <div class="title">
                        <h3 class="h3_like_h2">How It Works</h3>
                    </div>
                    <ul class="ul-reset">
                        <li>
                            <figure><img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/fonts/hiw1.svg' %}" alt="Post a Question">
                                <figcaption>1</figcaption>
                            </figure>
                            <i class="arr"></i>
                            <p>
                                <strong>Post a
                                    <a href="{% url 'new order' %}">Question</a>
                                </strong>
                            </p>
                            <p>Describe the subject of your question in details and set up your deadline. All questions are posted 100% anonymously.</p>
                        </li>
                        <li>
                            <figure><img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/fonts/hiw2.png' %}" alt="Choose a Tutor">
                                <figcaption>2</figcaption>
                            </figure>
                            <i class="arr"></i>
                            <p><strong>Choose a Writer</strong></p>
                            <p>View proposals from our verified writers to help and check their experience and writing skills. Pick the tutor you prefer.</p>
                        </li>
                        <li>
                            <figure><img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/fonts/hiw3.svg' %}" alt="Get Quality Help">
                                <figcaption>3</figcaption>
                            </figure>
                            <p><strong>Get Quality Help</strong></p>
                            <p>Receive a high quality help from online tutor. You may ask for explanations and revisions to be completely satisfied.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-content-6">
    <div class="content-6-mian">
        <div class="container ">
            <div id="benefits">
                <div class="container">
                    <div class="title text-center">
                        <h3 class="h3_like_h2">Our Benefits</h3>
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="item-in">
                                <figure><img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/benefit1.png' %}" alt="24/7 Homework Help"></figure>
                                <div class="item-title">24/7 Homework Help</div>
                                <p>Our team works 24/7 to help you whenever you need, so even tutoring at night is not a problem.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-in">
                                <figure><img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/benefit2.png' %}" alt="Instant Communication With Tutors"></figure>
                                <div class="item-title">Instant Communication With Writers</div>
                                <p>Our Live chat option allows solving any homework-related questions straightaway.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-in">
                                <figure><img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/benefit3.png' %}" alt="100% Confidential"></figure>
                                <div class="item-title">100% Confidential</div>
                                <p>Your private information is secure and confidential. All the questions are posted anonymously.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-in">
                                <figure><img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/benefit4.png' %}" alt="Quality Help"></figure>
                                <div class="item-title">Quality Help</div>
                                <p>We assure high quality homework help provided by experts with Masters & PhDs in all study fields.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //portfolio -->
<section class="w3l-apply-6">
    <!-- /apply-6-->
    <div class="apply-info py-5">
        <div class="container py-lg-5">
            <div class="apply-grids-info row">
                <div class="apply-gd-left col-lg-7">
                    <label>Welcome to {{obj.site_name}}</label>
                    <h4>Apply As a Writer</h4>
                    <p class="para-apply">Because we content your need of content</p>
                    <div class="row mt-lg-5 mt-4">
                        <div class="col-md-6 sub-apply mt-4">
                            <div class="apply-sec-info">
                                <div class="appyl-sub-icon">
                                    <span class="fa fa-line-chart"></span>
                                </div>
                                <div class="appyl-sub-icon-info">
                                    <h5><a href="#">Empowers Skills</a></h5>
                                    <p>Our Company is highly favored among clients due to its reliabilty; thats why our writers have alot of work to do</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 sub-apply mt-4">
                            <div class="apply-sec-info">
                                <div class="appyl-sub-icon">
                                    <span class="fa fa-clock-o"></span>
                                </div>
                                <div class="appyl-sub-icon-info">
                                    <h5><a href="#">Lifetime access</a></h5>
                                    <p>Dont hestitate.Join our big prosperous team right now.With ur help its easy to make great money.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apply-gd-right col-lg-5 mt-lg-0 mt-5">
                    <div class="apply-form p-md-5 p-4 mx-auto bg-white mw-100">
                        <form class="ActiveForm" method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group d-none">
                                {% csrf_token %}
                            </div>
                            <div class="form-group d-none">
                                <input type="text" class="form-control" name="category" value="writer" hidden>
                                <div class="feedback" style="margin-top:-15px;"></div>
                                }
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                {{form.username}}
                                <div class="feedback" style="margin-top:-15px;"></div>
                            </div>
                            <div class="form-group" style="margin-top:50px;">
                                <label>Email Address</label>
                                {{form.email}}
                                <div class="feedback" style="margin-top:-15px;"></div>
                            </div>
                            <div class="text-center" style="margin-top:50px;">
                                <button class="btn btn-primary">Apply Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- testimonials -->
<section class="w3l-clients" id="clients">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-5 py-md-4">
            <!-- /grids -->
            <div class="row testimonial-row">
                <div class="col-lg-4 heading align-self">
                    <h6 class="title-small">Client Testimonials</h6>
                    <h3 class="title-big mb-md-5 mb-4">What our writers and customers are saying</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-lg-flex justify-content-between">
                                <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Customer">Customer</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Writer">Writer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-md-3 mb-sm-5 mb-4">
                    <div class="tab-content">
                        <div class="tab-pane" id="Writer">
                            <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
                                {% for item in writer_reviews %}
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial">
                                            <blockquote>
                                                <q>{{item.message}}</q>
                                            </blockquote>
                                            <div class="testi-des">
                                                <div class="test-img">
                                                    <img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{item.image.url}}" alt="{{item.name}}" class="img-responsive" >
                                                </div>
                                                <div class="peopl align-self">
                                                    <h3>{{item.name}}</h3>
                                                    <p class="indentity">
                                                        <div class="mb-2 star-rating text-center">
                                                            {{item.title}} &bull; {{item.created_on|naturaltime}}
                                                            <ul class="mt-2 mb-2 list-inline">
                                                                {% for i in item.rating|ranger %}
                                                                <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                                                {% endfor %}
                                                                {% for i in 5|sub:item.rating|ranger %}
                                                                 <li class="list-inline-item">
                                                                    <span class="fa fa-star text-muted"></span>
                                                                 </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="text-center">
                                    <p><i class="ti-info-alt text-info"></i> No writer reviews found</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane active show" id="Customer">
                            <div id="owl-demo2" class="owl-two owl-carousel owl-theme">
                                {% for item in customer_reviews %}
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial">
                                            <blockquote>
                                                <q>{{item.message}}</q>
                                            </blockquote>
                                            <div class="testi-des">
                                                <div class="test-img">
                                                    <img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{item.image.url}}" alt="{{item.name}}" class="img-responsive" >
                                                </div>
                                                <div class="peopl align-self">
                                                    <h3>{{item.name}}</h3>
                                                    <p class="indentity">
                                                        <div class="mb-2 star-rating text-center">
                                                            {{item.title}} &bull; {{item.created_on|naturaltime}}
                                                            <ul class="mt-2 mb-2 list-inline">
                                                                {% for i in item.rating|ranger %}
                                                                <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                                                {% endfor %}
                                                                {% for i in 5|sub:item.rating|ranger %}
                                                                 <li class="list-inline-item">
                                                                    <span class="fa fa-star text-muted"></span>
                                                                 </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="text-center my-auto">
                                    <p><i class="ti-info-alt text-info"></i> No customer reviews found</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
  </section>
  <!-- //testimonials -->

<!-- //customers-6-->
<section class="w3l-video-main">
    <!-- /video-6-->
    <div class="video-66-info">
        <div class="container-fluid">
            <div class="video-grids-info row">
                <div class="video-gd-right col-lg-8">
                    <div class="video-inner history-info text-center">
                        <!--popup-->
                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="{{obj.video_link}}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        <!--//popup-->
                    </div>
                </div>
                <div class="video-gd-left col-lg-4 p-lg-5 p-4">
                    <div class="p-xl-4 p-0 video-wrap">
                        <h3 class="hny-title text-left">Why choose us?</h3>
                        <p>Find the right writer for you from over 10,000 writers</p>
                        <div class="button-4-pink  mx-auto">
                            <div class="eff-4-pink"></div>
                            <a href="{% url 'login' %}?type=customer">SIGN UP TODAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-team-main">
    <div class="team py-5">
        <div class="container py-lg-5">
            <div class="row title-content">
                <div class="col-lg-4 title-left">
                    <h3 class="hny-title">Our writers</h3>
                </div>
                <div class="col-lg-8 title-info">
                    <p>
                        We are proud of having a team of professional writers who developed their talent and skills working with us. The majority of them made their first steps toward becoming writers in our company.
                    </p>
                </div>
            </div>
            <div class="row team-row">
                {% for writer in writers %}
                <div class="col-lg-3 col-md-6 team-wrap position-relative">
                    <div class="team-info text-center">
                        {% if writer.extendedauthuser.is_online %}
                        <span class="badge badge-success online-status">online</span>
                        {% else %}
                        <span class="badge badge-danger online-status">offline</span>
                        {% endif %}
                        <div class="column position-relative">
                            <a href="{% url 'writer' id=writer.id %}">
                                <img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{writer.extendedauthuser.profile_pic.url}}" alt="{{writer.get_full_name}}" class="img-responsive team-image" />
                            </a>
                        </div>
                        <div class="column">
                            <h3 class="name-pos text-capitalize"><a href="{% url 'writer' id=writer.id %}">{{writer.get_full_name}}</a></h3>
                            <div class="mb-2 star-rating text-center">
                                <ul class="mt-2 mb-2 list-inline">
                                   {% if writer.extendedauthuser.rating > 0 %}
                                        {% for i in writer.extendedauthuser.rating|floatformat:0|ranger %}
                                        <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                        {% endfor %}
                                        {% for i in 5|sub:writer.extendedauthuser.rating|floatformat:0|ranger %}
                                         <li class="list-inline-item">
                                            <span class="fa fa-star text-muted"></span>
                                         </li>
                                        {% endfor %}
                                        <li class="list-inline-item">
                                            ({{writer.extendedauthuser.rating_counter|intcomma|default:'0'}})
                                        </li>
                                   {% endif %}
                                </ul>
                                {{writer.extendedauthuser.completed_projects|intcomma|default:'0'}} Completed Orders
                            </div>
                            <p><strong>Citation Style/Format:</strong> {{writer.extendedauthuser.citation_style|decoder|default:'Not Set'}}</p>
                            <p><strong>Native Language:</strong>Pro in {{writer.extendedauthuser.native_language|decoder|default:'Not Set'}}</p>
                            <div class="row">
                                <div class="col-12 text-center mx-auto">
                                    <div class="button-4-pink text-center mx-auto">
                                        <div class="eff-4-pink"></div>
                                        <a href="{% url 'writer' id=writer.id %}"> View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-lg-3 col-md-6 team-wrap position-relative">
                    <p>No writer found</p>
                </div>
                {% endfor %}
            </div>
        </div>
</section>
<section class="w3l-content-6">
    <div class="content-6-mian">
        <div class="container ">
            <div id="updates">
                <h3 class="row-title h3_like_h2">Latest Updates</h3>
                <div class="wrap">
                    <ul class="second-row__updates" id="whats-up-container">
                        {% for  item in updates %}
                        <li class="second-row__update">
                            <div>
                                <span class="first-row__benefit-icon">
                                    <span>
                                        <i class="fa whats-up-header fa-reply-all"></i>
                                    </span>
                                </span>
                                <p class="second-row__update-text whats-up-body">[<strong><b>{{item.user.get_full_name}}</b></strong>]=>{{item.name}}</p>
                            </div><time class="second-row__update-time">
                                <nobr class="whats-up-left">{{item.created_on|naturaltime}}</nobr>
                            </time>
                        </li>
                        {% empty %}
                        <div class="text-center">
                            <p><i class="ti-info-alt text-info"></i> No new updates found.</p>
                        </div>
                        {% endfor %}
                    </ul>
                    <ul class="mt-2 ml-2 pagination pagination-primary">
                        {% if updates.has_previous %}
                        <li class="page-item active"><a class="page-link" href="{% url 'home' %}?page={{updates.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                        {% endif %}
                        {% if updates.has_next %}
                        <li class="page-item active"><a class="page-link" href="{% url 'home' %}?page={{updates.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                        {% endif %}
                    </ul>
                    <div class="wrap-out"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-2 w3l-content-6">
    <div class="content-6-mian">
        <div class="container ">
            <div id="cta-2" class="homepage-cta">
                <div class="container">
                    <div class="cta-title">LEARN <span>MORE EFFECTIVELY</span> <i class="end">AND</i> GET BETTER GRADES!</div>
                    <div class="button-4-pink mx-auto">
                        <div class="eff-4-pink"></div>
                        <a href="{% url 'new order' %}">Ask Question</a>
                    </div>
                    <picture>
                        <source srcset="{% static 'manager/assets/images/girl.webp' %}" type="image/webp">
                        <source srcset="{% static 'manager/assets/images/girl.png' %}" type="image/jpeg">
                        <img src="{% static 'manager/assets/images/loader.gif' %}" src="{% static 'manager/assets/images/girl.png' %}" alt="LEARN AND GET BETTER GRADES WITH {{obj.site_name}}">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
{{ room_name|json_script:"room-name" }}
{% endblock %}