{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item">Manage Settings</li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
        	<div class="col-12 text-right">
        		<a href="{% url 'add academic' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
        	</div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{title}} (<span class="spanner">{{count|intcomma}}</span>)</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-results">
                            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Created on</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                    <tr id="id_{{payment.id}}">
                                        <td>{{forloop.counter}}</td>
                                        <td>{{payment.name}}</td>
                                        <td><span>{{payment.created_on}}</span></td>
                                        <td>
                                            <a  href="{% url 'edit academic' id=payment.id %}" class="btn btn-success btn-round" type="button"><i class="zmdi zmdi-edit"></i> Edit</a>
                                            <button data-url="{% url 'delete academic' id=payment.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete</button>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div class="card-body text-center py-5">
                                                <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                <h4><i class="ti-info-alt"></i> No data found</h4>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul class="pagination pagination-primary">
                            {% if payments.has_previous %}
                            <li class="page-item active"><a class="page-link" href="{% url 'displine' %}?page={{payments.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                            {% endif %}
                            {% if payments.has_next %}
                            <li class="page-item active"><a class="page-link" href="{% url 'displine' %}?page={{payments.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}