{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'bid details' id=bid.id %}">Bid Details</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-5 text-center mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{title}}</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if not edit %}
                        <div class="col-12 hh-grayBox" id="writer">
                            <div class="row justify-content-between">
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Fill Order Details</span></p>
                                </div>
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Order Bidding</span></p>
                                </div>
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Choose Writer & Reserve Money</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Track Progress</span></p>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {% if not data.is_superuser %}
                        <div class="col-12 hh-grayBox" id="writer">
                            <div class="row justify-content-between">
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Fill Order Details</span></p>
                                </div>
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Order Bidding</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Choose Writer & Reserve Money</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Track Progress</span></p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        <div class="col-12">
                            <h4><strong>Order details</strong></h4>
                            <div class="card">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <tr>
                                            <th><strong>Type of paper:</strong></th>
                                            <td>{{order.paper_type}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Topic:</strong></th>
                                            <td>{{order.topic}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Pages:</strong></th>
                                            <td>{{order.pages|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Deadline:</strong></th>
                                            <td>{{order.deadline|timesince}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Displine:</strong></th>
                                            <td>{{order.displine}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Format/Citation Style:</strong></th>
                                            <td>{{order.citation_style}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Type of service</strong></th>
                                            <td>{{order.type_of_service}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Price</strong></th>
                                            <td>{{obj.currency_symbol}} {{bid.price|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Service Charge <i style="cursor:pointer;" data-toggle="tooltip" data-placement="bottom" title="{{obj.currency_symbol}} {{bid.price|sub:bid.payable|intcomma}} is fixed for service charge,for placing an order." class="ti-help text-info"></i></strong></th>
                                            <td>{{obj.currency_symbol}} {{bid.price|sub:bid.payable|intcomma}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Amount To Load</strong></th>
                                            {% with result=bid.price|sub:bid.payable %}
                                            <td>{{obj.currency_symbol}} {{bid.price|add:result|intcomma}}</td>
                                            {% endwith %}
                                        </tr>
                                        <tr>
                                            <th><strong>Paper instructions</strong></th>
                                            <td>{{order.paper_instructions}}</td>
                                        </tr>
                                        <tr>
                                            <th><strong>Date created:</strong></th>
                                            <td>{{order.created_on}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-center">
                                                {% if not bid.is_accepted %}
                                                <a data-host="{% url 'accept bid' id=bid.id %}" data-text="Confirm accepting this bid ?" href="{% url 'confirm bid' id=bid.id %}" class="del-data btn btn-success btn-round" type="button"><i class="ti-money"></i> Reserve Money & Start Working</a>
                                                {% else %}
                                                <button class="btn btn-success btn-round" disabled><i class="ti-money"></i> Reserve Money & Start Working</button>
                                                {% endif %}
                                                <a href="{% url 'bid details' id=bid.id %}" class="btn btn-danger btn-round"><i class="ti-hand-point-left"></i> Back To Bidding</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <p class="mt-2"><strong><i class="ti-hand-point-right text-success"></i> Note:</strong> You are just reserving money on your {{obj.site_name}} balance,but not paying the writer.You wull make your own decision when to pay the writer through progressive delivery.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}