{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-12">
                <div class="d-lg-flex justify-content-between">
                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;white-space: nowrap;">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#general">General</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#real-time">Real time updates</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="general">
                        <div class="row">
                            <div class="col-12 text-right callers">
                                <button data-url="{% url 'delete all'%}" class="deleteAll-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete All </button>
                            </div>
                            <div class="col-12">
                                <div class="card table-results">
                                    <div class="card-header">
                                        <h3 class="card-title">Tota activities (<span class="spanner">{{wcount|intcomma}}</span>)</h3>
                                        <div class="card-options">
                                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Timestamp</th>
                                                        <th>Activity</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="main-content">
                                                    {% for item in activities %}
                                                    <tr>
                                                        <th>{{item.created_on|timesince}}</th>
                                                        <td>{{item.name}}</td>
                                                        <td>
                                                            <button data-url="{% url 'delete activity' id=item.id %}" class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete </button>
                                                        </td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                        <td colspan="3" class="text-center">
                                                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                            <p><i class="ti-info-alt text-success"></i> No activity found</p>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <ul class="pagination pagination-primary">
                                            {% if activities.has_previous %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'account activities' %}?page={{activities.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                            {% endif %}
                                            {% if activities.has_next %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'account activities' %}?page={{activities.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="real-time">
                        <div class="row">
                            <div class="col-12 text-right callers">
                                <button data-url="{% url 'delete updates all'%}" class="deleteAll-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete All </button>
                            </div>
                            <div class="col-12">
                                <div class="card table-results">
                                    <div class="card-header">
                                        <h3 class="card-title">Tota activities (<span class="spanner">{{ucount|intcomma}}</span>)</h3>
                                        <div class="card-options">
                                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Timestamp</th>
                                                        <th>Activity</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="main-content">
                                                    {% for item in updates %}
                                                    <tr>
                                                        <th>{{item.created_on|timesince}}</th>
                                                        <td>{{item.name}}</td>
                                                        <td>
                                                            <button data-url="{% url 'delete update' id=item.id %}" class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete </button>
                                                        </td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                        <td colspan="3" class="text-center">
                                                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                            <p><i class="ti-info-alt text-success"></i> No activity found</p>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <ul class="pagination pagination-primary">
                                            {% if updates.has_previous %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'account activities' %}?page={{updates.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                            {% endif %}
                                            {% if updates.has_next %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'account activities' %}?page={{updates.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}