{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'broadcasts' %}">Broadcasted Messages</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist"  style="display:inline-block;white-space: nowrap;" >
                    {% if not broadcast %}
                    <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Individual">Individual</a></li>
                    {% else %}
                    <li  class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#group">Group</a></li>
                    {% endif %}
                </ul>
            </div>
            <hr>
        </div>
        <div class="row clearfix">
            <div class="col-md-5 col-12 mx-auto">
                <div class="tab-content">
                    {% if broadcast %}
                    <div class="tab-pane active show" id="group">
                    {% else %}
                    <div class="tab-pane" id="group">
                    {% endif %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-truncate">{{title}}</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" method="post" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">Enter message here</label>
                                        {{form.message}}
                                        <div class="feedback"></div>
                                    </div>
                                    <div class="col-sm-12 text-center m-t-20">
                                        <button class="btn btn-primary btn-round"><i class="ti-save"></i> Broadcast</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if not broadcast %}
                    <div class="tab-pane active show" id="Individual">
                    {% else %}
                    <div class="tab-pane" id="Individual">
                    {% endif %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title text-truncate">{{title}}</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm"  method="post" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="text-left" for="">To</label>
                                        {{form1.to}}
                                        {% if users %}
                                        <datalist id="userslist">
                                            {% for user in users %}
                                            <option value="{{user.username}}">{{user.first_name}} {{user.last_name}}</option>
                                            {% endfor %}
                                        </datalist>
                                        {% endif %}
                                        <div class="feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Enter message here</label>
                                        {{form1.message}}
                                        <div class="feedback"></div>
                                    </div>
                                    <div class="col-sm-12 text-center m-t-20">
                                        <button class="btn btn-primary btn-round"><i class="ti-save"></i> Broadcast</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}