{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'questions' %}">{{prev}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-5 col-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-truncate">{% if edit %} {{title}}{% else %} {{title}} {% endif %}</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="ActiveForm" method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.question}}
                                <div class="feedback"></div>
                            </div>
                            <div class="form-group">
                                {{form.status}}
                                <label>Activate/Deactivate question</label>
                                <div class="feedback"></div>
                            </div>
                            <div class="col-sm-12 text-center m-t-20">
                                <button class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if edit %}
            <div class="col-md-5 col-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-truncate">Provide answers</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="ActiveForm" method="post" action="{% url 'answers' id=question_id %}" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>A) First answer</label>
                                        {{form2.answer1}}
                                        <div class="feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>B) Second answer</label>
                                        {{form2.answer2}}
                                        <div class="feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>C) Third answer</label>
                                        {{form2.answer3}}
                                        <div class="feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>D) Fourth answer</label>
                                        {{form2.answer4}}
                                        <div class="feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 mx-auto">
                                    <div class="form-group">
                                        <label> Correct answer</label>
                                        {{form2.correct_answer}}
                                        <div class="feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center m-t-20">
                                <button class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}