{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load decoder %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'users' %}">Admins</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="card">
                     <div class="card-header">
                        <h3 class="card-title">Admin details</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                       <div class="table-responsive table-results">
                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                            <tr>
                                {% if user.extendedauthuser.category == 'writer' %}
                                <th><strong>Admin Name:</strong></th>
                                {% else %}
                                <th><strong>Customer Name:</strong></th>
                                {% endif %}
                                <td>{{user.get_full_name}}</td>
                            </tr>
                            <tr>
                                <th><strong>Gender:</strong></th>
                                <td>{{user.extendedauthuser.gender}}</td>
                            </tr>
                            <tr>
                                <th><strong>Zipcode:</strong></th>
                                <td>{{user.extendedauthuser.zipcode}}</td>
                            </tr>
                            <tr>
                                <th><strong>Timezone:</strong></th>
                                <td>{{user.extendedauthuser.timezone}}</td>
                            </tr>
                            <tr>
                                <th><strong>Email:</strong></th>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <th><strong>Country:</strong></th>
                                <td>{{user.extendedauthuser.country}}</td>
                            </tr>
                            <tr>
                                <th><strong>City:</strong></th>
                                <td>{{user.extendedauthuser.city}}</td>
                            </tr>
                            <tr>
                                <th><strong>Profile:</strong></th>
                                <td>
                                    <img class="img-responsive" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{user.extendedauthuser.profile_pic.url}}" alt="{{user.get_full_name}}" title="{{user.get_full_name}}" style="width:50px;height:50px;border-radius:50%;" />
                                </td>
                            </tr>
                            <tr>
                                <th><strong>Email verfied:</strong></th>
                                <td>
                                    {% if user.is_active %}
                                    <span class="badge badge-success p-2"><i class="ti-check"></i> Yes</span>
                                    {% else %}
                                    <span class="badge badge-danger p-2"><i class="ti-close"></i> No</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th><strong>Date Created:</strong></th>
                                <td>{{user.date_joined}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <a href="{% url 'edit admin' id=user.id %}" class="btn btn-success btn-round btn-block" type="button"><i class="ti-pencil"></i> Edit</a>
                                </td>
                            </tr>
                        </table>
                    </div> 
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Change password for this admin</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" method="post" novalidate>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">New password</label>
                                        {{form.password1}}
                                        <div class="feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Confirm New password</label>
                                        {{form.password2}}
                                        <div class="feedback"></div>
                                    </div>
                                    <div class="text-center mt-2">
                                        {% if user.is_superuser %}
                                        <button class="btn btn-primary btn-round" disabled><i class="ti-save"></i> CHANGE PASSWORD</button>
                                        {% else %}
                                        <button class="btn btn-primary btn-round"><i class="ti-save"></i> CHANGE PASSWORD</button>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}