{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load ranger %}
{% load decoder %}
{% load mathfilters %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <ol class="breadcrumb" style="background-color:transparent!important;">
	                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
	                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
	                </ol>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
	  <div class="row clearfix">
	  		<div class="col-md-5 mx-auto">
                <div class="card">
                    <div class="card-body">
                         <form>
                            <div class="form-group row">
                            	<label for="" class="col-sm-2 col-form-label">Filter By Style</label>
                            	<div class="col-sm-10">
                            		<select name="citation_style" id="id_citation_style" class="form-control">
                                        {% for style in styles %}
                                        <option value="{{style.name}}">{{style.name}}</option>
                                        {% empty %}
                                        <option value="" disabled selected>No style found</option>
                                        {% endfor %}
                                    </select>
                            	</div>
                            </div> 
                            <div class="form-group row">
                            	<label for="" class="col-sm-2 col-form-label">Filter By Language</label>
                            	<div class="col-sm-10">
                            		<select name="native_language" id="id_native_language" class="form-control">
                                        {% for language in languages %}
                                        <option value="{{language.name}}">{{language.name}}</option>
                                        {% empty %}
                                        <option value="" disabled selected>No language found</option>
                                        {% endfor %}
                                    </select>
                            	</div>
                            </div>
                            <div class="row">
                            	<div class="col-12 text-center">
                            		<button class="btn btn-primary btn-round"><i class="ti-search"></i> Search</button>
                            	</div>
                            </div>      
                       	</form>
                    </div>
                </div>
            </div>
            <div class="col-12">
            	<h4>All Writers ({{count|intcomma}})</h4>
            </div>
            {% for data in users %}
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-body text-center ribbon">
                        <div class="ribbon-box green">{{data.extendedauthuser.country}}</div>
                        <img style="width:120px; height:120px; border:2px solid #fff;border-radius:50%;" class="img-responsive rounded-circle img-thumbnail w100" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{data.extendedauthuser.profile_pic.url}}" alt="{{data.get_full_name}}">
                        <h6 class="mt-3 mb-0">{{data.get_full_name|default:'Not set'}}</h6>
                        <p>
                            <div class="star-rating">
                                <ul class="list-inline">
                                   {% if data.extendedauthuser.rating > 0 %}
                                        {% for i in data.extendedauthuser.rating|floatformat:0|ranger %}
                                        <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                        {% endfor %}
                                        {% for i in 5|sub:data.extendedauthuser.rating|floatformat:0|ranger %}
                                         <li class="list-inline-item">
                                            <span class="fa fa-star text-muted"></span>
                                         </li>
                                        {% endfor %}
                                    {% else %}
                                    <li><i class="ti-info-alt text-info"></i> User has not been rated yet</li>
                                   {% endif %}
                                </ul>
                            </div>
                        </p>
		                <div class="mt-2 row clearfix">
		                    <div class="col-12">
		                        <div class="tab-content">
		                            <div class="mt-2 tab-pane active show" id="language">
		                            	<strong>Languages:</strong>{{data.extendedauthuser.native_language|default:'Not Rating Found'}}<br>
		                            </div> 
		                            <div class="mt-2 tab-pane" id="style">
		                            	<strong>Citation Styles:</strong>{{data.extendedauthuser.citation_style|default:'Not Set'}}
		                            </div> 
		                            <div class="mt-2 tab-pane" id="bio">
                        				<p>{{data.extendedauthuser.bio|default:'Not bio Found'}}</p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                  <div class="mt-2 row">
                            <div class="col-12">
                                <div class="d-lg-flex justify-content-between" >
                                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist"  style="display:inline-block;white-space: nowrap;overflow-x:scroll;">
                                        <li  class="nav-item"><a class="nav-link" data-toggle="tab" href="#reviews_{{data.id}}">Client reviews</a></li>
                                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#language_{{data.id}}">Languages</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#style_{{data.id}}">Citation styles</a></li>
                                        <li  class="nav-item"><a class="nav-link" data-toggle="tab" href="#bio_{{data.id}}">Bio</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-3 col-12">
                                <div class="tab-content">
                                    <div class="mt-2 tab-pane active show" id="language_{{data.id}}">
                                        <strong>Languages:</strong>{{data.extendedauthuser.native_language|decoder|default:'Not language(s) Found'}}<br>
                                    </div> 
                                    <div class="mt-2 tab-pane" id="style_{{data.id}}">
                                        <strong>Citation Styles:</strong>{{data.extendedauthuser.citation_style|decoder|default:'Not Set'}}
                                    </div> 
                                    <div class="mt-2 tab-pane" id="bio_{{data.id}}">
                                        <p>{{data.extendedauthuser.bio|default:'Not bio Found'}}</p>
                                    </div>
                                    <div class="mt-2 tab-pane" id="reviews_{{data.id}}">
                                      <div style="text-align:left !important;">
                                           {% for item in bids %}
                                           <p class="float-left">
                                                <div class="badge badge-info">{{forloop.counter}}</div> 
                                                {{item.comment|default:'no comment here'}}
                                            </p>
                                           <hr>
                                           {% empty %}
                                           <p><i class="ti-info-alt text-info"></i> No comments found</p>
                                           {% endfor %}
                                           <a href="{% url 'writer reviews' id=data.id %}" class="float-right">see all</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-12 text-center">
                                <a href="{% url 'new order' %}?visitor={{data.username}}" class="btn btn-primary btn-round"><i class="ti-hand-open"></i> Request Writer</a>
                            </div>
                        </div>
                        <div class="row text-center mt-4">
                            <div class="col-6 border-right">
                                <label class="mb-0">Projects Completed</label>
                                <h4 class="font-18">{{data.extendedauthuser.completed_projects|intcomma}}</h4>
                            </div>
                            <div class="col-6">
                                <label class="mb-0">Projects Inprogress</label>
                                <h4 class="font-18">{{data.extendedauthuser.inprogress_projects|intcomma}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
            	<p><i class="ti-info-alt"></i> No more writers located</p>
            </div>
            {% endfor %}
            <ul class="pagination pagination-primary">
                {% if users.has_previous %}
                <li class="page-item active"><a class="page-link" href="{% url 'writer' id=data.id %}?page={{users.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                {% endif %}
                {% if users.has_next %}
                <li class="page-item active"><a class="page-link" href="{% url 'writer' id=data.id %}?page={{users.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}