{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item active " aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="d-lg-flex justify-content-between">
                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Writer">Writer</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Customer">Customer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="Writer">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="{% url 'manage reviews' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Writers Reviews (<span class="spanner">{{writer_count|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Category</th>
                                                <th>Name</th>
                                                <th>Title</th>
                                                <th>Text</th>
                                                <th>Profile Pic</th>
                                                <th>Created on</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in writer_reviews %}
                                            <tr id="id_{{payment.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{item.category}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.title}}</td>
                                                <td class="text-truncate">{{item.message}}</td>
                                                <td>
                                                    {% if item.image %}
                                                    <img style="width:60px;height:60px;border:2px solid #fff;border-radius:50%;" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{item.image.url}}" alt="{{item.name}}" class="img-responsive">
                                                    {% else %}
                                                    Not Set
                                                    {% endif %}
                                                </td>
                                                <td><span>{{item.created_on}}</span></td>
                                                <td>
                                                    <a href="{% url 'edit writer review' id=item.id %}" class="btn btn-success btn-round" type="button"><i class="zmdi zmdi-edit"></i> Edit</a>
                                                    <button data-url="{% url 'delete writer review' id=item.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete </button>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="8" class="text-center">
                                                    <div class=" text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                           <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if writer_reviews.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'all reviews' %}?page={{writer_reviews.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if writer_reviews.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'all reviews' %}?page={{writer_reviews.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                           </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Customer">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="{% url 'manage customer reviews' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Customer Reviews (<span class="spanner">{{customer_count|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Category</th>
                                                <th>Name</th>
                                                <th>Title</th>
                                                <th>Text</th>
                                                <th>Profile Pic</th>
                                                <th>Created on</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in customer_reviews %}
                                            <tr id="id_{{payment.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{item.category}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.title}}</td>
                                                <td  class="text-truncate">{{item.message}}</td>
                                                <td>
                                                    {% if item.image %}
                                                    <img style="width:60px;height:60px;border:2px solid #fff;border-radius:50%;" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{item.image.url}}" alt="{{item.name}}" class="img-responsive">
                                                    {% else %}
                                                    Not Set
                                                    {% endif %}
                                                </td>
                                                <td><span>{{item.created_on}}</span></td>
                                                <td>
                                                    <a href="{% url 'edit customer review' id=item.id %}" class="btn btn-success btn-round" type="button"><i class="zmdi zmdi-edit"></i> Edit</a>
                                                    <button data-url="{% url 'delete customer review' id=item.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete </button>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="8" class="text-center">
                                                    <div class=" text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <ul class="pagination pagination-primary">
                                {% if customer_reviews.has_previous %}
                                <li class="page-item active"><a class="page-link" href="{% url 'all reviews' %}?page={{customer_reviews.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                {% endif %}
                                {% if customer_reviews.has_next %}
                                <li class="page-item active"><a class="page-link" href="{% url 'all reviews' %}?page={{customer_reviews.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}