{% load static %}
{% load humanize %}
{% load truncate %}
<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="Devme, https://tevinly.com/">
    <title>{% if obj.site_name %} {{obj.site_name}}  {% else %} {{site_name}} {% endif %} / {{title}}</title>
    <meta name="description" content="{{obj.description}}">
    <meta name="author" content="{{designer_name}}">
    <meta name="theme-color" content="{{obj.theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{obj.theme_color}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{obj.theme_color}}">
    <meta name="keywords" content="{{obj.key_words}}">
    <meta property="og:site_name" content="{{obj.site_name}}">
    <meta property="og:url" content="{{obj.site_url}}">
    <meta http-equiv="Content-type" content="text/html;charset:utf-8">
    <meta property="og:type" content="website"> 
    <meta property="twitter:site" content="https://twitter.com/Kevin36285655">
    <meta property="twitter:title" content="@Kevin36285655">
    <meta property="twitter:image" content="https://twitter.com/Kevin36285655/photo">
    <meta property="twitter:description" content="Life's Simple.">
    <meta property="twitter:text:title" content="Life's Simple.">
    <meta property="og:title" content="{{obj.site_name}} | {{title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{obj.description}}">
    <meta property="og:image" content="{{obj.favicon.url}}">
    <meta name="apple-mobile-web-app-title" content="{{obj.site_name}}">
    <meta name="application-name" content="{{obj.site_name}}">
    <meta name="msapplication-TileColor" content="{{obj.theme_color}}">
    <meta name="msapplication-config" content="{% static 'manager/assets/images/logos/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{request.get_full_path}}" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="shortcut icon" href="{{obj.favicon.url}}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'panel/assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'panel/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/plugins/select2/select2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}">
    <script src="https://www.paypal.com/sdk/js?client-id={{obj.paypal_client_id}}&currency=USD"></script>
    <link rel="stylesheet" type="text/css"  href="{% static 'panel/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/plugins/bootstrap-select/css/bootstrap-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'panel/assets/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'panel/assets/css/theme1.css' %}"/>
    <link rel="stylesheet" href="{% static 'panel/assets/css/custom.css' %}"/>
    <style>
       .sidebar{
        overflow:hidden !important;
       } 
        .sidebar:hover{
        overflow:auto;
       } 
       .django-ckedito-widget{
        width:100%;
        display:inline !important;
       }
    </style>
<body class="font-montserrat">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
        </div>
    </div>

    <div id="main_content">
        <div id="header_top" class="header_top">
            <div class="container">
                <div class="hleft">
                    <a class="header-brand" href="{% url 'dashboard' %}">
                        <img src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{obj.favicon.url}}" alt="{{obj.site_name}}" title="{{obj.site_name}}" style="height:35px;" />
                    </a>
                    <div class="dropdown">
                        {% if request.user.is_authenticated %}
                        <a href="javascript:void(0)" class="nav-link user_btn">
                            <img class="avatar" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{data.extendedauthuser.profile_pic.url}}" alt="{{data.get_full_name}}" title="{{data.get_full_name}} menu" data-toggle="tooltip" data-placement="right"/>
                        </a>
                        {% endif %}
                        {% if data.extendedauthuser.category == 'writer' %}
                        <a href="{% url 'browse orders' %}" class="nav-link icon xs-hide"><i class="fa fa-search"></i></a> 
                        {% endif %}                  
                        <a href="mailto:{{obj.site_email}}"  class="nav-link icon xs-hide"><i class="ti-help"></i></a>
                        <a href="javascript:void(0)" class="nav-link icon settingbar xs-hide"><i class="fa fa-paint-brush" data-toggle="tooltip" data-placement="right" title="Themes"></i></a>
                    </div>
                </div>
                <div class="hright">
                    <a href="javascript:void(0)" class="nav-link icon d-md-flex d-none settingbar"><i class="fa fa-gear fa-spin" data-toggle="tooltip" data-placement="right" title="Settings"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa  fa-align-left"></i></a>

                    {% if data.is_staff %}
                    <div class="dropdown d-flex">
                        <a class="position-relative nav-link icon d-flex d-md-none btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-envelope text-info"></i>
                            <span class="badge badge-danger message-counter">{{contact_count|intcomma|default:0}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <ul class="right_chat list-unstyled w350 p-0">
                                {% for message in contact_messages %}
                                <li class="online">
                                    <a href="mailto:{{message.email}}" class="media">
                                        <div class="profbadge" style="background:{{message.bgcolor}}">{{message.initials|default:'M'}}</div>
                                        <div class="media-body">
                                            <span class="name">{{message.name}}</span>
                                            <div class="message text-truncate">{{message.message}}</div>
                                            <small>{{message.created_on|timesince}}</small>
                                        </div>
                                    </a>
                                </li>
                                {% empty %}
                                <li class="text-center">
                                    <p><i class="ti-info-alt"></i> No New Messages.</p>
                                </li>
                                {% endfor %}                       
                            </ul>
                            {% if contact_count > 0 %}
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'inbox messages' %}" class="dropdown-item text-center text-muted-dark readall">View All Messages</a>
                            {% endif %}
                        </div>
                    </div> 
                    {% endif %}

                    {% if not data.is_staff %}
                    <div class="dropdown d-flex">
                        <a class="position-relative nav-link icon d-flex d-md-none btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-envelope text-info"></i>
                            <span class="badge badge-danger message-counter">{{messages_count|intcomma|default:0}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <ul class="right_chat list-unstyled w350 p-0">
                                {% for message in messages %}
                                <li class="online">
                                    {% if data.extendedauthuser.category == 'writer' %}
                                        <a href="{% url 'order conversation' id=message.parent.id %}" class="media">
                                    {% else %}
                                        <a href="{% url 'bid details' id=message.bid_id %}" class="media">
                                    {% endif %}
                                        <img class="media-object" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{message.sender.extendedauthuser.profile_pic.url}}"
                                        alt="{{message.sender.get_full_name}}">
                                        <div class="media-body">
                                            <span class="name">{{message.sender.get_full_name}}</span>
                                            <div class="message">{{message.message}}</div>
                                            <small>{{message.created_on|naturaltime}}</small>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </a>
                                </li>
                                {% empty %}
                                <div class="text-center">
                                    <p><i class="ti-info-alt"></i> No New Message.</p>
                                </div>
                                {% endfor %}                       
                            </ul>
                            {% if messages_count > 0 %}
                            <div class="dropdown-divider"></div>
                            <a data-url="{% url 'mark chat read' %}" href="javascript:void(0);" class="mark_is_read_button dropdown-item text-center text-muted-dark readall">Mark All Read</a>
                            {% endif %}
                        </div>
                    </div> 
                    {% endif %}
                    <div class="notifications dropdown d-flex">
                        <a class="nav-link icon d-flex d-md-none btn btn-default btn-icon ml-2" data-toggle="dropdown">
                            <i class="ti-bell text-info"></i>
                            <span class="badge badge-info notification-counter">
                                {% if activities|length > 100 %}
                                100+
                                {% else %}
                                {{activities|length|intcomma|default:'0'}}
                                {% endif %}
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="max-height:500px;overflow:auto;">
                            <ul class="list-unstyled feeds_widget" >
                                {% for activity in activities %}
                                <li>
                                    <div class="feeds-left">{{activity.icon|safe}}</div>
                                    <div class="feeds-body">
                                        <h4 class="title text-danger">New Update <small class="float-right text-muted">{{activity.created_on|timesince}}</small></h4>
                                        <small>{{activity.name}}</small>
                                    </div>
                                </li> 
                                {% empty %}
                                <div class="text-center">
                                    <p><i class="ti-info-alt"></i> No New Update.</p>
                                </div>
                                {% endfor %}                                  
                            </ul>
                            {% if activity_count > 0 %}
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                            {% endif %}
                        </div>
                    </div>        
                </div>
            </div>
        </div>

        <div id="rightsidebar" class="right_sidebar">
            <a href="javascript:void(0)" class="p-3 settingbar float-right"><i class="fa fa-close"></i></a>
            <div class="p-4">
                <div class="mb-4">
                    <h6 class="font-14 font-weight-bold text-muted">Font Style</h6>
                    <div class="custom-controls-stacked font_setting">
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="font" value="font-opensans">
                            <span class="custom-control-label">Open Sans Font</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="font" value="font-montserrat" checked="">
                            <span class="custom-control-label">Montserrat Google Font</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="font" value="font-roboto">
                            <span class="custom-control-label">Robot Google Font</span>
                        </label>
                    </div>
                </div>
                <hr>
                <div>
                    <h6 class="font-14 font-weight-bold mt-4 text-muted">General Settings</h6>
                    <ul class="setting-list list-unstyled mt-1 setting_switch">
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Night Mode</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-darkmode">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Fix Navbar top</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-fixnavbar">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Header Dark</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-pageheader" checked="">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Min Sidebar Dark</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-min_sidebar">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Sidebar Dark</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-sidebar">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Icon Color</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-iconcolor">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Gradient Color</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-gradient">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Box Shadow</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxshadow">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-switch">
                                <span class="custom-switch-description">Box Layout</span>
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxlayout">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="user_div">
            <h5 class="brand-name mb-4">{{obj.site_name}}<a href="javascript:void(0)" class="user_btn"><i class="ti-angle-left"></i></a></h5>
            <div class="card-body">
               <div class="text-center">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' username=data.username %}">
                        <img style="width:80px;height:80px;" class="img-responsive card-profile-img" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{data.extendedauthuser.profile_pic.url}}" alt="{{data.get_full_name}}" title="{{data.get_full_name}}"/>
                    </a>
                    {% endif %}
                    <h6 class="mb-0">{{data.get_full_name}}</h6>
                    <span>{{data.email}}</span>
                    {% if not data.is_staff %}
                    <div class="d-flex align-items-baseline mt-3">
                        <h3 class="mb-0 mr-2">{{user.extendedauthuser.rating|floatformat:1|default:'0.0'}}/5 </h3>
                    </div>
                    {% endif %}
               </div>
                {% if not data.is_staff %}
                <div class="progress progress-xs">
                    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-orange" role="progressbar" style="width: 5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-indigo" role="progressbar" style="width: 13%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h6 class="text-uppercase font-10 mt-1">Performance Score</h6>
                {% endif %}
                <hr>
                <p>Activity</p>
                <ul class="new_timeline">
                    {% for activity in activities %}
                    <li>
                        <div class="bullet pink"></div>
                        <div class="time">{{activity.created_on|timesince}}</div>
                        <div class="desc">
                            <p>{{activity.name}}</p>
                        </div>
                    </li>
                    {% empty %}
                       <div class="text-center"> 
                            <p><i class="ti-info-alt text-success"></i> No Activity found.</p>
                       </div>   
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="left-sidebar" class="sidebar">
            <h5 class="brand-name">{{obj.site_name}} <a href="javascript:void(0)" class="menu_option float-right"><i class="ti-layout-grid3 font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul class="metismenu">
                    <li class="g_heading">Menu</li>
                    <li class="active"><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li> 
                    {% if data.is_superuser %}
                    <li>
                        <a href="javascript:void(0)" class="has-arrow arrow-c"><i class="ti-settings"></i><span>Manage Settings</span></a>
                        <ul>
                            <li><a href="{% url 'site settings' %}">General Site Settings</a></li>
                            <li><a href="{% url 'payment' %}">Payment methods</a></li>
                            <li><a href="{% url 'service' %}">Service type</a></li>
                            <li><a href="{% url 'displine' %}">Manage displines</a></li>
                            <li><a href="{% url 'citation' %}">Citation styles</a></li>
                            <li><a href="{% url 'academic' %}">Academic Degrees</a></li>   
                            <li><a href="{% url 'language' %}">Manage language</a></li>   
                            <li><a href="{% url 'paper' %}">Paper Type</a></li>   
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="has-arrow arrow-c"><i class="ti-book "></i><span>Grammar Settings</span></a>
                        <ul>
                            <li><a href="{% url 'questions' %}">Questions</a></li>
                        </ul>
                    </li> 
                    <li>
                        <a href="javascript:void(0)" class="has-arrow arrow-c"><i class="ti-layout-list-thumb-alt"></i><span>Manage pages</span></a>
                        <ul>
                            <li><a href="{% url 'manage faqs' %}">FAQs</a></li>
                            <li><a href="{% url 'works' %}">How it works page</a></li>
                            <li><a href="{% url 'infotips' %}">Manage infotips</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="has-arrow arrow-c"><i class="ti-shopping-cart"></i><span>Manage Orders</span></a>
                        <ul>
                            <li><a href="{% url 'orders' %}">All Orders</a></li>
                            <li><a href="{% url 'ratings and reviews' %}">Ratings And Review Management</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'account activities' %}"><i class="fa fa-align-right"></i><span>Account Activities</span></a></li>
                    <li><a href="{% url 'manage cms' %}"><i class="ti-layout-cta-center"></i><span>CMS</span></a></li>
                    <li><a href="{% url 'admins' %}"><i class="ti-shield"></i><span>Admins</span></a></li>
                    <li><a href="{% url 'users' %}"><i class="ti-user"></i><span>Users</span></a></li>
                    <li><a href="{% url 'all reviews' %}"><i class="ti-comments"></i><span>Manage Reviews</span></a></li>
                    <li>
                        <a href="javascript:void(0)" class="has-arrow arrow-c"><i class="zmdi zmdi-blogger"></i><span>Manage samples</span></a>
                        <ul>
                            <li><a href="{% url 'app samples' %}">Samples</a></li>
                        </ul>
                    </li>
                    {% endif %} 
                    {% if data.extendedauthuser.category == 'writer' %}
                    <li><a href="{% url 'browse orders' %}"><i class="fa fa-calendar-check-o"></i><span>Browse Orders</span></a></li>
                    <li><a href="{% url 'my orders writer' %}"><i class="ti-shopping-cart"></i><span>My Orders</span></a></li>         
                    <li>
                        <a href="{% url 'writer earnings' %}"><i class="ti-money"></i> Earnings</a>
                    </li>
                    {% endif %}
                    {% if data.extendedauthuser.category == 'customer' %}
                    <li class="mr-2"><b><a class="btn btn-primary btn-round btn-sm"  style="color:#fff;" href="{% url 'new order' %}"><i class="ti-plus"></i> Place new Order</a></b></li>
                    <li><a href="{% url 'my orders' %}"><i class="ti-shopping-cart"></i><span>My Orders</span></a></li>
                    {% endif %}
                    {% if data.is_staff %}
                        <li class="g_heading">App</li>
                        <li><a href="{% url 'site settings' %}"><i class="fa fa-gear"></i><span>Setting</span></a></li>
                        <li><a href="{% url 'broadcasts' %}"><i class="fa fa-users"></i><span>Broadcast</span></a></li>
                    {% endif %}
                    {% if data.extendedauthuser.category == 'customer' %} 
                        <li><a href="{% url 'topup' %}"><i class="ti-money"></i><span>Payments</span></a></li>
<!--                         <li><a href="{% url 'all writer reviews' %}"><i class="ti-check"></i><span>Reviews</span></a></li>
 -->                    {% endif %}
                    {% if not data.is_staff %}
                    <li class="g_heading">Support</li>
                    <li><a href="mailto:{{obj.site_email}}"><i class="fa fa-support"></i><span>Need Help?</span></a></li>
                    <li><a href="{% url 'contact' %}"><i class="fa fa-tag"></i><span>Contact Us</span></a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="d-md-none d-block">
                        <a href="{% url 'profile' username=data.username %}"><i class="ti-user"></i> Profile</a>
                    </li>
                    {% endif %} 
                    <li class="g_heading">Account</li>
                    {% if data.extendedauthuser.category == 'writer' %}
                    <li class="d-md-none d-block">
                        <a href="{% url 'writer earnings' %}"><i class="ti-money"></i> Earnings: <span class="badge badge-info p-2 float-right mr-2 ">{{obj.currency_symbol}} {{data.extendedauthuser.balance|intcomma|default:0}}</span></a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated and not data.is_staff %}
                    <li><a href="{% url 'my messages' %}"><i class="fa fa-align-right"></i>Support Messages <span class="badge badge-info p-2 float-right mr-2 support">{{broadcasts_count|intcomma|default:0}}</span></a></li> 
                    {% endif %}
                    {% if not request.user.is_authenticated %}
                    <li class="d-md-none d-flex">
                        <a href="{% url 'login' %}"><i class="ti-user"></i>Login</a>
                    </li> 
                    {% endif %}
                    {% if data.extendedauthuser.category == 'customer' %} 
                    <li class="d-md-none d-block">
                        <a href="javascript:void(0);"><i class="dropdown-icon ti-money"></i> Balance: <span class="badge badge-info p-2 float-right">{{obj.currency_symbol}} {{data.extendedauthuser.balance|intcomma|default:0}}</span></a>
                    </li> 
                    <li class="d-md-none d-block">
                        <a href="javascript:void(0);"><i class="dropdown-icon ti-money"></i> Reserved Balance: <span class="badge badge-info p-2 float-right">{{obj.currency_symbol}} {{data.extendedauthuser.reserved_money|intcomma|default:0}}</span></a>
                    </li>
                    {% endif %}
                    {% if data.is_superuser %}
                    <li class="d-md-none d-block">
                        <a href="{% url 'site settings' %}"><i class="dropdown-icon ti-settings"></i> Settings</a>
                    </li>
                    <li class="d-md-none d-block">
                        <a  href="{% url 'messages' %}"><span class="float-right"><span class="badge badge-primary inbox_counter"></span></span><i class="dropdown-icon ti-themify-favicon"></i> Inbox</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="d-md-none d-block">
                        <a href="{% url 'lock screen' username=data.username %}"><i class="ti-key"></i> Lock Screen</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="d-md-none d-block">
                        <a href="{% url 'logout' %}"><i class="ti-power-off"></i> Sign out</a>
                    </li>  
                    {% endif %}                    
                </ul>
            </nav>        
        </div>

        <div class="page">
            <div id="page_top" class="section-body top_dark">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="left">
                            <a href="javascript:void(0)" class="icon menu_toggle mr-3 "><i class="fa fa-align-left"></i></a>
                        </div>
                        <div class="text-md-left text-center">
                            <h1 class="page-title text-truncate">{{title|truncate|safe}}</h1>                        
                        </div>
                        <div class="right">
                            <div class="notification d-flex">
                                <div class="dropdown d-flex">
                                    <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'panel/assets/images/flags/us.svg' %}">English</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'panel/assets/images/flags/es.svg' %}">Spanish</a>
                                        <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'panel/assets/images/flags/jp.svg' %}">japanese</a>
                                        <a class="dropdown-item" href="#"><img class="w20 mr-2" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'panel/assets/images/flags/bl.svg' %}">France</a>
                                    </div>
                                </div>
                                {% if data.is_staff %}
                                <div class="dropdown d-flex">
                                    <a class="position-relative nav-link icon d-flex d-md-flex d-none btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-envelope"></i>
                                        <span class="badge badge-danger message-counter">{{contact_count|intcomma|default:0}}</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <ul class="right_chat list-unstyled w350 p-0">
                                            {% for message in contact_messages %}
                                            <li class="online">
                                                <a href="{% url 'message single' id=message.id %}" class="media">
                                                    <div class="profbadge" style="background:{{message.bgcolor}}">{{message.initials|default:'M'}}</div>
                                                    <div class="media-body">
                                                        <span class="name">{{message.name}}</span>
                                                        <div class="message text-truncate">{{message.message}}</div>
                                                        <small>{{message.created_on|timesince}}</small>
                                                    </div>
                                                </a>
                                            </li>
                                            {% empty %}
                                            <li class="text-center">
                                                <p><i class="ti-info-alt"></i> No New Messages.</p>
                                            </li>
                                            {% endfor %}                       
                                        </ul>
                                        {% if contact_count > 0 %}
                                        <div class="dropdown-divider"></div>
                                        <a href="{% url 'inbox messages' %}" class="dropdown-item text-center text-muted-dark readall">View All Messages</a>
                                        {% endif %}
                                    </div>
                                </div> 
                                {% endif %}
                                {% if not data.is_staff %}
                                <div class="dropdown d-flex">
                                    <a class="position-relative nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-envelope"></i>
                                        <span class="badge badge-danger message-counter">{{messages_count|intcomma|default:0}}</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <ul class="right_chat list-unstyled w350 p-0">
                                            {% for message in messages %}
                                            <li class="online">
                                                {% if data.extendedauthuser.category == 'writer' %}
                                                    <a href="{% url 'order conversation' id=message.parent.id %}" class="media">
                                                {% else %}
                                                    <a href="{% url 'bid details' id=message.bid_id %}" class="media">
                                                {% endif %}
                                                    <img class="media-object" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{message.sender.extendedauthuser.profile_pic.url}}"
                                                    alt="{{message.sender.get_full_name}}">
                                                    <div class="media-body">
                                                        <span class="name">{{message.sender.get_full_name}}</span>
                                                        <div class="message">{{message.message}}</div>
                                                        <small>{{message.created_on|naturaltime}}</small>
                                                        <span class="badge badge-outline status"></span>
                                                    </div>
                                                </a>
                                            </li>
                                            {% empty %}
                                            <div class="text-center">
                                                <p><i class="ti-info-alt"></i> No New Message.</p>
                                            </div>
                                            {% endfor %}                       
                                        </ul>
                                        {% if messages_count > 0 %}
                                        <div class="dropdown-divider"></div>
                                        <a data-url="{% url 'mark chat read' %}" href="javascript:void(0);" class="mark_is_read_button dropdown-item text-center text-muted-dark readall">Mark All Read</a>
                                        {% endif %}
                                    </div>
                                </div>

                                {% endif %}
                                <div class="notifications dropdown d-flex">
                                    <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="ti-bell"></i>
                                        <span class="badge badge-info notification-counter">
                                            {% if activities|length > 100 %}
                                            100+
                                            {% else %}
                                            {{activities|length|intcomma|default:'0'}}
                                            {% endif %}
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="max-height:500px;overflow:auto;">
                                        <ul class="list-unstyled feeds_widget" >
                                            {% for activity in activities %}
                                            <li>
                                                <div class="feeds-left">{{activity.icon|safe}}</div>
                                                <div class="feeds-body">
                                                    <h4 class="title text-danger">New Update <small class="float-right text-muted">{{activity.created_on|timesince}}</small></h4>
                                                    <small>{{activity.name}}</small>
                                                </div>
                                            </li> 
                                            {% empty %}
                                            <div class="text-center">
                                                <p><i class="ti-info-alt"></i> No New Update.</p>
                                            </div>
                                            {% endfor %}                                  
                                        </ul>
                                        {% if activity_count > 0 %}
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="dropdown d-flex">
                                    <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="ti-user"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'profile' username=data.username %}"><i class="dropdown-icon ti-user"></i> Profile</a>
                                        {% endif %}
                                        {% if data.extendedauthuser.category == 'writer' %}
                                        <a class="dropdown-item" href="{% url 'writer earnings' %}"><i class="dropdown-icon ti-money"></i> Earnings: <span class="badge badge-info p-2 float-right">{{obj.currency_symbol}} {{data.extendedauthuser.balance|intcomma}}</span></a>
                                        {% endif %} 

                                        {% if data.extendedauthuser.category == 'customer' %} 
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="dropdown-icon ti-money"></i> Balance: <span class="badge badge-info p-2 float-right">{{obj.currency_symbol}} {{data.extendedauthuser.balance|intcomma}}</span></a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="dropdown-icon ti-money"></i> Reserved Balance: <span class="badge badge-info p-2 float-right">{{obj.currency_symbol}} {{data.extendedauthuser.reserved_money|intcomma}}</span></a>
                                        <a class="dropdown-item" href="{% url 'new order' %}"><i class="dropdown-icon ti-plus"></i> Place new Order</a>
                                        {% endif %}

                                        {% if data.is_superuser %}
                                        <a class="dropdown-item" href="{% url 'site settings' %}"><i class="dropdown-icon ti-settings"></i> Settings</a>
                                        <a class="dropdown-item" href="{% url 'messages' %}"><span class="float-right"><span class="badge badge-primary inbox_counter"></span></span><i class="dropdown-icon ti-themify-favicon"></i> Inbox</a>
                                        {% endif %}
                                        {% if not data.is_staff %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="mailto:{{obj.site_email}}"><i class="dropdown-icon ti-help"></i> Need help?</a>
                                        <a class="dropdown-item" href="{% url 'contact' %}"><i class="dropdown-icon ti-tag"></i>Support</a>
                                        {% endif %}
                                        {% if request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'lock screen' username=data.username %}"><i class="ti-key"></i> Lock Screen</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="ti-power-off"></i> Sign out</a>
                                        {% endif %}
                                        {% if not request.user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'login' %}"><i class="dropdown-icon ti-user"></i> Login</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block body %}  
            {% endblock %}    
            <div class="section-body">
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <a target="_blank" href="{{designer_link}}">&copy; {% now 'Y' %} {{obj.site_name}}.All rights Reserved. Coded and Designed By {{designer_name}}</a>
                            </div>
                            <div class="col-md-6 col-sm-12 text-md-right">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"><a href="{% url 'about' %}">About us</a></li>
                                    <li class="list-inline-item"><a href="{% url 'faqs' %}">FAQ</a></li>
                                    <li class="list-inline-item"><a href="{% url 'terms and conditions' %}" class="btn btn-outline-primary btn-sm">Terms And Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
          </div>
        </div>    
    </div>
    <!-- small model -->
    <div id="myModal" class="modal fade small-model">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="ti-check"></i>
                    </div>              
                    <h4 class="modal-title w-100"></h4> 
                </div>
                <div class="modal-body">
                    <p class="text-center"></p>
                </div>
               <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-success btn-block btn-round" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- //small model -->

    <!-- delete model -->
    <div class="modal fade delete-model">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box" style="background:#d64242 !important" data-dismiss="modal">
                        <i class="ti-close"></i>
                    </div>              
                    <h4 class="modal-title w-100"></h4> 
                </div>
                <div class="modal-body">
                    <p class="text-center"></p>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-success btn-block btn-round" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //delete model -->
    <div class="row">
        <div class="col-md-5 col-12 mx-auto cookie-container" style="z-index:9999;">
            <p>We use cookie in this website to give you the best experience on our site and show you relevant ads.To find out more, read our  <a class="page-refresher" href="{% url 'privacy policy' %}">privacy policy</a> and <a class="page-refresher" href="{% url 'terms and conditions' %}">terms and conditions</a></p>
            <div class="mt-2 text-center">
                <button class="btn cookieBtn">ok</button>
            </div>
        </div>
    </div>
    {{data.pk|json_script:"userid" }}
    {{data.username|json_script:"room-name" }}
    <script src="{% static 'panel/assets/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'panel/assets/bundles/lib.vendor.bundle.js' %}"></script>
    <script src="{% static 'panel/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'panel/assets/bundles/apexcharts.bundle.js' %}"></script>
    <script src="{% static 'panel/assets/bundles/counterup.bundle.js' %}"></script>
    <script src="{% static 'panel/assets/bundles/knobjs.bundle.js' %}"></script>
    <script src="{% static 'panel/assets/bundles/c3.bundle.js' %}"></script>
    <script src="{% static 'panel/assets/js/core.js' %}"></script>
    <script src="{% static 'panel/assets/js/page/project-index.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script> 
    <script src="{% static 'panel/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script> 
    <script src="{% static 'panel/assets/plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script> 
    <script src="{% static 'panel/assets/plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/nouislider/nouislider.js' %}"></script>
    <script src="{% static 'panel/assets/bundles/datatablescripts.bundle.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/jquery-datatable/buttons/buttons.flash.min.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js' %}"></script>
    <script src="{% static 'panel/assets/plugins/jquery-datatable/buttons/buttons.print.min.js' %}"></script>
    <script src="{% static 'panel/assets/js/page/jquery-datatable.js' %}"></script>
    <script src="{{obj.tidio_script}}" async></script>
    <script src="{% static 'panel/assets/js/custom.js' %}"></script>
</body>
</html>
