{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load filename %}
{% load truncate %}
{% load ranger %}
{% load mathfilters %}
{% load due %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'browse orders' %}">Browse orders</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{title}}</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <div class="table-responsive table-results">
                                <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                    <tr>
                                        <th><strong>Profile Pic</strong></th>
                                        <td>
                                            <img style="width:120px;height:120px;border:2px solid #fff;border-radius:50%;" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{order.user.extendedauthuser.profile_pic.url}}" alt="{{order.user.get_full_name}}" class="img-responsive">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><strong>Customer Name:</strong></th>
                                        <td>{{order.user.get_full_name}}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Writer Rating:</strong></th>
                                        <td>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                   {% if order.user.extendedauthuser.rating > 0 %}
                                                        {% for i in order.user.extendedauthuser.rating|floatformat:0|ranger %}
                                                        <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                                        {% endfor %}
                                                        {% for i in 5|sub:order.user.extendedauthuser.rating|floatformat:0|ranger %}
                                                         <li class="list-inline-item">
                                                            <span class="fa fa-star text-muted"></span>
                                                         </li>
                                                        {% endfor %}
                                                        <li class="list-inline-item">({{order.user.extendedauthuser.rating_counter|intcomma}})
                                                        </li>
                                                   {% endif %}
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><strong>Completed:</strong></th>
                                        <td>{{user.extendedauthuser.completed_projects|intcomma|default:'0'}} orders</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Topic:</strong></th>
                                        <td>{{order.topic}}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Pages:</strong></th>
                                        <td>{{order.pages|intcomma}}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Words per page:</strong></th>
                                        <td>{{order.words_per_page|intcomma}}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Category:</strong></th>
                                        <td>{{order.category}}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Format/Citation Style:</strong></th>
                                        <td>{{order.citation_style}}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Paper instructions</strong></th>
                                        <td class="text-truncate">{{order.paper_instructions|truncate|safe}}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Date Due:</strong></th>
                                        <td>{{order.deadline|due}}</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Date created:</strong></th>
                                        <td>{{order.created_on|naturaltime}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            <a  href="{% url 'writer' id=order.user.id %}" class="btn btn-outline-info btn-round" ><i class="ti-user"></i> View profile</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal fade  bd-example-modal-lg" id="largeModel" tabindex="-1" role="dialog" aria-labelledby="largeModel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{order.order_id}} more instructions.</b></h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                          <hr>  
                                      </div>
                                      <div class="modal-body">
                                        <p>{{order.paper_instructions}}</p>
                                      </div>
                                      <div class="modal-footer"> 
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                            </div>
                                        </div>   
                                      </div>    
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="height:700px;overflow:scroll;">
                <div class="row">
                    {% if data.extendedauthuser.category == 'writer' %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Provided materials</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th><b>#</b></th>
                                                <td><b>Provided Materials</b></td>
                                                <td><b>Posted on</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for file in media %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    {% if file.additional_materials.url %}
                                                    <a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a>
                                                    {% else %}
                                                    <p class="text-center"><i class="ti-close text-info"></i >No file found</p>
                                                    {% endif %}
                                                </td>
                                                <td>{{file.created_on|naturaltime}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                    <p><i class="ti-info-alt text-info"></i> Not Provided</p>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                   </table>
                               </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-12">
                       <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Bidding</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="" class="ActiveForm" method="post">
                                    {% csrf_token %}
                                    <div class="table-responsive table-results">
                                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                            <tr>
                                                <th><strong>Client Budget:</strong></th>
                                                <td>
                                                    {{obj.currency_symbol}} {{order.budget|intcomma|floatformat:0}}
                                                    <input type="hidden" value="{{order.budget}}" name="budget">
                                                </td>
                                            </tr> 
                                            {% with result=obj.commision_percent|div:100 %}
                                            <tr>
                                                <th><strong>Service charge:</strong></th>
                                                <td>
                                                    {{obj.currency_symbol}} {{result|mul:order.budget|floatformat:2}}
                                                    <input type="hidden" value="{{result|mul:order.budget}}" name="service_charge">
                                                </td>
                                            </tr>
                                            {% endwith %}
                                            <tr>
                                                <th><strong>Your Earnings: <i style="cursor:pointer;" data-toggle="tooltip" data-placement="bottom" title="{{obj.commision_percent}}% will be deducted from the amount,you will bid on order." class="ti-help text-info"></i></strong></th>
                                                {% with result=obj.commision_percent|div:100 %}
                                                    {% with res=result|mul:order.budget %}
                                                        <td>{{obj.currency_symbol}}:{{order.budget|sub:res}}</td>
                                                        <input type="hidden" value="{{order.budget|sub:res}}" name="payable">
                                                    {% endwith %}
                                                {% endwith %}
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="form-group">
                                                        <label class="custom-control custom-checkbox">
                                                            <input aria-label="tos" type="checkbox" class="custom-control-input" name="tos" />
                                                            <span class="custom-control-label">I agree to <a target="_blank" href="{% url 'terms and conditions' %}">Terms and Conditions</a></span>
                                                        </label>
                                                        <div class="feedback"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-center">
                                                    {% if new_projects > 0 %}
                                                    <a href="{% url 'browse orders' %}" class="btn btn-outline-success btn-round"><i class="ti-plus"></i> Browse more orders</a>
                                                    {% else %}
                                                    <a href="{% url 'my orders writer' %}" class="btn btn-primary btn-round"><i class="ti-shopping-cart"></i> My orders</a>
                                                    {% endif %}
                                                    {% if bid.has_bid %}
                                                    <button class="btn btn-primary btn-round " disabled><i class="ti-hand-stop"></i> Bid Placed</button>
                                                    {% else %}
                                                    <button class="btn btn-primary btn-round"><i class="ti-hand-stop"></i> Place Bid</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>  
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}