{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load ranger %}
{% load filename %}
{% load mathfilters %}
{% load truncate %}
{% load due %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'orders' %}">All Orders</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="card">
                    <h6 class="p-2 text-center"><span class="text-success">#{{order.parent.order_id}} | {{order.parent.topic}}</span></h6>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                          <tr>
                              <th><strong>Profile Pic</strong></th>
                              <td>
                                <a href="{% url 'writer' id=order.parent.user_id %}">
                                  <img style="width:120px;height:120px;border:2px solid #fff;border-radius:50%;" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{order.user.extendedauthuser.profile_pic.url}}" alt="{{order.user.get_full_name}}" class="img-responsive">
                                </a>
                              </td>
                          </tr>
                          <tr>
                              <th><strong>Customer Name:</strong></th>
                              <td>
                                  <a href="{% url 'writer' id=order.parent.user_id %}">
                                    {{order.parent.user.get_full_name}}
                                  </a>
                              </td>
                          </tr>
                          <tr>
                              <th><strong>Writer Rating:</strong></th>
                              <td>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                          {% if order.user.extendedauthuser.rating > 0 %}
                                          {% for i in order.user.extendedauthuser.rating|floatformat:0|ranger %}
                                          <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                          {% endfor %}
                                          {% for i in 5|sub:order.user.extendedauthuser.rating|floatformat:0|ranger %}
                                          <li class="list-inline-item">
                                              <span class="fa fa-star text-muted"></span>
                                          </li>
                                          {% endfor %}
                                          <li class="list-inline-item">({{order.user.extendedauthuser.rating_counter|intcomma}})
                                          </li>
                                          {% endif %}
                                      </ul>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <th><strong>Completed:</strong></th>
                              <td>{{order.parent.user.extendedauthuser.completed_projects|intcomma|default:'0'}} orders</td>
                          </tr>
                          <tr>
                              <th><strong>Topic:</strong></th>
                              <td>{{order.parent.topic}}</td>
                          </tr>
                          <tr>
                              <th><strong>Pages:</strong></th>
                              <td>{{order.parent.pages|intcomma}}</td>
                          </tr>
                          <tr>
                              <th><strong>Words per page:</strong></th>
                              <td>{{order.parent.words_per_page|intcomma|default:0}}</td>
                          </tr>
                          <tr>
                              <th><strong>Category:</strong></th>
                              <td>{{order.parent.category}}</td>
                          </tr>
                          <tr>
                              <th><strong>Format/Citation Style:</strong></th>
                              <td>{{order.parent.citation_style}}</td>
                          </tr>
                          <tr>
                              <th><strong>Paper instructions</strong></th>
                              <td class="text-truncate">{{order.parent.paper_instructions|truncate|safe}}</td>
                          </tr>
                          <tr>
                              <th><strong>Client's Budget:</strong></th>
                              <td>{{order.parent.budget|intcomma|default:0}}</td>
                          </tr> 
                          <tr>
                              <th><strong>Date Due:</strong></th>
                              <td>{{order.parent.deadline|due}}</td>
                          </tr>
                          <tr>
                              <th><strong>Date created:</strong></th>
                              <td>{{order.parent.created_on|naturaltime}}</td>
                          </tr>
                          <tr>
                              <td colspan="2" class="text-center">
                                  <a href="{% url 'writer' id=order.parent.user.id %}" class="btn btn-outline-info btn-round"><i class="ti-user"></i> View profile</a>
                                  {% if order.has_bid and not order.parent.is_accepted %}
                                  <button class="btn btn-outline-success btn-round" disabled><i class="ti-hand-open"></i> Bid Placed</button>
                                  {% elif order.parent.is_accepted %}
                                  <button class="btn btn-outline-success btn-round" disabled><i class="ti-hand-open"></i> Bid Accepted</button>
                                  {% else %}
                                  <a href="{% url 'place bid' id=order.id %}" class="btn btn-outline-success btn-round"><i class="ti-hand-open"></i> Place Bid</a>
                                  {% endif %}
                              </td>
                          </tr>
                      </table>
                    </div>
                </div>
                <div class="modal fade  bd-example-modal-lg" id="largeModel" tabindex="-1" role="dialog" aria-labelledby="largeModel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{order.parent.order_id}} instructions.</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <hr>
                            </div>
                            <div class="modal-body">
                                <p>{{order.parent.paper_instructions}}</p>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close"> </i> Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                {% if order %}
                                <h3 class="card-title">Client Provided materials by <a class="text-info" href="javascript:void(0);">{{order.parent.user.get_full_name}}</a></h3>
                                {% else %}
                                <h3 class="card-title">Client Provided materials</h3>
                                {% endif %}
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th><b>#</b></th>
                                                <td><b>Provided Materials</b></td>
                                                <td><b>Posted on</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for file in media %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    {% if file.additional_materials.url %}
                                                    <a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a>
                                                    {% else %}
                                                    <p class="text-center"><i class="ti-close text-info"></i >No file found</p>
                                                    {% endif %}
                                                </td>
                                                <td>{{file.created_on|naturaltime}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                    <p><i class="ti-info-alt text-info"></i> Not Provided</p>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    <hr>
                    {% if order.parent.is_accepted %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                {% if order %}
                                <h3 class="card-title">Submitted answer materials by <a class="text-info" href="{% url 'writer' id=order.user.id %}"> {{order.user.get_full_name}}(You)</a></h3>
                                {% else %}
                                <h3 class="card-title">Submitted asnswer materials</h3>
                                {% endif %}
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th><b>#</b></th>
                                                <td><b>Provided Materials</b></td>
                                                <td><b>Posted on</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for file in answers %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>
                                                    {% if file.additional_materials.url %}
                                                    <a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a>
                                                    {% else %}
                                                    <p class="text-center"><i class="ti-close text-info"></i >No file found</p>
                                                    {% endif %}
                                                </td>
                                                <td>{{file.created_on|naturaltime}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                    <p><i class="ti-info-alt text-info"></i> Not Provided</p>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    {% if not order.parent.is_completed %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Upload additional materials</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'answer materials' id=order.parent.id %}" method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <div class="tabel-responsive">
                                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                            <tr>
                                                <th><strong>Add answer materials:</strong></th>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="custom-file">
                                                            {{form1.additional_materials}}
                                                            <label for="form_additional_materials" class="custom-file-label">Choose file(s)</label>
                                                        </div>
                                                        <div class="feedback"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {% if order.parent.is_completed %}
                                                    <button class="btn btn-round btn-primary btn-block" disabled="">Upload</button>
                                                    {% else %}
                                                    <button class="btn btn-round btn-primary btn-block">Upload</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if order.parent.is_completed %}
                    <div class="col-12">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Provide order status</h3>
                                    <div class="card-options">
                                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="ActiveForm" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="tabel-responsive">
                                            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                              <tr>
                                                <th><strong>Verdict</strong></th>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" value="{{order.parent.verdict}}" name="verdict" readonly="">
                                                    </div>
                                                </td>
                                              </tr>
                                                <tr>
                                                    <th><strong>Rate this client:</strong></th>
                                                    <td>
                                                        <div class="form-group">
                                                            {{form.rating}}
                                                            <div class="feedback"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><strong>Give a comment:</strong></th>
                                                    <td>
                                                        <div class="form-group">
                                                            {{form.comment}}
                                                            <div class="feedback"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-center">
                                                      <button class="btn btn-round btn-primary btn-block">Submit</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}