{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <ol class="breadcrumb" style="background-color:transparent!important;">
	                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'orders' %}">All Orders</a></li>
	                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
	                </ol>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{title}} <span class="spanner">({{data_count|intcomma}})</span></h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                     <div class="table-responsive table-results">
                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Profile</th>
                                    <th>Writers</th>
                                    <th>Topic</th>
                                    <th>Budget</th>
                                    <th>Service Charge</th>
                                    <th>Payable</th>
                                    <th>Bid Status</th>
                                    <th>Created On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order_bids %}
                                <tr id="id_{{payment.id}}">
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        <a href="{% url 'writer' id=item.user.id %}">
                                            <img style="width:120px;height:120px;border:2px solid #fff;border-radius:50%;" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{item.user.extendedauthuser.profile_pic.url}}" alt="{{item.user.get_full_name}}" class="img-responsive">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'writer' id=item.user.id %}">{{item.user.get_full_name}}</a>
                                    </td>
                                    <td>{{item.parent.topic}}</td>
                                    <td>{{obj.currency_symbol}} {{item.parent.budget|intcomma|default:0}}</td>
                                    <td>{{obj.currency_symbol}} {{item.service_charge|intcomma|default:0}}</td>
                                    <td>{{obj.currency_symbol}} {{item.payable|intcomma|default:0}}</td>
                                    <td class="text-info">{{item.parent.status}}</td>
                                    <td><span>{{item.parent.created_on|timesince}}</span></td>
                                    <td>
                                        <a  href="{% url 'bid preview' id=item.id %}" class="btn btn-success btn-round" type="button"><i class="ti-menu-alt"></i> Preview</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10" class="text-center">
                                        <div class="card">
                                            <div class="card-body text-center py-5">
                                                <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                <h4><i class="ti-info-alt"></i> No data found</h4>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>   
                    </div>
                    <div class="card-footer">
                        <ul class="pagination pagination-primary">
                            {% if order_bids.has_previous %}
                            <li class="page-item active"><a class="page-link" href="{% url 'bids' id=id %}?page={{order_bids.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                            {% endif %}
                            {% if order_bids.has_next %}
                            <li class="page-item active"><a class="page-link" href="{% url 'bids' id=id   %}?page={{order_bids.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}