{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <div class="row">
	                	<div class="col-12">
	                		<ol class="breadcrumb" style="background-color:transparent!important;">
			                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
			                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
			                </ol>
	                	</div>
	                </div>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist"  style="display:inline-block;white-space: nowrap;" >
                    <li  class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#group">Group</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Individual">Individual</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row clearfix">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="group">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="{% url 'add broadcast' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">{{title}} (<span class="spanner">{{broadcasts_count|intcomma}}</span>)</h3>
                                        <div class="card-options">
                                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive table-results">
                                            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Message</th>
                                                        <th>Group</th>
                                                        <th>Created on</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for broadcast in broadcasts %}
                                                    <tr id="id_{{broadcast.id}}">
                                                        <td>{{forloop.counter}}</td>
                                                        <td>{{broadcast.message}}</td>
                                                        <td class="text-info">
                                                            {% if not broadcast.group %}
                                                            <i class="ti-close"></i> No
                                                            {% else %}
                                                            <i class="ti-check"></i> Yes
                                                            {% endif %}
                                                        </td>
                                                        <td><span>{{broadcast.created_on|naturaltime}}</span></td>
                                                        <td>
                                                            <a  href="{% url 'edit broadcast' id=broadcast.id %}" class="btn btn-success btn-round" type="button"><i class="zmdi zmdi-edit"></i> Edit</a>
                                                            <button data-url="{% url 'delete broadcast' id=broadcast.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete</button>
                                                        </td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                        <td colspan="5" class="text-center">
                                                            <div class=" text-center py-5">
                                                                <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                                <h4><i class="ti-info-alt"></i> No broadcasted message found</h4>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <ul class=" pagination pagination-primary">
                                            {% if broadcasts.has_previous %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'broadcasts' %}?page={{broadcasts.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                            {% endif %}
                                            {% if broadcasts.has_next %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'broadcasts' %}?page={{broadcasts.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Individual">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="{% url 'add single' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">{{title}} (<span class="spanner">{{individuals_count|intcomma}}</span>)</h3>
                                        <div class="card-options">
                                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive table-results">
                                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Message</th>
                                                    <th>Group</th>
                                                    <th>To</th>
                                                    <th>Created on</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for broadcast in individuals %}
                                                <tr id="id_{{broadcast.id}}">
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{broadcast.message}}</td>
                                                    <td class="text-info">
                                                        {% if not broadcast.group %}
                                                        <i class="ti-close"></i> No
                                                        {% else %}
                                                        <i class="ti-check"></i> Yes
                                                        {% endif %}
                                                    </td>
                                                    <td><span>{{broadcast.to}}</span></td>
                                                    <td><span>{{broadcast.created_on|naturaltime}}</span></td>
                                                    <td>
                                                        <a  href="{% url 'edit single' id=broadcast.id %}" class="btn btn-success btn-round" type="button"><i class="zmdi zmdi-edit"></i> Edit</a>
                                                        <button data-url="{% url 'delete broadcast' id=broadcast.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete</button>
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td colspan="6" class="text-center">
                                                        <div class=" text-center py-5">
                                                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                            <h4><i class="ti-info-alt"></i> No broadcasted message found</h4>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                    <div class="card-footer">
                                        <ul class="mt-2 ml-2 pagination pagination-primary">
                                            {% if individuals.has_previous %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'broadcasts' %}?page={{individuals.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                            {% endif %}
                                            {% if individuals.has_next %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'broadcasts' %}?page={{individuals.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}