{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load sampler %}
{% load truncate %}
{% load due %}
{% block body %}
<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            {% if not data.extendedauthuser.is_verified %}
            <div class="col-12">
                <div class="alert alert-info rounded-pill text-light">
                  <i class="ti-info-alt"></i> Your account is not verified.You will start receiving orders for bidding once its verified by the management.
                </div> 
            </div>
            {% endif %}
            <div class="col-12">
                <ul class="nav nav-tabs" id="pills-tab" role="tablist" style="display:inline-block;width:100%;white-space: nowrap;">
                    <li style="display:inline-block" class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#public">Public Bids</a></li>
                    <li style="display:inline-block" class="nav-item"><a class="nav-link" data-toggle="tab" href="#private">Private Bids</a></li>
                </ul>
            </div>
            <div class="mt-3 col-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="public">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">My Public Bids ({{mcount|intcomma}})</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in public_orders %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            {% if item.messages > 0 %}
                                            <a class="position-relative" href="{% url 'order conversation' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            {% endif %}
                                            <a class="ml-3 position-relative"  href="{% url 'see order' id=item.id %}">
                                                <i class="ti-bell"></i>
                                                <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                                {{item.topic}}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">
                                            By:{{item.user.get_full_name}} <br>   
                                            {{item.paper_instructions|sampler:item.id|safe}}
                                        </p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)<br>
                                                <i class="ti-alarm-clock text-success"></i> Due:{{item.deadline|due}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <h3>{{obj.currency_symbol}} {{item.budget|intcomma}}
                                            {% if item.writer_id == data.id %}
                                            <button class="btn btn-danger btn-round" disabled><i class="ti-hand-open"></i>Bid Placed</button>
                                            {% else %}
                                            <a href="{% url 'place bid' id=item.id %}" class="btn btn-outline-success btn-round"><i class="ti-hand-open"></i> Place Bid</a>
                                            {% endif %}
                                        </h3>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <ul class="pagination pagination-primary">
                                            {% if public_orders.has_previous %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'browse orders' %}?page={{public_orders.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                            {% endif %}
                                            {% if public_orders.has_next %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'browse orders' %}?page={{public_orders.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                <hr>
                                {% empty %}
                                <div class="text-center py-5">
                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                    <h4><i class="ti-info-alt"></i> No data found</h4>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="private">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">My Private Bids ({{private_orders_count|intcomma}})</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in private_orders %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            {% if item.messages %}
                                            <a class="position-relative" href="{% url 'order conversation' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            {% endif %}
                                            <a href="{% url 'see order' id=item.id %}">
                                                {{item.topic}}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <h3>{{obj.currency_symbol}} {{item.budget|intcomma}}
                                            {% if item.writer_id == data.id %}
                                            <button class="btn btn-danger btn-round" disabled><i class="ti-hand-open"></i>Bid Placed</button>
                                                {% else %}
                                                <a href="{% url 'place bid' id=item.id %}" class="btn btn-outline-success btn-round"><i class="ti-hand-open"></i> Place Bid</a>
                                                {% endif %}
                                        </h3>
                                    </div>
                                </div>
                                <hr>
                                {% empty %}
                                <div class="text-center py-5">
                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                    <h4><i class="ti-info-alt"></i> No data found</h4>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if private_orders.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'browse orders' %}?page={{private_orders.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if private_orders.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'browse orders' %}?page={{private_orders.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}