{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="d-lg-flex justify-content-between" >
                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;" >
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#writers">{{obj.site_name}} Writers</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#money">Money Back Guarantee</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#terms">Terms And Conditions</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#privacy">Privacy Policy</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#studirre_help">{{obj.site_name}} Help</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Confediality">Confediality Policy </a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Webmaster">Webmaster Affliate Program</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#paper">Paper writing Help</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#thesis">Thesis Help</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Research">Research Help</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Dissertation">Dissertation Help</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#personal">Personal Statement Help</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#resources">Resources</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Samples">Samples</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#one">One Hour Topup Writer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="writers">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{obj.site_name}} Writers</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'studirre writers' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form1.media}}
                                                {{form1.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                    <div class="tab-pane" id="money">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Money Back Guarantee</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'money' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form2.media}}
                                                {{form2.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div> 
                    <div class="tab-pane" id="privacy">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Privacy Policy</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'privacy' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form3.media}}
                                                {{form3.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="studirre_help">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{obj.site_name}} Help</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'help' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form4.media}}
                                                {{form4.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="Confediality">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Confediality Policy</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'confediality' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form5.media}}
                                                {{form5.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="Webmaster">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Webmaster Affliate Program</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'webmaster' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form6.media}}
                                                {{form6.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="paper">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Paper writing Help</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'cms paper' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form7.media}}
                                                {{form7.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="Research">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Research Help</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'research' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form8.media}}
                                                {{form8.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="thesis">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Thesis Help</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'thesis' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form9.media}}
                                                {{form9.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="Dissertation">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Dissertation Help</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'dissertation' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form10.media}}
                                                {{form10.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="personal">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Personal Statement Help</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'personal' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form11.media}}
                                                {{form11.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="resources">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Resources</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'resources' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form12.media}}
                                                {{form12.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="Samples">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Samples</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'cms samples' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form13.media}}
                                                {{form13.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                     <div class="tab-pane" id="one">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">One Hour Topup Writer</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" action="{% url 'one' %}" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form14.media}}
                                                {{form14.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                        
                    </div>
                    <div class="tab-pane" id="terms">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Terms And Conditions Page</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="ActiveForm" method="post" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <div class="form-group">
                                                <label>Content <span class="text-danger">*</span></label>
                                                {{form.media}}
                                                {{form.as_p}}
                                                <div class="feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center m-t-20">
                                            <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>                         
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}