{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load due %}
{% load filename %}
{% load truncate %}
{% load ranger %}

{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <div class="row">
	                	<div class="col-12">
	                		<ol class="breadcrumb" style="background-color:transparent!important;">
			                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
			                    {% if data.is_staff %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'orders' %}">All orders</a></li>
			                   	{% elif data.extendedauthuser.category == 'customer' %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'my orders' %}">All orders</a></li>
			                   	{% else %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'my orders writer' %}">All orders</a></li>
			                   	{% endif %}
			                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
			                </ol>
	                	</div>
	                </div>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
            <div class="col-md-5">
            	<div class="row">
            		<div class="col-12" style="margin-top:20px;">
            			<div class="card">
		                	<div class="card-header">
			                    <h3 class="card-title">Order #{{bid.parent.order_id}} details</h3>
			                    <div class="card-options">
			                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
			                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
			                    </div>
			                </div>
		                	<div class="card-body">
		                		<div class="row">
		                			<div class="col-12 text-center">
		                				<div class="table-responsive">
		                					<form class="ActiveForm" method="post" novalidate>
		                						{% csrf_token %}
		                						<table class="table table-hover table-striped">
			                						<thead>
			                							<tr>
			                								<th><b>Particulars</b></th>
			                								<th><b>Value</b></th>
			                							</tr>
			                						</thead>
			                						<tbody>
			                							<tr>
								                           	<th><strong>Topic:</strong></th>
								                           	<td>{{bid.parent.topic}}</td>
							                           	</tr>
			                           					<tr>
								                           	<th><strong>Pages:</strong></th>
								                           	<td>{{bid.parent.pages|intcomma|intcomma|default:'0'}}</td>
							                           	</tr>	
							                           	<tr>
								                           	<th><strong>Deadline:</strong></th>
								                           	<td>{{bid.parent.deadline}}</td>
							                           	</tr>	
							                           	<tr>
								                           	<th><strong>Format/Citation Style:</strong></th>
								                           	<td>{{bid.parent.citation_style}}</td>
							                           </tr>
							                           <tr>
								                           	<th><strong>Category</strong></th>
								                           	<td>{{bid.parent.category}}</td>
							                           </tr> 
							                           <tr>
								                           	<th><strong>Provided instructions:</strong></th>
								                           	<td>{{bid.parent.paper_instructions|truncate|safe}}</td>
							                           	</tr>
							                           <tr>
								                           	<th><strong>No of words</strong></th>
								                           	<td>{{bid.parent.words_per_page|intcomma|default:'0'}}</td>
							                           </tr> 
							                           	<tr>
			                								<th><b>Clients Budget</b>:</th>
			                								<td>{{obj.currency_symbol}} {{bid.parent.budget|intcomma}}</td>
			                							</tr>
			                							<tr>
			                								<th><b>Your Budget</b>:</th>
			                								<td>{{obj.currency_symbol}} {{bid.price|intcomma}}</td>
			                							</tr> 
			                							<tr>
								                            <td colspan="2" class="text-center">
								                                <a href="{% url 'writer' id=bid.parent.user.id %}" class="btn btn-outline-info btn-round"><i class="ti-user"></i> View profile</a>
								                                {% if bid.has_bid and not bid.parent.is_accepted %}
								                                <button class="btn btn-outline-success btn-round" disabled><i class="ti-hand-open"></i> Bid Placed</button>
								                                {% elif bid.parent.is_accepted %}
								                                <button class="btn btn-outline-success btn-round" disabled><i class="ti-hand-open"></i> Bid Accepted</button>
								                                {% else %}
								                                <a href="{% url 'place bid' id=bid.parent.id %}" class="btn btn-outline-success btn-round"><i class="ti-hand-open"></i> Place Bid</a>
								                                {% endif %}
								                            </td>
								                        </tr>
			                						</tbody>
			                					</table>
		                					</form>
		                				</div>
		                				<div class="modal fade  bd-example-modal-lg" id="largeModel" tabindex="-1" role="dialog" aria-labelledby="largeModel" aria-hidden="true">
				                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				                              <div class="modal-content">
				                                  <div class="modal-header">
				                                      <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{bid.parent.order_id}} instructions.</b></h5>
				                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                                          <span aria-hidden="true">&times;</span>
				                                      </button>
				                                      <hr>  
				                                  </div>
				                                  <div class="modal-body">
				                                    <p>{{bid.parent.paper_instructions}}</p>
				                                  </div>
				                                  <div class="modal-footer"> 
				                                    <div class="row">
				                                        <div class="col-12 text-center">
				                                            <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
				                                        </div>
				                                    </div>   
				                                  </div>    
				                              </div>
				                          </div>
				                      </div>
		                			</div>
		                		</div>
		                	</div>
		                </div>
            		</div>
	            	<div class="col-12">
		    			<div class="card">
		                	<div class="card-header">
			                    <h3 class="card-title">Payments</h3>
			                    <div class="card-options">
			                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
			                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
			                    </div>
			                </div>
		                	<div class="card-body">
		                		<form class="ActiveForm"  method="post" novalidate>
		                		<div class="table-responsive">
		                			<table class="table table striped table-hover">
		                				<thead>
	            							<tr>
	            								<th><b>Particulars</b></th>
	            								<th><b>Value</b></th>
	            							</tr>
	            						</thead>
	            						<tbody>
                							<tr class="d-none">
                								<td>
                									{% csrf_token %}
                								</td>
                							</tr>
                							<tr class="d-none">
                								<td>
                									<input type="hidden" value="edit" name="action">
                								</td>
                							</tr>
	                						<tr>
	            								<th style="color:#fd7e14;"><b>Clinet's Budget</b>:</th>
		            								<td>{{obj.currency_symbol}} {{bid.parent.budget|intcomma}}</td>
		            								<input type="hidden" value="{{bid.parent.budget}}" name="budget">
		            							</tr>	
	            							<tr>
	            								<th style="color:#6f42c1;"><b>Your Budget</b>:</th>
	            								<td>{{obj.currency_symbol}} {{bid.price|intcomma}}</td>
	            							</tr>
	            							<tr>
                                                <th style="color:#17a2b8;">
                                                	<strong>Your Earnings: <i style="cursor:pointer;" data-toggle="tooltip" data-placement="bottom" title="{{obj.commision_percent}}% will be deducted from the amount,you will bid on order." class="ti-help text-info"></i></strong>
                                                </th>
                                                <td>{{obj.currency_symbol}}:<span class="target">{{bid.payable}}</span></td>
                                            </tr>
	            							<tr class="d-none">
	            								<td colspan="2">
	            									<input type="text" id="deductable" value="{{bid.price|sub:bid.payable|intcomma|floatformat:2}}">
	            								</td>
	            							</tr>  
	            						</tbody>
		                			</table>
		                		</div>
		                	</form>
		                	</div>
		                	<div class="card-footer"></div>
		                </div>
		        	</div>
            	</div>
            </div>

            <!-- chating section -->
            <div class="col-md-7 chat_app">
    			<div class="card bg-none b-none">
                    <div class="card-header bline bg-none ">
                    	{% if data.is_staff %}
                        <h3 class="card-title">Client({{bid.parent.user.get_full_name}}) >>> Customer({{bid.user.get_full_name}})</h3>
                        {% else %}
                        <h3 class="card-title">{{bid.parent.user.get_full_name}} </h3>
                        {% endif %}
                        <div class="card-options">
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-plus"></i></a>
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-cog"></i></a>
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-refresh"></i></a>
                            <a href="javascript:void(0)" class="p-1 chat_list_btn"><i class="fa fa-align-right"></i></a>
                        </div>
                    </div>                        
                    <div class="chat_windows">
                        <ul class="mb-0 chat_window_list">
                        	{% for message in chats %}
                        		{% if data.is_staff %}
                        		 	{% if message.sender.extendedauthuser.category == 'customer' %} 
                        		 	<li class="my-message">
	                                    <img class="avatar mr-3" src="{% static 'panel/assets/images/loader.gif' %}"   data-src="{{message.sender.extendedauthuser.profile_pic.url}}" alt="{{message.sender.get_full_name}}">
	                                    <div class="message">
	                                        <p class="bg-light-blue">{{message.message}}</p>
	                                        <span class="time" >{{message.created_on|naturaltime}}</span>
	                                        <span class="time" >{{message.sender.get_full_name}}</span>
	                                    </div>
		                            </li>
                        		 	{% else %}
                        		 	<li class="other-message">
	                                    <img class="avatar mr-3" src="{% static 'panel/assets/images/loader.gif' %}"   data-src="{{message.sender.extendedauthuser.profile_pic.url}}" alt="{{message.sender.get_full_name}}">
	                                    <div class="message">
	                                        <p class="bg-light-blue">{{message.message}}</p>
	                                        <span class="time" >{{message.created_on|naturaltime}}</span>
	                                        <span class="time" >{{message.sender.get_full_name}}</span>
	                                    </div>
		                            </li>
                        		 	{% endif %}
                        		{% else %}
		                        	{% if message.sender.id == data.id  %}
		                        	<li class="my-message">
	                                    <img class="avatar mr-3" src="{% static 'panel/assets/images/loader.gif' %}"   data-src="{{message.sender.extendedauthuser.profile_pic.url}}" alt="{{message.sender.get_full_name}}">
	                                    <div class="message">
	                                        <p class="bg-light-blue">{{message.message}}</p>
	                                        <span class="time" >{{message.created_on|naturaltime}}</span>
	                                    </div>
	                                </li> 
		                        	{% else %}
		                        	<li class="other-message">
	                                    	<img class="avatar mr-3" src="{% static 'panel/assets/images/loader.gif' %}"   data-src="{{message.sender.extendedauthuser.profile_pic.url}}" alt="{{message.sender.get_full_name}}">
	                                        <div class="message">
	                                            <p class="bg-light-blue">{{message.message}}</p>
	                                            <span class="time" >{{message.created_on|naturaltime}}</span>
	                                        </div>
	                                    </li> 
		                        	{% endif %}
		                        {% endif %}
                        	{% empty %}
                            <div class="text-center py-5">
                                <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                <h4><i class="ti-info-alt"></i> No messages found.</h4>
                            </div>
                            {% endfor %}
                        </ul>
                        {% if not data.is_staff %}
                        <div class="chat-message clearfix">
                           <form class="ActiveForm" action="{% url 'chat' order_id=bid.order_id user_id=bid.user_id %}" method="post" enctype="multipart/form-data" novalidate>
                           		{% csrf_token %}
                           		<div class="wrapper">
                       				<div class="input-group mb-0 pt-3 pb-3 ">
		                           		{{form1.message}}
		                           		{% if not bid.parent.is_disabled %}
		                               	{% if bid.parent.is_completed %}
		                                <button class="btn btn-round btn-primary" disabled>send <i class="ti-angle-double-right"></i></button>
		                                {% else %}
		                               	<button class="btn btn-round btn-primary">send <i class="ti-angle-double-right"></i></button>
		                                {% endif %}
		                                {% else %}
		                                <button class="btn btn-round btn-primary" disabled>send <i class="ti-angle-double-right"></i></button>
		                                {% endif %}
		                            </div>
		                            <div class="feedback"></div>
                           		</div>
                           </form>
                        </div>
                        {% else %}
                        <div class="text-center table-results">
                        	{% if not bid.parent.is_disabled %}
                            <button data-url="{% url 'disable chat' id=bid.parent.id %}" class="disable-chat btn btn-round btn-primary" ><i class="ti-close"></i> Disable chat</button>
                        	{% else %}
                        	<button class="btn btn-round btn-primary" disabled><i class="ti-close"></i> Chat disabled</button>
                        	{% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% if not data.is_staff %}
                    <p class="mt-2">
                    	<i class="ti-hand-point-right text-success"></i> Please follow our <a href="{% url 'confediality policy' %}">Confidentiality principles</a> in communication with the customer
                    </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}