{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load sampler %}
{% load due %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 text-md-left text-center">
                <div class="mb-4">
                    <h4>Welcome {{data.get_full_name}}! Logged in as:<span class="text-info"> [{{data.extendedauthuser.category}}]</span></h4>
                    <span>
                        {% now "l" %},
                        <script>
                            var newtime=new Date(),
                                output=newtime.toLocaleString('en-US',{hour:'numeric',minute:'numeric',hour12:true,timeZone:'{{data.extendedauthuser.timezone}}'});
                                document.write(output);
                        </script>
                        {% now "jS F Y " %}
                    </span>
                </div>
            </div>
        </div>
        {% if data.is_superuser%}
        <div class="row clearfix mt-2">
            <div class="col-lg-3 col-md-6">
                <a href="{% url 'orders' %}" class="card">
                    <div class="card-body text-center">
                        <h6>Orders Completed: <span class="text-info">{{admin_compcount|intcomma}}</span></h6>
                        <input type="text" class="knob" value="{{admin_compcount|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h6>Writers Active: <span class="text-info">{{writers_count|intcomma}}</span></h6>
                        <input type="text" class="knob" value="{{writers_count|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a href="{% url 'online users' %}" class="card-body text-center">
                        <h6>Writers Online Now: <span class="text-info">{{online_writers|intcomma}}</span></h6>
                        <input type="text" class="knob" value="{{online_writers|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="{% url 'users' %}" class="card">
                    <div class="card-body text-center">
                        <h6>Registered Users: <span class="text-info">{{users_count|intcomma}}</span></h6>
                        <input type="text" class="knob" value="{{users_count|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                    </div>
                </a>
            </div>
        </div>
        &nbsp;
        <div class="d-lg-flex justify-content-between">
            <ul class="nav nav-tabs mb-3 tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;">
                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link active" id="pills-grammer-tab" data-toggle="pill" href="#pills-grammer" role="tab" aria-controls="pills-grammer" aria-selected="true"> 
                        {% if grammas|length > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{grammas|length|intcomma|default:0}}</span>{% endif %} Users Awaiting Grammar Test approval</a>
                </li>
                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link " id="pills-deactivated-tab" data-toggle="pill" href="#pills-deactivated" role="tab" aria-controls="pills-deactivated" aria-selected="false">{% if deactivated_users|length > 0 %}
                    <i class="ti-bell"></i>
                    <span class="badge badge-success rounded-circle p1">{{deactivated_users|length|intcomma|default:0}}</span>{% endif %} Account Deactivated By Users</a>
                </li>
                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link " id="pills-cancellation-tab" data-toggle="pill" href="#pills-cancellation" role="tab" aria-controls="pills-cancellation" aria-selected="false"> 
                        {% if cancelled_orders|length > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{cancelled_orders|length|intcomma|default:0}}</span>{% endif %} Cancelled Orders</a>
                </li>
                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link " id="pills-withdraw-requests-tab" data-toggle="pill" href="#pills-withdraw-requests" role="tab" aria-controls="pills-withdraw-requests" aria-selected="false"> 
                        {% if payments|length > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{payments|length|intcomma|default:0}}</span>{% endif %} Pending Withdraw Requests</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active show" id="pills-grammer">
                <div class="row clearfix">
                    <div class="col-12 text-right">
                        <a href="{% url 'users' %}" class="btn btn-primary btn-round">View All</a>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Users Awaiting Grammar Test approval  (<span class="spanner">{{grammas|length|intcomma|default:0}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Email</th>
                                                <th>User Status</th>
                                                <th>Is Email Verified</th>
                                                <th>Verfied By Admin</th>
                                                <th>Created On</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in grammas %}
                                            <tr id="id_{{item.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{item.email}}</td>
                                                <td>
                                                    {% if item.is_active %}
                                                    <span class="text-success"><i class="ti-check"></i> Ok</span>
                                                    {% else %}
                                                    <span class="text-danger"><i class="ti-alarm-clock"></i> Pending</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if item.is_active %}
                                                    <span class="text-success"><i class="ti-check"></i> Active</span>
                                                    {% else %}
                                                    <span class="text-danger"><i class="ti-alarm-clock"></i> Inactive</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if item.extendedauthuser.is_verified %}
                                                    <span class="text-success"><i class="ti-check"></i> Verified</span>
                                                    {% else %}
                                                    <span class="text-danger"><i class="ti-alarm-clock"></i> Not Verified</span>
                                                    |
                                                    <a data-url="{% url 'verify user' id=item.id %}" href="javascript:void(0);" class="verify-button">Verify</a>
                                                    {% endif %}
                                                </td>
                                                <td><span>{{item.date_joined}}</span></td>
                                                <td>
                                                    <a href="{% url 'user details' id=item.id %}" class="btn btn-success btn-round" type="button"><i class="ti-menu-alt"></i> Details</a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="7" class="text-center">
                                                    <div class="card-body text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if users.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'citation' %}?page={{users.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if users.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'citation' %}?page={{users.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="pills-deactivated">
                <div class="row clearfix">
                    <div class="col-12 text-right">
                        <a href="{% url 'users' %}" class="btn btn-primary btn-round">View All</a>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Accounts Deactivated By Users   (<span class="spanner">{{deactivated_users|length|intcomma|default:0}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>User Type</th>
                                                <th>Mark Inactive</th>
                                                <th>Created On</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in deactivated_users %}
                                            <tr id="id_{{item.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.username}}</td>
                                                <td>
                                                    {% if item.is_active %}
                                                    <span class="text-danger"><i class="ti-check"></i> Active</span>
                                                    {% else %}
                                                    <span class="text-success"><i class="ti-alarm-clock"></i> Inactive</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-info"><i class="ti-check"></i> Marked inactive</td>
                                                <td><span>{{item.date_joined}}</span></td>
                                                <td>
                                                    <a href="{% url 'user details' id=item.id %}" class="btn btn-success btn-round" type="button"><i class="ti-menu-alt"></i> Details</a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="7" class="text-center">
                                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                    <h4><i class="ti-info-alt"></i> No data found</h4>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if users.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'citation' %}?page={{users.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if users.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'citation' %}?page={{users.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="pills-cancellation">
                <div class="row clearfix">
                    <div class="col-12 text-right">
                        <a href="{% url 'orders' %}" class="btn btn-primary btn-round">View All</a>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Cancelled Orders   (<span class="spanner">{{cancelled_orders|length|intcomma|default:0}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Order Id</th>
                                                <th>Order Topic</th>
                                                <th>Deadline</th>
                                                <th>Posted On</th>
                                                <th>Reason</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in cancelled_orders %}
                                            <tr id="id_{{item.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{item.order_id}}</td>
                                                <td>{{item.topic}}</td>
                                                <td>{{item.deadline}}</td>
                                                <td>
                                                    {% if item.admin_approve %}
                                                    {% else %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if item.status == 'Pending Approval' %}
                                                    <span class="text-danger"><i class="ti-alarm-clock"></i> {{item.status}}</span>
                                                    {% else %}
                                                    <span class="text-success">{{item.status}}</span>
                                                    {% endif %}
                                                </td>
                                                <td><span>{{item.created_on}}</span></td>
                                                <td>
                                                    <a href="{% url 'order preview' id=item.id %}" class="btn btn-success btn-round" type="button"><i class="ti-menu-alt"></i> Details</a>
                                                    <a href="{% url 'bids' id=item.id %}" class="btn btn-info btn-round"> Bids</a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="7" class="text-center">
                                                    <div class="card">
                                                        <div class="card-body text-center py-5">
                                                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                            <h4><i class="ti-info-alt"></i> No data found</h4>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="pills-withdraw-requests">
                <div class="card">
                     <div class="card-header">
                                <h3 class="card-title">Pending Withdraw Requests   (<span class="spanner">{{payments|length|intcomma|default:0}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                    <div class="card-body">
                        <div class="table-responsive table-results">
                            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Amount Requested</th>
                                        <th>Means of Payment</th>
                                        <th>Balance</th>
                                        <th>Status</th>
                                        <th>Requested on</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in payments %}
                                    <tr id="id_{{payment.id}}">
                                        <td>{{forloop.counter}}</td>
                                        <td>{{obj.currency_symbol}} {{item.created_on}}</td>
                                        <td>{{obj.currency_symbol}} {{item.amount|intcomma}}</td>
                                        <td>{{item.mode}}</td>
                                        <td>{{obj.currency_symbol}} {{item.balance|intcomma}}</td>
                                        <td class="text-success">{{item.status}}</td>
                                        <td class="text-success">{{item.created_on|naturaltime}}</td>
                                        <td>
                                            {% if not item.is_accepted %}
                                            <a data-url="{% url 'approve payment' id=item.id %}" href="javascript:void(0);" class="approve-button"><i class="ti-check"></i> Approve</a>
                                            {% else %}
                                            <button class="btn btn-success btn-round" disabled><i class="ti-check"></i> Approved</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="7" class="text-center">
                                           <div class="card-body text-center py-5">
                                                <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                <h4><i class="ti-info-alt"></i> No data found</h4>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if data.extendedauthuser.category == 'customer' %}
    {% if active_orders_writers > 0 %}
    <div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title ">Place new order</h3>
                    <div class="card-options">
                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Need an expert? There are <a href="#">{{active_orders_writers|intcomma}} writers</a> waiting for you.</p>
                    <a href="{% url 'new order' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Place new order</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row clearfix mt-2">
        <div class="col-lg-3 col-md-6">
            <a href="{%  url 'my orders' %}" class="card">
                <div class="card-body text-center">
                    <h6>Orders in Bidding: <span class="text-info">{{customer_bids|intcomma}}</span></h6>
                    <input type="text" class="knob" value="{{customer_bids|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a href="{% url 'order summary' %}" class="card-body text-center">
                    <h6>Orders In progress: <span class="text-info">{{inprogress_orders_count|intcomma}}</span></h6>
                    <input type="text" class="knob" value="{{inprogress_orders_count|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a href="{% url 'order summary' %}" class="card-body text-center">
                    <h6>Completed Orders: {{data.extendedauthuser.completed_projects|intcomma}}</h6>
                    <input type="text" class="knob" value=" {{data.extendedauthuser.completed_projects|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h6>My Wallet Credit:<span class="text-info">{{obj.currency_symbol}} {{data.extendedauthuser.balance|intcomma}}</span></h6>
                    <input type="text" class="knob" value="{{data.extendedauthuser.balance|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                    <h6>Researved Amount: <strong class="text-info">{{obj.currency_symbol}} {{data.extendedauthuser.reserved_money|intcomma}}</strong></h6>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="row clearfix">
        <div class="col-12 text-right">
            <a href="{% url 'my orders' %}" class="btn btn-primary btn-round">View All</a>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Last Activity (<span class="spanner">{{last_activities|length|intcomma}}</span>)</h3>
                    <div class="card-options">
                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                    </div>
                </div>
                <div class="card-body ">
                    {% for item in last_activities %}
                    <div class="row orderslist">
                        <div class="col-md-8">
                            <h6 class="text-capitalize text-success">
                                {% if item.bids > 0 %}
                                <a class="position-relative" href="{% url 'see order' id=item.id %}">
                                    <i class="ti-comments"></i>
                                    <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                </a>
                                {% endif %}
                                <a class="ml-3 position-relative" href="{% url 'see order' id=item.id %}">
                                    <i class="ti-bell"></i>
                                    <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                    {{item.topic}}
                                    {% if not item.is_public %}
                                    <i class="ti-medall-alt"></i>
                                    {% endif %}
                                </a>
                            </h6>
                            <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                            <div class="mt-3">
                                <p>
                                    <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                    <br>
                                    <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                    <br>
                                    Status:
                                    {% if item.verdict == 'revision' %}
                                    <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                    {% elif item.verdict == 'dispute' %}
                                    <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                    {% elif item.verdict == 'completed' %}
                                    <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                    {% else %}
                                    <span class="text-info"><i class="ti-alarm-clock"></i> {{item.status}}</span>
                                    {% if item.is_answered %}
                                    <br>
                                    <span class="text-info"><i class="ti-check"></i> Contain answer(s)</span>
                                    {% endif %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class=" col-md-4 text-md-right text-center my-auto">
                            <div class="d-md-none d-block">
                                <hr>
                            </div>
                            {% if not item.inprogress %}
                            <button data-url="{% url 'delete order' id=item.id %}" class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete Order</button>
                            {% else %}
                            <button class="btn btn-danger btn-round" type="button" disabled><i class="zmdi zmdi-delete"></i> Delete Order</button>
                            {% endif %}
                            {% if not item.is_public %}
                                {% if item.is_accepted %}
                                <button class="btn btn-danger btn-round" type="button" disabled><i class="zmdi zmdi-delete"></i> Make it Public</button>
                                {% else %}
                                <button data-url="{% url 'make public' id=item.id %}" class="public-button btn btn-danger btn-round" type="button"><i class="fa fa-users"></i> Make it Public</button>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                      <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  <hr>  
                              </div>
                              <div class="modal-body">
                                <p>{{item.paper_instructions|safe}}</p>
                              </div>
                              <div class="modal-footer"> 
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                    </div>
                                </div>   
                              </div>    
                          </div>
                      </div>
                    </div>
                    {% empty %}
                    <div class="row">
                        <div class="col-12 text-center my-auto">
                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                            <h4><i class="ti-info-alt"></i> No data found</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <ul class="pagination pagination-primary">
                        {% if last_activities.has_previous %}
                        <li class="page-item active"><a class="page-link" href="{% url 'dashboard' %}?page={{last_activities.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                        {% endif %}
                        {% if last_activities.has_next %}
                        <li class="page-item active"><a class="page-link" href="{% url 'dashboard' %}?page={{last_activities.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if data.extendedauthuser.category == 'writer' %}
    {% if new_projects > 0 %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title ">Browse Orders</h3>
                    <div class="card-options">
                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Want to earn more? There are <span class="text-success">{{new_projects|intcomma}} order(s)</span> waiting for you</p>
                    <div class="text-center">
                        <a href="{% url 'browse orders' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Browse orders</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row clearfix mt-2">
        {% if not data.extendedauthuser.is_verified %}
        <div class="col-12">
            <div class="alert alert-info rounded-pill text-light">
              <i class="ti-info-alt"></i> Your account is not verified.You will start receiving orders for bidding once its verified by the management.
            </div> 
        </div>
        {% endif %}
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a href="{% url 'my orders writer' %}" class="card-body text-center">
                    <h6>Orders in Bidding: <span class="text-info">{{bids|intcomma|default:0}}</span></h6>
                    <input type="text" class="knob" value="{{bids|intcomma|default:0}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a href="{% url 'writer order summary' %}" class="card-body text-center">
                    <h6>Orders In progress: <span class="text-info">{{inprogress_writer_orders_count|intcomma|default:0}}</span></h6>
                    <input type="text" class="knob" value="{{inprogress_writer_orders_count|intcomma|default:0}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                    <h6>Orders Submitted: <span class="text-info">{{inprogress_writer_submitted_orders_count|intcomma|default:0}}</span></h6>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a href="{% url 'writer order summary' %}" class="card-body text-center">
                    <h6>Completed Orders: <span class="text-info"> {{data.extendedauthuser.completed_projects|intcomma|default:0}}</span></h6>
                    <input type="text" class="knob" value=" {{data.extendedauthuser.completed_projects|intcomma|default:0}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h6>My Earnings: <span class="text-info">{{obj.currency_symbol}} {{data.extendedauthuser.balance|intcomma}}</span></h6>
                    <input type="text" class="knob" value="{{data.extendedauthuser.balance|intcomma}}" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#6e7687">
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="row clearfix">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Pending Approval from customers ({{pending_count|intcomma}})</h3>
                    <div class="card-options">
                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    {% for item in pending_approvals %}
                    <div class="row">
                       <div class="col-md-8">
                            <h5 class="text-capitalize text-success">
                                {% if item.parent.messages %}
                                <a class="position-relative" href="{% url 'order conversation' id=item.parent.id %}">
                                    <i class="ti-comments"></i>
                                    <span class="badge badge-info bids">{{item.parent.messages|intcomma|default:'0'}}</span>
                                </a>
                                {% endif %}
                                <a class="ml-3 position-relative" href="{% url 'bid preview' id=item.id %}"> <i class="ti-bell"></i>
                                    <span class="badge badge-success bids">{{item.parent.bids|intcomma|default:'0'}}</span>
                                    {{item.parent.topic}}
                                    {% if not item.parent.is_public %}
                                    <i class="ti-medall-alt"></i>
                                    {% endif %}
                                </a>
                            </h5>
                            <p class="text-truncate">
                                By:{{item.parent.user.get_full_name}} <br>
                                {{item.parent.paper_instructions|sampler:item.parent.id|safe}}
                            </p>
                            <div class="mt-3">
                                <p>
                                    <i class="ti-alarm-clock text-success"></i> {{item.parent.created_on|timesince}}
                                    <br>
                                    <i class="ti-menu-alt text-success"></i> Pages:{{item.parent.pages|intcomma}} ({{item.parent.words_per_page|intcomma}} words)
                                    <br>
                                    Due in:<span class="text-info">{{item.parent.deadline|due}}</span>
                                    <br>
                                    Status:
                                    {% if item.parent.verdict == 'revision' %}
                                    <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                    {% elif item.parent.verdict == 'dispute' %}
                                    <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                    {% elif item.parent.verdict == 'completed' %}
                                    <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                    {% else %}
                                    <span class="text-info"><i class="ti-alarm-clock"></i> {{item.parent.status}}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 text-md-right text-center my-auto">
                            <div class="d-md-none d-block">
                                <hr>
                            </div>
                            <h3>{{obj.currency_symbol}} {{item.parent.budget|intcomma}}</h3>
                        </div>
                    </div>
                    <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.parent.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.parent.id}}" aria-hidden="true">
                      <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  <hr>  
                              </div>
                              <div class="modal-body">
                                <p>{{item.parent.paper_instructions|safe}}</p>
                              </div>
                              <div class="modal-footer"> 
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                    </div>
                                </div>   
                              </div>    
                          </div>
                      </div>
                    </div>
                    <hr>
                    {% empty %}
                    <div class="row">
                        <div class="col-12 text-center my-auto">
                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                            <h4><i class="ti-info-alt"></i> No data found</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <ul class="pagination pagination-primary">
                        {% if pending_approvals.has_previous %}
                        <li class="page-item active"><a class="page-link" href="{% url 'dashboard' %}?page={{pending_approvals.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                        {% endif %}
                        {% if pending_approvals.has_next %}
                        <li class="page-item active"><a class="page-link" href="{% url 'dashboard' %}?page={{pending_approvals.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}