{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load due %}
{% load filename %}
{% load truncate %}
{% load ranger %}

{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <div class="row">
	                	<div class="col-12">
	                		<ol class="breadcrumb" style="background-color:transparent!important;">
			                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
			                    {% if data.is_staff %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'orders' %}">All orders</a></li>
			                   	{% elif data.extendedauthuser.category == 'customer' %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'my orders' %}">All orders</a></li>
			                   	{% else %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'my orders writer' %}">All orders</a></li>
			                   	{% endif %}
			                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
			                </ol>
	                	</div>
	                </div>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
            <div class="col-md-5">
            	<div class="row">
            		<div class="col-12">
            			<div class="card">
		                    <div class="card-header">
			                    <h3 class="card-title">{% if not bid.is_accepted %}Writer Details{% else %} Assigned Writer{% endif %}</h3>
			                    <div class="card-options">
			                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
			                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
			                    </div>
			                </div>
		                	<div class="card-body">
		                		<div class="row">
		                			<div class="col-12 text-center mx-auto">
		                				<a href="{% url 'writer' id=bid.user.id %}">
		                					<img src="{% static 'manager/assets/images/loader.gif' %}" style="width:100px;height:100px;border-radius:50%;border:2px solid #fff;" data-src="{{bid.user.extendedauthuser.profile_pic.url}}" alt="{{bid.user.get_full_name}}" class="img-responsive">
		                				</a>	
		                			</div>
		                			<div class="col-12 text-center mx-auto">
	                					<p>
	                						<div class="star-rating text-center">
            									<a href="{% url 'writer' id=bid.user.id %}">
            										<h5 class="mt-0 mb-1">{{bid.user.get_full_name}}</h5>
            									</a>
                                                <ul class="list-inline">
                                                   {% if bid.user.extendedauthuser.rating > 0 %}
	                                                    {% for i in bid.user.extendedauthuser.rating|floatformat:0|ranger %}
	                                                    <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
	                                                    {% endfor %}
	                                                    {% for i in 5|sub:bid.user.extendedauthuser.rating|floatformat:0|ranger %}
	                                                     <li class="list-inline-item">
	                                                     	<span class="fa fa-star text-muted"></span>
	                                                     </li>
	                                                    {% endfor %}
	                                                    <li class="list-inline-item">	({{bid.user.extendedauthuser.rating_counter|intcomma}})
	                                                    </li>
                                                   	{% endif %}
                                                </ul>
                                                {{bid.user.extendedauthuser.completed_projects|intcomma|default:'0'}} Completed Orders
                                            </div>
		                    			</p>
                					</div>
		                		</div>
		                	</div>
                		</div>
            		</div>

            		<div class="col-12" style="margin-top:20px;">
            			<div class="card">
		                	<div class="card-header">
			                    <h3 class="card-title">Writer Budget</h3>
			                    <div class="card-options">
			                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
			                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
			                    </div>
			                </div>
		                	<div class="card-body">
		                		<div class="row">
		                			<div class="col-12 text-center">
					                	<div class="col-12 hh-grayBox" id="writer">
				                            <div class="row justify-content-between">
				                                <div class="order-tracking completed">
				                                    <span class="is-complete"></span>
				                                    <p class="d-md-inline d-none">Fill Order Details</span></p>
				                                </div>
				                                <div class="order-tracking completed">
				                                    <span class="is-complete"></span>
				                                    <p class="d-md-inline d-none">Order Bidding</span></p>
				                                </div>
				                                <div class="order-tracking completed">
				                                    <span class="is-complete"></span>
				                                    <p class="d-md-inline d-none">Choose Writer & Reserve Money</span></p>
				                                </div>
				                                <div class="order-tracking">
				                                    <span class="is-complete"></span>
				                                    <p class="d-md-inline d-none">Track Progress</span></p>
				                                </div> 
				                            </div>
				                        </div>
		                				<div class="table-responsive">
	                						<table class="table table-hover table-striped">
		                						<thead>
		                							<tr>
		                								<th><b>Particulars</b></th>
		                								<th><b>Value</b></th>
		                							</tr>
		                						</thead>
		                						<tbody>
		                							<tr>
							                           	<th><strong>Topic:</strong></th>
							                           	<td>{{bid.parent.topic}}</td>
						                           	</tr>
		                           					<tr>
							                           	<th><strong>Pages:</strong></th>
							                           	<td>{{bid.parent.pages|intcomma|intcomma|default:'0'}}</td>
						                           	</tr>	
						                           	<tr>
							                           	<th><strong>Deadline:</strong></th>
							                           	<td>{{bid.parent.deadline}}</td>
						                           	</tr>	
						                           	<tr>
							                           	<th><strong>Format/Citation Style:</strong></th>
							                           	<td>{{bid.parent.citation_style}}</td>
						                           </tr>
						                           <tr>
							                           	<th><strong>Category</strong></th>
							                           	<td>{{bid.parent.category}}</td>
						                           </tr> 
						                           <tr>
							                           	<th><strong>Provided instructions:</strong></th>
							                           	<td>{{bid.parent.paper_instructions|truncate|safe}}</td>
						                           	</tr>
						                           <tr>
							                           	<th><strong>No of words</strong></th>
							                           	<td>{{bid.parent.words_per_page|intcomma|default:'0'}}</td>
						                           </tr>
						                           <tr>
			            								<td colspan="2" class="text-center">
			            									<a href="{% url 'writer' id=bid.user_id %}" class="btn btn-primary btn-round"><i class="ti-user"></i> View Profile</a>
			            								</td>
			            							</tr>
		                						</tbody>
		                					</table>
		                				</div>
		                				<div class="modal fade  bd-example-modal-lg" id="largeModel" tabindex="-1" role="dialog" aria-labelledby="largeModel" aria-hidden="true">
				                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				                              <div class="modal-content">
				                                  <div class="modal-header">
				                                      <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{bid.parent.order_id}} instructions.</b></h5>
				                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                                          <span aria-hidden="true">&times;</span>
				                                      </button>
				                                      <hr>  
				                                  </div>
				                                  <div class="modal-body">
				                                    <p>{{bid.parent.paper_instructions}}</p>
				                                  </div>
				                                  <div class="modal-footer"> 
				                                    <div class="row">
				                                        <div class="col-12 text-center">
				                                            <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
				                                        </div>
				                                    </div>   
				                                  </div>    
				                              </div>
				                          </div>
				                      </div>
		                			</div>
		                		</div>
		                	</div>
		                </div>
            		</div>
            		<div class="col-12 mt-3">
            			<div class="card">
		                	<div class="card-header">
			                    <h3 class="card-title">Payments</h3>
			                    <div class="card-options">
			                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
			                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
			                    </div>
			                </div>
		                	<div class="card-body">
		                		<div class="table-responsive">
		                			<table class="table table striped table-hover">
			                				<thead>
	                							<tr>
	                								<th><b>Particulars</b></th>
	                								<th><b>Value</b></th>
	                							</tr>
	                						</thead>
	                						<tbody>
	                							<form class="ActiveForm" method="post" novalidate>
		                							{% csrf_token %}	
			            							<tr>
			            								<th style="color:#6f42c1;"><b>Your Budget</b>:</th>
			            								<td>{{obj.currency_symbol}} {{bid.parent.budget|intcomma}}</td>
			            								<input type="hidden" value="{{bid.parent.budget}}" name="budget">
			            							</tr> 
						                           	<tr>
							                           	<th style="color:#17a2b8;">
							                           		<strong>Service Charge <i style="cursor:pointer;" data-toggle="tooltip" data-placement="bottom" title="{{obj.currency_symbol}} {{bid.service_charge|intcomma}} is fixed for service charge,for placing an order." class="ti-help text-info"></i></strong>
							                           	</th>
							                           	<td>{{obj.currency_symbol}} <span class="service_charge">{{bid.service_charge|intcomma|floatformat:2}}</span></td>
						                           </tr>
						                           <tr>
							                           	<th style="color:#e83e8c;"><strong>Amount To Load</strong></th>
							                           	<td>
							                           		{{obj.currency_symbol}} 
							                           		<span class="totaldeduct">{{bid.parent.budget|add:bid.service_charge}}</span>
							                           		<input type="hidden" value="{{bid.parent.budget|add:bid.service_charge}}" name="amount_to_load">
							                           	</td>
						                           </tr> 
			            							<tr>
			            								<td colspan="2" class="text-center">
			            									<a href="{% url 'my orders' %}" class="btn btn-primary btn-round"><i class="ti-shopping-cart"></i> My orders</a>
			            									{% if not bid.is_accepted  and not bid.is_rejected and not bid.parent.is_cancelled %}
							                					<button class="bid-button btn btn-info btn-round"><i class="ti-check"></i> Accept Bid</button>
							                				{% else %}
							                					<button class="btn btn-info btn-round" disabled><i class="ti-check"></i> Bid Accepted</button>
							                				{% endif %}
			            								</td>
			            							</tr>
		                						</form>
	                						</tbody>
	            						</form>
		                			</table>
		                		</div>
		                	</div>
		                	<div class="card-footer"></div>
		                </div>
		            </div>
            	</div>
            </div>

            <!-- chating section -->
            <div class="col-md-7 chat_app">
    			<div class="card bg-none b-none">
                    <div class="card-header bline bg-none">
                        <h3 class="card-title">{{bid.user.get_full_name}} <small class="online_status"></small></h3>
                        <div class="card-options">
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-plus"></i></a>
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-cog"></i></a>
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-refresh"></i></a>
                            <a href="javascript:void(0)" class="p-1 chat_list_btn"><i class="fa fa-align-right"></i></a>
                        </div>
                    </div>                        
                    <div class="chat_windows">
                        <ul class="mb-0 chat_window_list">
                        	{% for message in messages %}
	                        	{% if message.sender.id == data.id %}
	                        	<li class="my-message">
                                    <img class="avatar mr-3" src="{% static 'panel/assets/images/loader.gif' %}"   data-src="{{message.sender.extendedauthuser.profile_pic.url}}" alt="{{message.sender.get_full_name}}">
                                    <div class="message">
                                        <p class="bg-light-blue">{{message.message}}</p>
                                        <span class="time" >{{message.created_on|naturaltime}}</span>
                                    </div>
                                </li> 
	                        	{% else %}
	                        	<li class="other-message">
                                    <img class="avatar mr-3" src="{% static 'panel/assets/images/loader.gif' %}"   data-src="{{message.sender.extendedauthuser.profile_pic.url}}" alt="{{message.sender.get_full_name}}">
                                        <div class="message">
                                            <p class="bg-light-blue">{{message.message}}</p>
                                            <span class="time" >{{message.created_on|naturaltime}}</span>
                                        </div>
                                    </li> 
	                        	{% endif %}
                        	{% empty %}
                            <div class="text-center py-5">
                                <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                <h4><i class="ti-info-alt"></i> No messages found.</h4>
                            </div>
                            {% endfor %}
                        </ul>
                        <div class="chat-message clearfix">
                           <form class="ActiveForm" action="{% url 'chat' order_id=bid.order_id user_id=bid.user_id  %}" method="post" enctype="multipart/form-data" novalidate>
                           		{% csrf_token %}
                           		<div class="wrapper">
                       				<div class="input-group mb-0 pt-3 pb-3 ">
		                           		{{form1.message}}
		                                {% if not bid.parent.is_disabled or not bid.parent.is_completed %}
		                                {% if bid.parent.is_completed %}
		                                <button class="btn btn-round btn-primary" disabled>send <i class="ti-angle-double-right"></i></button>
		                                {% else %}
		                               	<button class="btn btn-round btn-primary">send <i class="ti-angle-double-right"></i></button>
		                                {% endif %}
		                                {% else %}
		                                <button class="btn btn-round btn-primary" disabled>send <i class="ti-angle-double-right"></i></button>
		                                {% endif %}
		                            </div>
		                            <div class="feedback"></div>
                           		</div>
                           </form>
                        </div>
                    </div>
                    <p class="mt-2">
                    	<i class="ti-hand-point-right text-success"></i> Please follow our <a href="{% url 'confediality policy' %}">Confidentiality principles</a> in communication with the writer
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}