{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-5 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Topup</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                      
                    </div>
                    <div class="card-body">
                        <form class="ActiveForm" method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="">Available account balance <span class="text-info">(Waiting days:{% if days > 0 %}{{days|default:'Not Set'}}{% else %}0{% endif %}</span>)</label>
                                <input class="form-control" type="text" value="{{obj.currency_symbol}} {{data.extendedauthuser.balance|intcomma|default:0}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Select means of payment</label>
                                {{form.mode}}
                                <div class="feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="">Enter Amount To withdraw</label>
                                {{form.amount}}
                                <div class="feedback"></div>
                            </div>
                            <div class="text-center">
                                {% if data.extendedauthuser.balance > obj.min_withdraw %}
                                <button class="btn btn-primary btn-round">Submit Request</button>
                                {% else %}
                                <button class="btn btn-primary btn-round" disabled>Submit Request</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-x: auto; overflow-y: hidden;white-space: nowrap;">
                    <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#earnings">My Earnings</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#requests">Payment Withdraw requests</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active show" id="earnings">
                        <div class="card">
                        	<div class="card-header">
                                <h3 class="card-title">{{title}} ({{mcount|intcomma}})</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Date</th>
                                                <th>Particulars</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                                <th>Balance</th>
                                                <th>Status</th>
                                                <th>Mode</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in transactions %}
                                            <tr id="id_{{payment.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{item.created_on}}</td>
                                                <td>{{item.particulars|default:'-----'}}</td>
                                                <td>{{obj.currency_symbol}} {{item.debit|intcomma|default:'---'}}</td>
                                                <td>{{obj.currency_symbol}} {{item.credit|intcomma|default:'---'}}</td>
                                                <td>{{obj.currency_symbol}} {{item.balance|intcomma}}</td>
                                                <td class="text-success">{{item.status}}</td>
                                                <td>{{item.mode}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="8" class="text-center">
                                                    <div class="card-body text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if transactions.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'writer earnings' %}?page={{transactions.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if transactions.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'writer earnings'  %}?page={{transactions.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="requests">
                        <div class="card">
                        	<div class="card-header">
                                <h3 class="card-title">{{title}} ({{pcount|intcomma}})</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Date</th>
                                                <th>Amount Requested</th>
                                                <th>Balance</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in payments %}
                                            <tr id="id_{{payment.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{obj.currency_symbol}} {{item.created_on}}</td>
                                                <td>{{obj.currency_symbol}} {{item.amount|intcomma}}</td>
                                                <td>{{obj.currency_symbol}} {{item.balance|intcomma}}</td>
                                                <td class="text-success">{{item.status}}</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="5" class="text-center">
                                                    <div class="card-body text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if payments.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'writer earnings' %}?page={{payments.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if payments.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'writer earnings'  %}?page={{payments.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}