{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load filename %}
{% load cutter %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <ol class="breadcrumb" style="background-color:transparent!important;">
	                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
	                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'samples' %}">Sample papers</a></li>
	                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
	                </ol>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="card">
                	<div class="card-header">
	                    <h3 class="card-title">{{title}}</h3>
	                    <div class="card-options">
	                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
	                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
	                    </div>

	                </div>
	                <div class="card-body">
                        <div class="col-12">
                        	<div class="table-responsive">
		                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
		                           <tr>
			                           	<th><strong>Topic:</strong></th>
			                           	<td>{{sample.topic}}</td>
		                           </tr> 
		                           <tr>
			                           	<th><strong>Comments:</strong></th>
			                           	<td>{{sample.comment_count|intcomma|default:0}}</td>
		                           </tr>
		                           <tr>
			                           	<th><strong>File</strong></th>
			                           	<td>
			                           		{% if sample.sample %}
			                           		<a class="btn btn-outline-success btn-round" target="_blank" href="{{sample.sample.url}}">{{sample.sample|filename}}</a>
			                           		{% endif %}
			                           	</td>
		                           </tr>
		                           <tr>
			                           	<th><strong>Created on:</strong></th>
			                           	<td>{{sample.created_on|naturaltime}}</td>
		                           </tr>
		                        </table>
		                    </div>
                        </div>
	                </div>
                </div>
            </div>
            <div class="col-md-6">
            	<div class="card">
            		<div class="card-header">
                        <h3 class="card-title">Comments (<span class="spanner">{{sample.comment_count|intcomma|default:0}}</span>)</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                   <div class="card-body">
                   	 <div class="table-responsive table-results">
                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Comment</th>
                                    <th>Created on</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for comment in comments %}
                                <tr >
                                	<td>{{forloop.counter}}</td>
                                    <td>{{comment.name}}</td>
                                    <td>{{comment.comment}}</td>
                                    <td><span>{{comment.created_on}}</span></td>
                                    <td>
                                    	<a  href="{% url 'edit comment' id=comment.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit</a>
                                    	<button data-url="{% url 'delete comment' id=comment.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete </button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                	<td colspan="5" class="text-center">
                                        <div class=" text-center py-5">
                                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                            <h4><i class="ti-info-alt"></i> No data found</h4>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                   </div>
                    <div class="card-footer">
                    	<ul class="pagination pagination-primary">
		                    {% if comments.has_previous %}
		                    <li class="page-item active"><a class="page-link" href="{% url 'edit sample' id=sample.id %}?page={{comments.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
		                    {% endif %}
		                    {% if comments.has_next %}
		                    <li class="page-item active"><a class="page-link" href="{% url 'edit sample' id=sample.id  %}?page={{comments.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
		                    {% endif %}
			            </ul>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="mt-2 row">
        	<div class="col-12 mx-auto">
        		<div class="card">
        			<div class="card-header">
                        <h3 class="card-title">Edit sample content</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                    	<form action=""class="ActiveForm" method="post" enctype="multipart/form-data">
                    		{% csrf_token %}
                    		<div class="form-group">
                                {{form.media}}
                                {{form.as_p}}
                                <div class="feedback"></div>
                            </div>
                            <div class="col-sm-12 text-center m-t-20">
                                <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
                            </div>
                    	</form>
                    </div>
        		</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}