{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'ratings and reviews' %}">Ratings and comments</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-5 col-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-truncate">{% if edit %} {{title}}{% else %} {{title}} {% endif %}</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                       <form class="ActiveForm"  method="post" enctype="multipart/form-data">
                    		{% csrf_token %}
                    		<div class="tabel-responsive">
                    			<table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
		                           	<tr>
			                           	<th><strong>Choose order status:</strong></th>
			                           	<td>
			                           		<div class="form-group">
			                           			{% if user.parent.verdict %}
			                           			<input type="text" name="verdict" class="form-control" value="{{user.parent.verdict}}" readonly>
			                           			{% else %}
			                           			{{form.verdict}}
			                           			{% endif %}
			                           			<div class="feedback"></div>
			                           		</div>
			                           	</td>
		                           	</tr>
		                           	<tr>
			                           	<th><strong>Rate this writer:</strong></th>
			                           	<td>
			                           		<div class="form-group">
			                           			{{form.rating}}
			                           			<div class="feedback"></div>
			                           		</div>
			                           	</td>
		                           	</tr>	
		                           	<tr>
			                           	<th><strong>Give a comment:</strong></th>
			                           	<td>
			                           		<div class="form-group">
			                           			{{form.comment}}
			                           			<div class="feedback"></div>
			                           		</div>
			                           	</td>
		                           	</tr>
		                           	<tr>
			                           	<td colspan="2">
			                           		{% if order.is_completed %}
			                           		<button class="btn btn-round btn-primary btn-block" disabled><i class="ti-check">	</i> Order Completed</button>
			                           		{% else %}
			                           		<button class="btn btn-round btn-primary btn-block">Submit</button>
			                           		{% endif %}
			                           	</td>
		                           	</tr>
		                        </table>
                    		</div>
                    	</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}