{% extends 'panel/auth.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block body %}
<div class="auth">
    <div class="auth_left" style="width:700px !important;">
        <div class="card">
            <div class="text-center mb-2">
                <a class="header-brand" href="{% url 'home' %}">
                	<div class="row">
                		{% if obj.login_logo %}
                		<div class="col-12">
                			<img class="img-responsive" style="width:60px;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{obj.login_logo.url}}" alt="{{obj.site_name}}">
                		</div>
                		{% else %}
                		<div class="mt-2 col-12">
                			<h4 style="color:#000;font-weight:bold">{{obj.site_name}}.</h4>
                		</div>
                		{% endif %}
                	</div>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if user.category == 'customer' %}
                    <div class="col-12 hh-grayBox" id="customer">
                       <div class="row justify-content-between">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Login</span></p>
                            </div> 
                        </div>
                    </div>   
                    {% else %}
                    <div class="col-12 hh-grayBox" id="writer">
                        <div class="row justify-content-between" id="writer">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Pass Grammer Test</span></p>
                            </div> 
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Write Sample Essay</span></p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                	{% if user.test_passed %}
                    <div class="col-12">
                    	<div class="alert alert-success text-center"><i class="ti-check-box"></i> Congragulations, You passed the test.</div>
                        <h4 class="text-center"><strong>Start Writing sample essay</strong></h4>
                       	<h5 class="text-center"><i class="ti-info"></i> Essay topic:<span class="text-info text-capitalize">{{obj.essay_topic}}</span></h5>
                    </div>
                    <form class="ActiveForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
	                 	<div class="col-12">
                        	<div class="form-group">               
	                            <label for=""><strong> Upload File <span class="text-danger">*</span></strong></label>
	                            <div class="custom-file" style="cursor:pointer">
	                                {{form.essay}}
	                                <label for="id_certificate" class="custom-file-label">Browse files</label>
	                            </div>
	                            <div class="feedback"></div>
	                        </div> 
	                        <p><strong>Note:</strong>You can only upload .txt,.docx or .pdf.Max file upload limit is 6MB.</p>
	                    </div>
	                    <div class="col-12 text-center">
	                    	<button class="btn btn-primary btn-round"><i class="ti-upload"></i> Upload</button>
	                    </div>
	               	</form>
	               	{% else %}
	               	<div class="col-12 text-center">
	               		<p><i class="ti-info"></i> We are so sorry but you failed the exam. you cant proceed to the next level.</p>
	               		<a href="{% url 'login' %}" class="btn btn-primary btn-round"><i class="ti-key"></i> Sign in</a>
	               	</div>
	               	{% endif %}
                </div>
                
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{{user.path|json_script:"path" }}
{{user.category|json_script:"category" }}
{{user.user.username|json_script:"username" }}
<script>
    var path=JSON.parse(document.getElementById('path').textContent),
    category=JSON.parse(document.getElementById('category').textContent),
    username=JSON.parse(document.getElementById('username').textContent);
    localStorage.setItem('obj',JSON.stringify({'username':username,'path':path,'type':category}));
</script>
{% endblock %}