{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                {% if data.is_staff %}
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'orders' %}">All Orders</a></li>
                                {% else %}
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'my orders' %}">All Orders</a></li>
                                {% endif %}
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <h6 class="p-2 text-center"><span class="text-success">#{{order.order_id}} {{order.topic}}</span></h6>
                    <div class="table-responsive table-results">
                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                            <tr>
                                <th><strong>Order Topic:</strong></th>
                                <td>{{order.topic}}</td>
                            </tr>
                            <tr>
                                <th><strong>No of MCQ questions:</strong></th>
                                <td>{{order.no_of_mcq_quiz|intcomma}}</td>
                            </tr>
                            <tr>
                                <th><strong>No of essay questions:</strong></th>
                                <td>{{order.no_of_essay_quiz|intcomma}}</td>
                            </tr>
                            <tr>
                                <th><strong>Country:</strong></th>
                                <td>{{order.country}}</td>
                            </tr>
                            <tr>
                                <th><strong>Time:</strong></th>
                                <td>{{order.time}}</td>
                            </tr>
                            <tr>
                                <th><strong>Time required to finish:</strong></th>
                                <td>{{order.time_required_to_finish}}</td>
                            </tr>
                            <tr>
                                <th><strong>Whatsapp No:</strong></th>
                                <td>{{order.whatsapp_phone}}</td>
                            </tr>
                            {% if order.additional_materials %}
                            <tr>
                                <th><strong>Additional Materials</strong></th>
                                <td style="display:block;">
                                    {% for file in media %}
                                    <a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials.name}}</a> {% if data.extendedauthuser.category == 'customer' %}| <a data-host="{% url 'see exam order' id=order.id %}" href="{% url 'delete media exam' id=file.id %}" data-text="Confirm deleting media ?" class="del-data" type="button"><i class="zmdi zmdi-delete text-info"></i></a>{% endif %}
                                    <br>
                                    {% empty %}
                                    Not Provided
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th><strong>Deadline:</strong></th>
                                <td>{{order.deadline}}</td>
                            </tr>
                            <tr>
                                <th><strong>Date created:</strong></th>
                                <td>{{order.created_on|timesince}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <a class="btn btn-block btn-round btn-primary" href="{% url 'edit exam order' id=order.id %}">Edit</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}