{% extends 'panel/auth.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block body %}
<div class="auth">
    <div class="auth_left" style="width:700px !important;">
        <div class="card">
            <div class="text-center mb-2">
                <a class="header-brand" href="{% url 'home' %}">
                	<div class="row">
                		{% if obj.login_logo %}
                		<div class="col-12">
                			<img class="img-responsive" style="width:60px;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{obj.login_logo.url}}" alt="{{obj.site_name}}">
                		</div>
                		{% else %}
                		<div class="mt-2 col-12">
                			<h4 style="color:#000;font-weight:bold">{{obj.site_name}}.</h4>
                		</div>
                		{% endif %}
                	</div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title text-center"><strong>Register as a freelancer writer.</strong></h4>
                <div class="row">
                    {% if user.category == 'customer' %}
                    <div class="col-12 hh-grayBox" id="customer">
                       <div class="row justify-content-between">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Login</span></p>
                            </div> 
                        </div>
                    </div>   
                    {% else %}
                    <div class="col-12 hh-grayBox" id="writer">
                        <div class="row justify-content-between" id="writer">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Pass Grammer Test</span></p>
                            </div> 
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Write Sample Essay</span></p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12">
                    	<div class="alert alert-success text-center"><i class="ti-check-box"></i> Congragulations,your essay was submitted successfully..</div>
                    </div>
                    <div class="col-12 text-center">
                    	<p>The administrator will verify your profile.You will receive an email notification upon verification within the next 2 business days.</p>
                    	<a href="{% url 'login' %}?type=writer" class="btn btn-primary btn-block btn-round" title="Sign In">Go to dashboard</a>
                    </div>
                </div>   
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{{user.path|json_script:"path" }}
{{user.category|json_script:"category" }}
{{user.user.username|json_script:"username" }}
<script>
    var path=JSON.parse(document.getElementById('path').textContent),
    category=JSON.parse(document.getElementById('category').textContent),
    username=JSON.parse(document.getElementById('username').textContent);
    localStorage.setItem('obj',JSON.stringify({'username':username,'path':path,'type':category}));
</script>
{% endblock %}