{% extends 'panel/auth.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block body %}
<div class="auth">
    <div class="auth_left" style="width:700px !important;">
        <div class="card">
            <div class="text-center">
                <a class="header-brand" href="{% url 'home' %}">
                	<div class="row">
                		{% if obj.login_logo %}
                		<div class="col-12">
                			<img class="img-responsive" style="width:60px;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{obj.login_logo.url}}" alt="{{obj.site_name}}">
                		</div>
                		<div class="col-12">
                			<h4>{{obj.site_name}}.</h4>
                		</div>
                		{% endif %}
                	</div>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if data.category == 'customer' %}
                    <div class="col-12 hh-grayBox" id="customer">
                        <div class="row justify-content-between">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Login</span></p>
                            </div> 
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 hh-grayBox" id="writer">
                        <div class="row justify-content-between">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Pass Grammer Test</span></p>
                            </div> 
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Write Sample Essay</span></p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if data.category == 'customer' %}
                <div class="row">
                    <div class="col-12 text-center">
                        <p>Everything is now setup.You may go ahead and login now.Thank you for joining our community today.</p>
                        <a href="{% url 'login' %}" class="btn btn-primary btn-block btn-round" title="Sign In"><i class="ti-key"></i> Sign in</a>
                    </div>
                </div>
                {% else %}
                <div class="row intro">
                    {% if  not data.exam_complete %}
                    <div class="col-12">
                        <h4 class="text-center"><strong>Grammar Test</strong></h4>
                        <hr>
                        <p>In order to proceed with registration,we would like you to take an English test.</p>
                        <ul>
                            <li>It will help to determine the level of your language skills.</li>
                            <li>You will have <strong>{{obj.quiz_time|default:'Not set'}} minutes</strong> to complete test, <strong>{{obj.no_of_quiz_to_display|intcomma|default:'Not set'}} Questions in total.</strong>
                            <li>There are tasks on English grammar and vocabulary.</li>
                            <li>You have only <strong>{{obj.no_of_correct_ans|default:'Not set'}} attempt(s)</strong> to complete the test.Your account will be disabled if <strong>{{obj.no_of_quiz_to_display|sub:obj.no_of_correct_ans|intcomma}} Incorrect answers.</strong></li>
                            <li>Take it seriously as you have only one attempt to answer each question. </li>
                            <li>Make sure nothing will disturb you during the next <strong>{{obj.quiz_time|default:'Not set'}} minutes.</strong></li>
                        </ul>
                        <div class="text-center">
                            {% if count > 1 %}
                            <button id="start-exam" class="btn btn-primary btn-round">Start now</button>
                            {% else %}
                            <p class="text-center text-danger"><Strong><i class="ti-alert"></i> Question not enough.Questions must be greater than one.</Strong></p>
                            <button id="start-exam" class="btn btn-primary btn-round" disabled>Start now</button>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 text-center">
                        <p class="text-center text-info"><Strong><i class="ti-info"></i> You have already completed this exam.</Strong></p>
                        <a href="{% url 'essay' id=data.user_id %}" class="btn btn-primary btn-round">Go to write sample essay <i class="fa fa-arrow-right"></i></a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% if count > 1 %}
                    <p class="text-center text-danger show-time" style="display:none">
                        <Strong><i class="ti-alarm-clock"></i> Time left: <span id="countdown"></span></Strong>
                    </p>
                    <input type="hidden" value="{{obj.quiz_time}}" id="quiz_time">
                    <div class="exam" style="display:none">
                        {% for question in questions %}
                        <form class="Exam_Room ActiveForm" method="post" id="active_page_{{question.id}}">
                            {% csrf_token %}
                            <div class="section row">
                                <div class="col-12">
                                    <p>Question {{forloop.counter}} of {{count}}</p>
                                    <p>{{question.question}}</p>
                                    <strong>Answers:</strong>
                                    <input type="hidden" name="question_id" value="{{question.id}}">
                                    <input type="hidden" name="user_id" value="{{id}}">
                                    <input type="number" name="passmark" value="{{obj.no_of_correct_ans}}" hidden>
                                    <ul id="answers" style="margin-left:-40px">
                                        <li class="form-check">
                                            <input type="radio" name="answer1" id="id_1" class="form-check-input">
                                            <label for="id_1" class="form-check-label">{{question.answer1}}</label>
                                        </li>
                                        <li class="form-check">
                                            <input type="radio" name="answer2" id="id_2" class="form-check-input">
                                            <label for="id_2" class="form-check-label">{{question.answer2}}</label>
                                        </li>
                                        <li class="form-check">
                                            <input type="radio" name="answer3" id="id_3" class="form-check-input">
                                            <label for="id_3" class="form-check-label">{{question.answer3}}</label>
                                        </li>
                                        <li class="form-check">
                                            <input type="radio" name="answer4" id="id_4" class="form-check-input">
                                            <label for="id_4" class="form-check-label">{{question.answer4}}</label>
                                        </li>
                                    </ul>
                                </div> 
                            </div>
                        </form>
                        {% empty %}
                        <p class="text-center text-danger"><Strong><i class="ti-alert"></i> No questions found.</Strong></p>
                        {% endfor %}
                    {% csrf_token %}
                   </div>
                {% endif %}
            </div>
            <div class="mt-5 card-footer text-center">
                <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="designer_link">{{designer_name}}</a></p>
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{{data.path|json_script:"path" }}
{{data.category|json_script:"category" }}
{{data.user.username|json_script:"username" }}
<script>
    var path=JSON.parse(document.getElementById('path').textContent),
    category=JSON.parse(document.getElementById('category').textContent),
    username=JSON.parse(document.getElementById('username').textContent);
    localStorage.setItem('obj',JSON.stringify({'username':username,'path':path,'type':category}));
</script>
{% endblock %}