{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
    </div>
</div>
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex justify-content-between">
                            <ul class="nav nav-tabs b-none">
                                <li class="nav-item"><a class="nav-link active" id="list-tab" data-toggle="tab" href="#list"><i class="fa fa-list-ul"></i> List</a></li>
                                <li class="nav-item"><a class="nav-link" id="grid-tab" data-toggle="tab" href="#grid"><i class="fa fa-th"></i> Grid</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-2 section-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;white-space: nowrap;">
                    <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#group">General</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#read">Read messages</a></li>
                </ul>
            </div>
            <div class="col-md-8 mx-auto">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="group" role="tabpanel">
                        <div class="tab-content">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Total unread messages (<span class="spanner">{{contact_count|intcomma|default:0}}</span>)</h3>
                                    <div class="card-options">
                                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane fade show active" id="list" role="tabpanel">
                                        <div class="row clearfix">
                                            <div class="col-lg-12">
                                                <div class="table-responsive table-results" id="users">
                                                    <table class="table table-hover table-vcenter text-nowrap table_custom border-style list">
                                                        <tbody>
                                                            {% for message in contact_messages %}
                                                            <tr class="">
                                                                <td class="width35 hidden-xs">
                                                                    <a href="{% url 'message single' id=message.id %}" class="mail-star"><i class="fa fa-star"></i></a>
                                                                </td>
                                                                <td class="text-center">
                                                                    <a href="{% url 'message single' id=message.id %}">
                                                                        <div class="profbadge" style="background:{{message.bgcolor}}">{{message.initials|default:'M'}}</div>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <div class="text-muted">
                                                                        <a href="{% url 'message single' id=message.id %}">{{message.name}}</a>
                                                                    </div>
                                                                </td> 
                                                                <td>
                                                                    <div class="text-muted">{{message.message}}</div>
                                                                </td>
                                                                <td class="text-right">
                                                                    {% if message.phone %}
                                                                    <a class="btn btn-sm btn-link" href="tel:{{message.phone}}" data-toggle="tooltip" title="Phone"><i class="fa fa-phone"></i></a>
                                                                    {% endif %}
                                                                    <a class="btn btn-outline-success btn-round" href="mailto:{{message.email}}" data-toggle="tooltip" title="Mail"><i class="fa fa-envelope"></i> Send Message</a>
                                                                    <button data-url="{% url 'delete message' id=message.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete Message</button>
                                                                    {% if message.is_read %}
                                                                    <button data-toggle="tooltip" title="mark is read" class="read-button btn btn-danger btn-round" type="button" disabled><i class="ti-check"></i>Marked read</button>
                                                                    {% else %}
                                                                    <button data-toggle="tooltip" title="mark is read" data-url="{% url 'mark inbox is read' id=message.id %}" class="read-button btn btn-danger btn-round" type="button"><i class="ti-check"></i> Mark read</button>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% empty %}
                                                            <tr>
                                                                <td class="mx-auto my-auto text-center">
                                                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                                    <h4><i class="ti-info-alt"></i> No new messages</h4>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="grid" role="tabpanel">
                                        <div class="row row-deck">
                                            {% for message in contact_messages %}
                                            <div class="col-lg-3 col-md-6 col-sm-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="card-status bg-blue"></div>
                                                        <div class="mb-3 text-center">
                                                            <a href="{% url 'message single' id=message.id %}">
                                                                <div class="profbadge" style="background:{{message.bgcolor}}">{{message.initials|default:'M'}}</div>
                                                            </a>
                                                        </div>
                                                        <div class="mb-2">
                                                            <h5 class="mb-0">
                                                                <a href="{% url 'message single' id=message.id %}">{{message.name}}</a>
                                                            </h5>
                                                            <p class="text-muted">{{message.email}}</p>
                                                            <span>{{message.message}}</span>
                                                        </div>
                                                        <div class="text-right">
                                                            <span class="font-12 text-muted text-success"><i class="ti-alarm-clock"></i> {{message.created_on|timesince}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <div class="col-lg-3 col-md-6 col-sm-12 mx-auto my-auto text-center">
                                                <p><i class="ti-info-alt"></i> No New Messages.</p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <ul class="pagination pagination-primary">
                                        {% if contact_messages.has_previous %}
                                        <li class="page-item active"><a class="page-link" href="{% url 'inbox messages' %}?page={{contact_messages.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                        {% endif %}
                                        {% if contact_messages.has_next %}
                                        <li class="page-item active"><a class="page-link" href="{% url 'inbox messages' %}?page={{contact_messages.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="tab-pane fade" id="read" role="tabpanel">
                         <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total read messages (<span class="spanner">{{read_messages_count|intcomma|default:0}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row clearfix">
                                    <div class="col-lg-12">
                                        <div class="table-responsive table-results" id="users">
                                            <table class="table table-hover table-vcenter text-nowrap table_custom border-style list">
                                                <tbody>
                                                    {% for message in read_messages %}
                                                    <tr class="">
                                                        <td class="width35 hidden-xs">
                                                            <a href="{% url 'message single' id=message.id %}" class="mail-star"><i class="fa fa-star"></i></a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="{% url 'message single' id=message.id %}">
                                                                <div class="profbadge" style="background:{{message.bgcolor}}">{{message.initials|default:'M'}}</div>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <div class="text-muted">
                                                                <a href="{% url 'message single' id=message.id %}">{{message.name}}</a>
                                                            </div>
                                                        </td> 
                                                        <td>
                                                            <div class="text-muted">{{message.message}}</div>
                                                        </td>
                                                        <td class="text-right">
                                                            {% if message.phone %}
                                                            <a class="btn btn-sm btn-link" href="tel:{{message.phone}}" data-toggle="tooltip" title="Phone"><i class="fa fa-phone"></i></a>
                                                            {% endif %}
                                                            <a class="btn btn-outline-success btn-round" href="mailto:{{message.email}}" data-toggle="tooltip" title="Mail"><i class="fa fa-envelope"></i> Send Message</a>
                                                            <button data-url="{% url 'delete message' id=message.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete Message</button>
                                                        </td>
                                                    </tr>
                                                    {% empty %}
                                                    <tr>
                                                        <td class="mx-auto my-auto text-center">
                                                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                            <h4><i class="ti-info-alt"></i> No new read messages</h4>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if read_messages.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'inbox messages' %}?page={{read_messages.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if read_messages.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'inbox messages' %}?page={{read_messages.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}