{% extends 'panel/auth.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block body %}
<div class="auth">
    <div class="auth_left" style="width:700px !important;">
        <div class="card">
            <div class="text-center mb-2">
                <a class="header-brand" href="{% url 'home' %}">
                	<div class="row">
                		{% if obj.login_logo %}
                		<div class="col-12">
                			<img class="img-responsive" style="width:60px;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{obj.login_logo.url}}" alt="{{obj.site_name}}">
                		</div>
                		{% else %}
                		<div class="mt-2 col-12">
                			<h4 style="color:#000;font-weight:bold">{{obj.site_name}}.</h4>
                		</div>
                		{% endif %}
                	</div>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 hh-grayBox" id="customer">
                       <div class="row justify-content-between">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Login</span></p>
                            </div> 
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                    	<p>Profile setup complete.You may go ahead and login now.</p>
                    	<a href="{% url 'login' %}" class="btn btn-primary btn-block btn-round" title="Sign In"><i class="ti-key"></i> Login Now</a>
                    </div>
                </div>   
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{% endblock %}