{% extends 'panel/auth.html' %}
{% load static %}
{% block body %}
<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="text-center">
                <a class="header-brand" href="{% url 'home' %}">
                	<div class="row">
                		{% if obj.login_logo %}
                		<div class="col-12">
                			<img class="img-responsive" style="width:60px;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{obj.login_logo.url}}" alt="{{obj.site_name}}">
                		</div>
                        <div class="col-12 text-center"> 
                         <h5>{{obj.site_name}}</h5>   
                        </div>
                		{% else %}
                		<div class="col-12">
                			<h4 style="color:#000;font-weight:bold">{{obj.site_name}}.</h4>
                		</div>
                		{% endif %}
                	</div>
                </a>
            </div>
            <div class="card-body loginpage">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs" id="pills-tab" role="tablist"  style="display:inline-block;width:100%;white-space: nowrap;" >
                            <li style="display:inline-block" class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#login">Login</a></li>
                            {% if request.GET.type == 'writer' %}
                            <li style="display:inline-block" class="nav-item"><a class="nav-link" data-toggle="tab" href="#signup">Writer Sign Up</a></li>
                            {% else %}
                            <li style="display:inline-block" class="nav-item"><a class="nav-link" data-toggle="tab" href="#signup">Client Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <hr>
                </div>
                 <div class="row clearfix">
                    <div class="col-12">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="login">
                                    <form class="ActiveForm" action="" method="post" novalidate>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="form-label">Username/Email Address</label>
                                            {{form.username}}
                                            <div class="feedback"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Password<a href="{% url 'password_reset' %}" class="float-right small"><i class="fa fa-question-circle"></i> I forgot password</a></label>
                                            {{form.password}}
                                            <div class="feedback"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="rememberme" />
                                            <span class="custom-control-label">Remember me</span>
                                            </label>
                                        </div>
                                        <div class="form-footer">
                                            <button class="btn btn-primary btn-block btn-round" title="Sign In">Sign in</button>
                                        </div>
                                    </form>
                                </div> 
                            <div class="tab-pane" id="signup">
                                {% if request.GET.type == 'customer' %}
                                <div class="col-12 hh-grayBox pt45 pb20" id="writer">
                                    <div class="row justify-content-between">
                                        <div class="order-tracking completed">
                                            <span class="is-complete"></span>
                                            <p class="d-md-inline d-none">Submit Email</span></p>
                                        </div>
                                        <div class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p class="d-md-inline d-none">Fill In Profile</span></p>
                                        </div>
                                        <div class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p class="d-md-inline d-none">Pass Grammer Test</span></p>
                                        </div> 
                                        <div class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p class="d-md-inline d-none">Write Sample Essay</span></p>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-12 hh-grayBox pt45 pb20" id="customer">
                                    <div class="row justify-content-between">
                                        <div class="order-tracking ">
                                            <span class="is-complete"></span>
                                            <p class="d-md-inline d-none">Submit Email</span></p>
                                        </div>
                                        <div class="order-tracking ">
                                            <span class="is-complete"></span>
                                            <p class="d-md-inline d-none">Fill In Profile</span></p>
                                        </div>
                                        <div class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p class="d-md-inline d-none">Login</span></p>
                                        </div> 
                                    </div>
                                </div>
                                {% endif %}
                                <form class="ActiveForm" action="{% url 'home' %}" method="post" novalidate>
                                    <div class="form-group d-none">
                                        {% csrf_token %}
                                    </div>
                                    {% if request.GET.type == 'writer' %}
                                    <div class="form-group d-none">
                                        <input type="text" class="form-control"name="category" value="writer" hidden>
                                    </div>
                                    {% else %}
                                    <div class="form-group d-none">
                                        <input type="text" class="form-control"name="category" value="customer" hidden>
                                    </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label class="form-label">Username</label>
                                        {{regform.username}}
                                        <div class="feedback"></div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="form-label">Email address</label>
                                        {{regform.email}}
                                        <div class="feedback"></div>
                                    </div>
                                    <div class="form-footer">
                                        <button class="btn btn-primary btn-block btn-round" title="Sign In">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="card-footer text-center">
                <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="designer_link">{{designer_name}}</a></p>
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{% endblock %}