{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load filename %}
{% load sampler %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <ol class="breadcrumb" style="background-color:transparent!important;">
	                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
	                    <li class="breadcrumb-item">Manage Settings</li>
	                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
	                </ol>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
        	<div class="col-12 text-right">
        		<a href="{% url 'add sample paper' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
        	</div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{title}} (<span class="spanner">{{count|intcomma}}</span>)</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">	
                    	<div class="table-responsive table-results">
	                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
	                            <thead>
	                                <tr>
	                                    <th>#</th>
	                                    <th>Topic</th>
	                                    <th>Content</th>
	                                    <th>Created on</th>
	                                    <th>Action</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                            	{% for sample in samples %}
	                                <tr >
	                                	<td>{{forloop.counter}}</td>
	                                    <td>{{sample.topic}}</td>
	                                    <td>{{sample.content|sampler:sample.id|safe}}</td>	
	                                    <td><span>{{sample.created_on}}</span></td>
	                                    <td>
	                                    	<a  href="{% url 'edit sample' id=sample.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit</a>
	                                        <button data-url="{% url 'delete sample' id=sample.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete</button>
	                                    </td>
	                                </tr>
	                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{sample.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{sample.id}}" aria-hidden="true">
				                          <div class="modal-dialog  modal-dialog-scrollable modal-lg">
				                              <div class="modal-content">
				                                  <div class="modal-header">
				                                      <h5 class="modal-title text-center" id="mySmallModalLabel"><b>{{sample.topic}}</b></h5>
				                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                                          <span aria-hidden="true">&times;</span>
				                                      </button>
				                                      <hr>  
				                                  </div>
				                                  <div class="modal-body">
				                                    <p>{{sample.content|safe}}</p>
				                                  </div>
				                                  <div class="modal-footer"> 
				                                    <div class="row">
				                                        <div class="col-12 text-center">
				                                            <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
				                                        </div>
				                                    </div>   
				                                  </div>    
				                              </div>
				                          </div>
				                      </div>
	                                {% empty %}
	                                <tr>
	                                	<td colspan="5" class="text-center">
                                            <div class="card-body text-center py-5">
                                                <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                <h4><i class="ti-info-alt"></i> No data found</h4>
                                            </div>
	                                    </td>
	                                </tr>
	                                {% endfor %}
	                            </tbody>
	                        </table>
	                    </div>
                    </div>
                    <div class="card-footer">	
                    	<ul class="pagination pagination-primary">
		                    {% if samples.has_previous %}
		                    <li class="page-item active"><a class="page-link" href="{% url 'app samples' %}?page={{samples.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
		                    {% endif %}
		                    {% if samples.has_next %}
		                    <li class="page-item active"><a class="page-link" href="{% url 'app samples' %}?page={{samples.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
		                    {% endif %}
			            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}