{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <ol class="breadcrumb" style="background-color:transparent!important;">
	                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
	                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
	                </ol>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
    </div>
</div>
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex justify-content-between">
                            <ul class="nav nav-tabs b-none">
                                <li class="nav-item"><a class="nav-link active" id="list-tab" data-toggle="tab" href="#list"><i class="fa fa-list-ul"></i> List</a></li>
                                <li class="nav-item"><a class="nav-link" id="grid-tab" data-toggle="tab" href="#grid"><i class="fa fa-th"></i> Grid</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="tab-content">
        	<h5>Total unread messages ({{count|intcomma}})</h5>
            <div class="tab-pane fade show active" id="list" role="tabpanel">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="table-responsive table-results" id="users">
                            <table class="table table-hover table-vcenter text-nowrap table_custom border-style list">
                                <tbody>
                                	{% for message in messages %}
                                    <tr class="">
                                        <td class="width35 hidden-xs">
                                            <a href="javascript:void(0);" class="mail-star"><i class="fa fa-star"></i></a>
                                        </td>
                                        <td class="text-center width40">
                                            <div class="profbadge" style="background:{{message.bgcolor}}">{{message.initials|default:'M'}}</div>
                                        </td>
                                        <td>
                                            <div><a href="javascript:void(0);">{{message.name}}</a></div>
                                            <div class="text-muted">{{message.phone}}</div>
                                        </td>
                                        <td class="hidden-xs">
                                            <div class="text-muted">{{message.email}}</div>
                                        </td>
                                        <td class="hidden-sm">
                                            <div class="text-muted">{{message.message}}</div>                                                
                                        </td>
                                        <td class="text-right">
                                            <a class="btn btn-sm btn-link" href="tel:{{message.phone}}" data-toggle="tooltip" title="Phone"><i class="fa fa-phone"></i></a>
                                            <a class="btn btn-sm btn-link" href="mailto:{{message.email}}" data-toggle="tooltip" title="Mail"><i class="fa fa-envelope"></i></a>
                                            <a data-host="{% url 'messages' %}" href="{% url 'delete message' id=message.id %}"   class="del-data btn btn-sm btn-link hidden-xs js-sweetalert" data-type="confirm" href="javascript:void(0)" role="button" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                    	<td>
                                    		<p><i class="ti-info-alt"></i> No New Messages.</p>
                                    	</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="grid" role="tabpanel">
                <div class="row row-deck">
                	{% for message in messages %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card " >
                            <div class="card-body">
                                <div class="card-status bg-blue"></div>
                                <div class="mb-3 text-center">
                                	<div class="profbadge" style="background:{{message.bgcolor}}">{{message.initials|default:'M'}}</div>
                                </div>
                                <div class="mb-2">
                                    <h5 class="mb-0">{{message.name}}</h5>
                                    <p class="text-muted">{{message.email}}</p>
                                    <span>{{message.message}}</span>
                                </div>
                               <div class="text-right">
                               	 <span class="font-12 text-muted text-success"><i class="ti-alarm-clock"></i> {{message.created_on|timesince}}</span>
                               </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                    	<p><i class="ti-info-alt"></i> No New Messages.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}