{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'inbox messages' %}">Messages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
    </div>
</div>
<div class="mt-2 section-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{message.name}}:{{message.subject}}</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{message.message}}</p>  
                    </div>
                    <div class="card-footer text-md-right text-left">
                        {% if message.phone %}
                        <a class="btn btn-sm btn-link" href="tel:{{message.phone}}" data-toggle="tooltip" title="Phone"><i class="fa fa-phone"></i></a>
                        {% endif %}
                        <a class="btn btn-outline-success btn-round" href="mailto:{{message.email}}" data-toggle="tooltip" title="Mail"><i class="fa fa-envelope"></i> Send Message</a>
                        {% if message.is_read %}
                        <button data-toggle="tooltip" title="mark is read" class="read-button btn btn-danger btn-round" type="button" disabled><i class="ti-check"></i>Marked read</button>
                        {% else %}
                        <button data-toggle="tooltip" title="mark is read" data-url="{% url 'mark inbox is read' id=message.id %}" class="read-button btn btn-danger btn-round" type="button"><i class="ti-check"></i> Mark read</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}