{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
    </div>
</div>
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-8 mx-auto">
                <div class="d-lg-flex justify-content-between" >
                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;white-space: nowrap;">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#group">General</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Individual">For You</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#read">Read messages</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="tab-content">
                    <div class="tab-pane active show" id="group">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total unread messages (<span class="spanner">{{public_count|intcomma|default:0}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for message in broadcasts %}
                                <div class="alert alert-info">
                                    <div class="media">
                                        <img style="width:80px;height:80px;border:2px solid #fff;border-radius:50%;" class="mr-3 img-responsive" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{message.user.extendedauthuser.profile_pic.url}}" alt="{{message.user.get_full_name}}">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5 class="mt-0 text-light">{{message.user.get_full_name}}</h5>
                                                    <p>{{message.message}}
                                                        <br>
                                                        <span class="text-info">{{message.created_on|naturaltime}}</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-4 text-right my-auto">
                                                    <button data-url="{% url 'mark is read' id=message.id %}" class="delete-button btn btn-danger btn-round" type="button"><i class="ti-check"></i> Mark read</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="text-center py-5">
                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                    <h4><i class="ti-info-alt"></i> No data found</h4>
                                </div>
                                {% endfor %} 
                            </div>
                           <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if broadcasts.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my messages' %}?page={{broadcasts.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if broadcasts.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my messages' %}?page={{broadcasts.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                           </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Individual">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total unread messages (<span class="spanner">{{private_count|intcomma|default:0}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for message in individuals %}
                                <div class="alert alert-info">
                                    <div class="media">
                                        <img style="width:80px;height:80px;border:2px solid #fff;border-radius:50%;" class="mr-3 img-responsive" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{message.user.extendedauthuser.profile_pic.url}}" alt="{{message.user.get_full_name}}">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5 class="mt-0 text-light">{{message.user.get_full_name}}</h5>
                                                    <p>{{message.message}}
                                                        <br>
                                                        <span class="text-info">{{message.created_on|naturaltime}}</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-4 text-right my-auto">
                                                    <button data-url="{% url 'mark is read' id=message.id %}" class="delete-button btn btn-danger btn-round" type="button"><i class="ti-check"></i> Mark read</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="text-center py-5">
                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                    <h4><i class="ti-info-alt"></i> No data found</h4>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if individuals.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my messages' %}?page={{individuals.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if individuals.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my messages' %}?page={{individuals.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="read">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total read messages (<span class="spanner">{{read_count|intcomma|default:0}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for message in read_messages %}
                                <div class="media">
                                    <img style="width:80px;height:80px;border:2px solid #fff;border-radius:50%;" class="mr-3 img-responsive" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{message.user.extendedauthuser.profile_pic.url}}" alt="{{message.user.get_full_name}}">
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="mt-0">{{message.user.get_full_name}}</h5>
                                                <p>{{message.message}}
                                                    <br>
                                                    <span class="text-info">{{message.created_on|naturaltime}}</span>
                                                </p>
                                            </div>
                                            <!-- <div class="col-md-4 text-right my-auto">
                                                <button data-url="{% url 'delete read message' id=message.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="ti-check"></i> delete</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="text-center py-5">
                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                    <h4><i class="ti-info-alt"></i> No data found</h4>
                                </div>
                                {% endfor %}
                            </div>
                           <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if read_messages.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my messages' %}?page={{read_messages.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if read_messages.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my messages' %}?page={{read_messages.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}