{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load ranger %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        {% if data.is_superuser %}
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'orders' %}">All orders</a></li>
                        {% else %}
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'my orders' %}">All orders</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-md-6" style="max-height:800px;overflow:auto;">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% if edit %} <span class="text-success">{{title}}</span> {% else %}Place New Order{% endif %}</h3>
                        <div class="card-options">
                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 text-center mx-auto">
                                <div class="d-lg-flex justify-content-between">
                                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;">
                                        {% if not edit %}
                                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#assingment">Assingment</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#exam">Ask online quiz help</a></li>
                                        {% else %}
                                        {% if assingment %}
                                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#assingment">Assingment</a></li>
                                        {% endif %}
                                        {% if exam %}
                                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#exam">Ask online quiz help</a></li>
                                        {% endif %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="tab-content">
                                    {% if not edit %}
                                    <div class="tab-pane active show" id="assingment">
                                        {% else %}
                                        {% if assingment %}
                                        <div class="tab-pane active show" id="assingment">
                                            {% else %}
                                            <div class="tab-pane" id="assingment">
                                                {% endif %}
                                                {% endif %}
                                                {% if not edit %}
                                                <div class="col-12 hh-grayBox" id="writer">
                                                    <div class="row justify-content-between">
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p class="d-md-inline d-none">Fill Order Details</span></p>
                                                        </div>
                                                        <div class="order-tracking ">
                                                            <span class="is-complete"></span>
                                                            <p class="d-md-inline d-none">Order Bidding</span></p>
                                                        </div>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p class="d-md-inline d-none">Choose Writer & Reserve Money</span></p>
                                                        </div>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p class="d-md-inline d-none">Track Progress</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                {% if not data.is_superuser %}
                                                <div class="col-12 hh-grayBox" id="writer">
                                                    <div class="row justify-content-between">
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p class="d-md-inline d-none">Fill Order Details</span></p>
                                                        </div>
                                                        <div class="order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p class="d-md-inline d-none">Order Bidding</span></p>
                                                        </div>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p class="d-md-inline d-none">Choose Writer & Reserve Money</span></p>
                                                        </div>
                                                        <div class="order-tracking">
                                                            <span class="is-complete"></span>
                                                            <p class="d-md-inline d-none">Track Progress</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endif %}
                                                <div class="col-12">
                                                    <form class="ActiveForm" method="post" enctype="multipart/form-data" novalidate>
                                                        <h4><strong>Basic Infomation</strong></h4>
                                                        <hr>
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="">Topic <span class="text-danger">*</span></label>
                                                                    {{form.topic}}
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="">Pages</label>
                                                                   <input 
                                                                        type="number" 
                                                                        name="pages" 
                                                                        id="id_pages" 
                                                                        data-budgeter="{{obj.order_budget|floatformat:0}}"
                                                                        class="form-control" 
                                                                        value="{{order.pages}}"
                                                                        onkeyup="
                                                                                var pages=$(this).val(),
                                                                                budget=$(this).data('budgeter'),
                                                                                words_per_page=pages*300;
                                                                                $(this).parents('form').find('#id_words_per_page').val(words_per_page);
                                                                                $(this).parents('form').find('#id_budget').val(Math.round(pages*budget));

                                                                    ">
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="">Total words </label>
                                                                    <input 
                                                                        type="number" 
                                                                        name="words_per_page" 
                                                                        id="id_words_per_page" 
                                                                        class="form-control"
                                                                        value="{{order.words_per_page}}"
                                                                        data-budgeter="{{obj.order_budget|floatformat:0}}"
                                                                        onkeyup="
                                                                                var pages=$(this).val()/300,
                                                                                budget=$(this).data('budgeter');
                                                                                $(this).parents('form').find('#id_pages').val(Math.round(pages));
                                                                                $(this).parents('form').find('#id_budget').val(Math.round(pages*budget));
                                                                    ">
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="">Select category <span class="text-danger">*</span></label>
                                                                    {{form.category}}
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="">Order Budget (in {{obj.currency_symbol}})</label>
                                                                    {{form.budget}}
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 d-none">
                                                                <div class="form-group">
                                                                    <input type="text" name="balance" class="form-control" value="{{data.extendedauthuser.balance}}" hidden>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="">{% if edit %}<strong class="text-success">Extend</strong>{% endif %} Deadline <span class="text-danger">*</span></label>
                                                                    {{form.deadline}}
                                                                    <div class="feedback"></div>
                                                                </div>
                                                                <span>Your Current Timezone:
                                                                    <span class="text-success">
                                                                        [{{data.extendedauthuser.timezone}}] {% now "l" %},
                                                                        <script>
                                                                            var newtime=new Date(),
										                                output=newtime.toLocaleString('en-US',{hour:'numeric',minute:'numeric',hour12:true,timeZone:'{{data.extendedauthuser.timezone}}'});
										                                document.write(output);
										                        </script>
                                                                        {% now "jS F Y " %}.Change timezone <a href="{% url 'profile' username=data.username %}">here</a>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <div class="mt-3 col-12">
                                                                <h4 class="mt-2"><strong>Additional Infomation</strong></h4>
                                                                <hr>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="">Format/Citation Style <span class="text-danger">*</span></label>
                                                                    <select name="citation_style" class="form-control">
                                                                        {% for style in styles %}
                                                                        {% if order.citation_style == style.name %}
                                                                        <option value="{{order.citation_style}}" selected>{{order.citation_style}}</option>
                                                                        {% else %}
                                                                        <option value="{{style.name}}">{{style.name}}</option>
                                                                        {% endif %}
                                                                        {% empty %}
                                                                        <option value="" disabled selected>No style found</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="">Paper Instructions </label>
                                                                    {{form.paper_instructions}}
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for=""><strong>Upload additional material </strong></label>
                                                                    <div class="custom-file" style="cursor:pointer">
                                                                        {{form.additional_materials}}
                                                                        <label for="id_additional_materials" class="custom-file-label">Browse files</label>
                                                                    </div>
                                                                    <div class="feedback"></div>
                                                                </div>
                                                                <p><strong>Note:</strong>You can upload only <strong>.jpg,.jpeg,.png,.pdf,.docx,.doc,.txt and .xls</strong> files.</p>
                                                            </div>
                                                            <div class="col-12">
                                                                {% if request.GET.visitor %}
                                                                <div class="form-group">
                                                                    <label class="text-left" for="">Invite Writer</label>
                                                                    <input type="text" name="inviter" id="id_inviter" class="form-control" value="{{request.GET.visitor}}" readonly>
                                                                </div>
                                                                {% else %}
                                                                <div class="form-group">
                                                                    <label class="text-left" for="">Invite Writer(Optional)</label>
                                                                    {{form.inviter}}
                                                                    {% if writers %}
                                                                    <datalist id="customerlist">
                                                                        {% for writer in writers %}
                                                                        <option value="{{writer.username}}">{{writer.first_name}} {{writer.last_name}}</option>
                                                                        {% endfor %}
                                                                    </datalist>
                                                                    {% endif %}
                                                                    <div class="feedback"></div>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                            {% if order.admin_approve %}
                                                            <div class="col-12 d-none">
                                                                <div class="form-group">
                                                                    <label class="custom-control custom-checkbox">
                                                                        <input aria-label="admin_approve" type="checkbox" class="custom-control-input" name="admin_approve" checked readonly />
                                                                        <span class="custom-control-label"> Approve order</span>
                                                                    </label>
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            {% if edit %}
                                                            <div class="col-12 d-none">
                                                                <div class="form-group">
                                                                    <label class="custom-control custom-checkbox">
                                                                        <input aria-label="tos" type="checkbox" class="custom-control-input" name="tos" checked />
                                                                        <span class="custom-control-label">I agree to <a target="_blank" href="{% url 'terms and conditions' %}">Terms and Conditions</a> <span class="text-danger">*</span></span>
                                                                    </label>
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            {% else %}
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="custom-control custom-checkbox">
                                                                        <input aria-label="tos" type="checkbox" class="custom-control-input" name="tos" />
                                                                        <span class="custom-control-label">I agree to <a target="_blank" href="{% url 'terms and conditions' %}">Terms and Conditions</a> <span class="text-danger">*</span></span>
                                                                    </label>
                                                                    <div class="feedback"></div>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                            <div class="col-12">
                                                                <div class="text-center">
                                                                    <a href="{% url 'my orders' %}" class="btn btn-primary btn-round"><i class="ti-shopping-cart"></i> My orders</a>
                                                                    {% if order.is_cancelled %}
                                                                    <button class="btn btn-primary btn-block btn-round" title="Publish for writers" disabled><i class="fa fa-users"></i> Publish For Writers</button>
                                                                    {% else %}
	                                                                    {% if edit %}
		                                                                    <a href="{% url 'see order' id=id %}" class="btn btn-success btn-round" type="button"><i class="ti-menu-alt"></i> Preview</a>

		                                                                    {% if order.is_accepted %}
		                                                                    <button class="btn btn-primary btn-round" title="Publish for writers" disabled><i class="fa fa-users"></i> Publish For Writers</button>
		                                                                    {% else %}
		                                                                    <button class="btn btn-primary btn-round" title="Publish for writers"><i class="fa fa-users"></i> Publish For Writers</button>
		                                                                    {% endif %}

		                                                                    {% if not order.is_public %}
		                                                                    <a data-host="{% url 'edit order' id=id %}" href="{% url 'make public' id=id %}" data-text="Confirm making order #{{item.order_id}} public" class="del-data btn btn-danger btn-round" type="button"><i class="ti-close"></i> Make it Public</a>
		                                                                    {% endif %}
	                                                                    {% else %}
	                                                                    	{% if order.is_accepted %}
		                                                                    	<button class="btn btn-primary btn-round" title="Publish for writers" disabled><i class="fa fa-users"></i> Publish For Writers</button>
		                                                                    {% else %}
		                                                                    	<button class="btn btn-primary btn-round" title="Publish for writers"><i class="fa fa-users"></i> Publish For Writers</button>
		                                                                    {% endif %}
	                                                                    {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            {% if not edit %}
                                            <div class="tab-pane" id="exam">
                                                {% else %}
                                                {% if exam %}
                                                <div class="tab-pane active show" id="exam">
                                                    {% else %}
                                                    <div class="tab-pane" id="exam">
                                                        {% endif %}
                                                        {% endif %}
                                                        <h4 class="mt-2"><strong>Basic Infomation</strong></h4>
                                                        <hr>
                                                        {% if edit and exam %}
                                                        <form class="ActiveForm" method="post" action="{% url 'edit question order' id=id %}" enctype="multipart/form-data" novalidate>
                                                        {% else %}
                                                        <form class="ActiveForm" method="post" action="{% url 'exam' %}" enctype="multipart/form-data" novalidate>
                                                        {% endif %}
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label for="">Topic <span class="text-danger">*</span></label>
                                                                        {{form1.topic}}
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="">Number of MCQ Questions <span class="text-danger">*</span></label>
                                                                        {{form1.no_of_mcq_quiz}}
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="">Number of Essay questions <span class="text-danger">*</span></label>
                                                                        {{form1.no_of_essay_quiz}}
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label for="">Date <span class="text-danger">*</span></label>
                                                                        {{form1.deadline}}
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                    <span>Your Current Timezone:
                                                                        <span class="text-success">
                                                                            [{{data.extendedauthuser.timezone}}] {% now "l" %},
                                                                            <script>
                                                                                var newtime=new Date(),
									                                output=newtime.toLocaleString('en-US',{hour:'numeric',minute:'numeric',hour12:true,timeZone:'{{data.extendedauthuser.timezone}}'});
									                                document.write(output);
									                        </script>
                                                                            {% now "jS F Y " %}.Change timezone <a href="{% url 'profile' username=data.username %}">here</a>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="">Country <span class="text-danger">*</span></label>
                                                                        {{form1.country}}
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="">Time <span class="text-danger">*</span></label>
                                                                        {{form1.time}}
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label for="">Time Required To Finish<span class="text-danger">*</span></label>
                                                                        {{form1.time_required_to_finish}}
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <label for="">Add whatsapp number<span class="text-danger">*</span></label>
                                                                    <div class="form-group">
                                                                        {{form1.whatsapp_phone}}
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="mt-2 col-12">
                                                                    <div class="form-group">
                                                                        <label for=""><strong>Upload additional material <span class="text-danger">*</span></strong></label>
                                                                        <div class="custom-file" style="cursor:pointer">
                                                                            {{form1.additional_materials}}
                                                                            <label for="id_additional_materials" class="custom-file-label">Browse files</label>
                                                                        </div>
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                    <p><strong>Note:</strong>You can upload only
                                                                        <strong>.jpg,.jpeg,.png,.pdf,.docx,.doc,.txt and .xls</strong> files.
                                                                    </p>
                                                                </div>
                                                                {% if edit %}
                                                                <div class="col-12 d-none">
                                                                    <div class="form-group">
                                                                        <label class="custom-control custom-checkbox">
                                                                            <input aria-label="tos" type="checkbox" class="custom-control-input" name="tos" checked />
                                                                            <span class="custom-control-label">I agree to <a target="_blank" href="{% url 'terms and conditions' %}">Terms and Conditions</a></span>
                                                                        </label>
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                {% else %}
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label class="custom-control custom-checkbox">
                                                                            <input aria-label="tos" type="checkbox" class="custom-control-input" name="tos" />
                                                                            <span class="custom-control-label">I agree to <a target="_blank" href="{% url 'terms and conditions' %}">Terms and Conditions</a></span>
                                                                        </label>
                                                                        <div class="feedback"></div>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                                <div class="col-12 text-center">
                                                                    {% if edit and id %}
                                                                    <button class="btn btn-primary btn-block btn-round" title="Update ">Update</button>
                                                                    {% else %}
                                                                    <button class="btn btn-primary btn-block btn-round" title="Submit">Submit</button>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="all-bids  list-unstyled" style="max-height:600px;overflow:auto">
                                    <li>Total bids ({{mcount|intcomma|default:'0'}})</li>
                                    <hr>
                                    {% for bid in bids %}
                                    <li class="media">
                                        <img src="{% static 'manager/assets/images/loader.gif' %}" style="width:100px;height:100px;border-radius:50%;border:2px solid #fff;" data-src="{{bid.user.extendedauthuser.profile_pic.url}}" alt="{{bid.user.get_full_name}}" class="img-responsive mr-3">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                           <div class="star-rating">
                                                                <a href="{% url 'writer' id=bid.user.id %}">
                                                                    <h5 class="mt-0 mb-1">{{bid.user.get_full_name}} 
                                                                        {% if bid.is_accepted %}
                                                                            <small class="text-info">
                                                                                <i class="ti-check"></i> Selected
                                                                            </small>
                                                                        {% endif %}
                                                                    </h5> 
                                                                </a>
                                                                <ul class="list-inline">
                                                                   {% if bid.user.extendedauthuser.rating > 0 %}
                                                                        {% for i in bid.user.extendedauthuser.rating|floatformat:0|ranger %}
                                                                        <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                                                        {% endfor %}
                                                                        {% for i in 5|sub:bid.user.extendedauthuser.rating|floatformat:0|ranger %}
                                                                         <li class="list-inline-item">
                                                                            <span class="fa fa-star text-muted"></span>
                                                                         </li>
                                                                        {% endfor %}
                                                                        <li class="list-inline-item">({{bid.user.extendedauthuser.rating_counter|intcomma}})</li>
                                                                   {% endif %}
                                                                </ul>
                                                                {{bid.user.extendedauthuser.completed_projects|intcomma|default:'0'}} Completed Orders  
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 text-md-left text-center">
                                                            <button type="button" class="btn btn-round btn-info btn-sm">{{obj.currency_symbol}} {{bid.price|intcomma}}</button>
                                                            {% if bid.is_accepted %}
                                                            <button class="btn btn-round btn-success btn-sm" disabled><i class="ti-check"></i> selected</button>
                                                            {% else %}
                                                            {% if data.extendedauthuser.category == 'customer' %}
                                                                <a href="{% url 'bid details' id=bid.id %}" class="btn btn-round btn-success btn-sm"><i class="ti-check"></i> select</a>
                                                                {% else %}
                                                                <button class="btn btn-round btn-success btn-sm" disabled><i class="ti-check"></i> select</button>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% empty %}
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h6><i class="ti-info-alt"></i> No bids found yet</h6>
                                    </div>
                                    {% endfor %}
                                </ul>
                                <ul class="mt-2 ml-2 pagination pagination-primary">
                                    {% if bids.has_previous %}
                                    <li class="page-item active">
                                        {% if data.is_superuser %}
                                        <a class="page-link" href="{% url 'admin edit order' id=id %}?page={{bids.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a>
                                        {% else %}
                                        <a class="page-link" href="{% url 'edit order' id=id %}?page={{bids.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% if bids.has_next %}
                                    <li class="page-item active">
                                        {% if data.is_superuser %}
                                        <a class="page-link" href="{% url 'admin edit order' id=id  %}?page={{bids.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a>
                                        {% else %}
                                        <a class="page-link" href="{% url 'edit order' id=id  %}?page={{bids.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="phone" value="{{obj.phone}}">
                {% endblock %}