{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="d-lg-flex justify-content-between">
                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#writers">Writers</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#customers">Customers</a></li>
                    </ul>
                </div>
            </div>
            <div class="mt-2 col-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="writers">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th colspan="12">Writers ({{wcount|intcomma}})</th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>User Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in writers %}
                                            <tr id="id_{{user.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{user.get_full_name}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.email}}</td>
                                                <td class="text-success">online</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="5" class="text-center">
                                                    <div class="card">
                                                        <div class="card-body text-center py-5">
                                                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                            <h4><i class="ti-info-alt"></i> No data found</h4>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if writers.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'users' %}?page={{writers.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if writers.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'users' %}?page={{writers.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="customers">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="{% url 'add customer' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th colspan="5">Customers ({{ccount|intcomma}})</th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>User Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in customers %}
                                            <tr id="id_{{user.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{user.get_full_name}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.email}}</td>
                                                <td class="text-success">online</td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="5" class="text-center">
                                                    <div class="card">
                                                        <div class="card-body text-center py-5">
                                                            <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                            <h4><i class="ti-info-alt"></i> No data found</h4>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if customers.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'users' %}?page={{customers.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if customers.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'users' %}?page={{customers.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}