{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load due %}
{% load filename %}
{% load truncate %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <div class="row">
                    <div class="col-12">
                      <ol class="breadcrumb" style="background-color:transparent!important;">
                          <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                          <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'orders' %}">All Orders</a></li>
                          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                      </ol>
                    </div>
                  </div>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
            <div class="col-md-7">
                <div class="card">
                  {% if order %}
                	<h6 class="p-2 text-center"><span class="text-success">#{{order.order_id}} {{order.topic}}</span></h6>
                    <div class="table-responsive table-results">
                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                           <tr>
	                           	<th><strong>Order Topic:</strong></th>
	                           	<td>{{order.parent.topic}}</td>
                           </tr> 
                            <tr>
                              <th><strong>Customer Profile:</strong></th>
                              <td>
                                <a href="{% url 'client reviews' id=order.parent.user.id %}">
                                  <img class="img-responsive" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{order.parent.user.extendedauthuser.profile_pic.url}}" alt="{{order.parent.user.get_full_name}}" title="{{user.get_full_name}}" style="width:50px;height:50px;border-radius:50%;" />
                                </a>
                                <p>
                                    <span><b>Rating:</b></span> {{order.parent.user.extendedauthuser.rating|floatformat:1|default:'0'}}/5  ({{order.parent.user.extendedauthuser.rating_counter|intcomma|default:'0'}})
                                    <br>
                                    {{order.parent.user.extendedauthuser.completed_projects|intcomma|default:'Completed 0 Orders'}} completed orders
                                </p>
                              </td>
                           </tr>
                           <tr>
	                           	<th><strong>Customer name:</strong></th>
	                           	<td><a href="{% url 'client reviews' id=order.parent.user.id %}">{{order.parent.user.get_full_name}}</a></td>
                           </tr>
                           <tr>
	                           	<th><strong>Customer id:</strong></th>
	                           	<td>{{order.parent.user.email}}</td>
                           </tr>
                           <tr>
                              <th><strong>Awarded Writer Profile:</strong></th>
                              <td>
                                <a href="{% url 'writer' id=order.user.id %}">
                                  <img class="img-responsive" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{order.user.extendedauthuser.profile_pic.url}}" alt="{{order.user.get_full_name}}" title="{{user.get_full_name}}" style="width:50px;height:50px;border-radius:50%;" />
                                </a>
                                <p>
                                    <span><b>Rating:</b></span> {{order.user.extendedauthuser.rating|floatformat:1|default:'0'}}/5 
                                    ({{order.parent.user.extendedauthuser.rating_counter|intcomma|default:'0'}})
                                    <br>
                                    {{order.user.extendedauthuser.completed_projects|intcomma|default:'Completed 0 Orders'}} completed orders
                                </p>
                              </td>
                           </tr>
                           <tr>
	                           	<th><strong>Awarded Writer:</strong></th>
	                           	<td><a class="text-info" href="{% url 'writer' id=order.user.id %}">{{order.user.get_full_name}}</a></td>
                           </tr>
                            <tr>
                              <th><strong>Writer id:</strong></th>
                              <td>{{order.user.email}}</td>
                           </tr>
                           <tr>
	                           	<th><strong>Category:</strong></th>
	                           	<td>{{order.parent.category}}</td>
                           </tr>
                          <tr>
                              <th><strong>Client's Budget:</strong></th>
                              <td>{{order.parent.budget|intcomma|default:0}}</td>
                          </tr> 
                           <tr>
	                           	<th><strong>Citation Style:</strong></th>
	                           	<td>{{order.parent.citation_style}}</td>
                           </tr>
                           <tr>
                              <th><strong>Pages:</strong></th>
                              <td>{{order.parent.pages|intcomma}}</td>
                           </tr> 
                           <tr>
                              <th><strong>Words per page:</strong></th>
                              <td>{{order.parent.words_per_page|intcomma}}</td>
                           </tr>
                           <tr>
	                           	<th><strong>Order Status:</strong></th>
	                           	<td>{{order.parent.status}}</td>
                           </tr>
                            <tr>
                                <th><strong>Instructions:</strong></th>
                                <td>{{order.parent.paper_instructions|truncate|safe}}</td>
                              </tr>
                           <tr>
	                           	<th><strong>Deadline date:</strong></th>
	                           	<td>{{order.parent.deadline|due}}</td>
                           </tr>
                           <tr>
	                           	<th><strong>Date created:</strong></th>
	                           	<td>{{order.parent.created_on|timesince}}</td>
                           </tr>
                           <tr>
                             <td colspan="2" class="text-center">
                                {% if data.is_staff %}
                                 <a href="{% url 'see order' id=order.parent.id %}" class="btn btn-success btn-round" type="button"><i class="ti-menu-alt"></i> Preview</a>
                                {% endif %}
                                {% if order.parent.is_accepted %}
                                <button class="btn btn-primary btn-round" title="Edit" disabled><i class="ti-pencil"></i> Edit</button>
                                {% else %}
                                  <a class="btn btn-block btn-round btn-primary" href="{% url 'admin edit order' id=order.parent.id %}"><i class="ti-pencil"></i> Edit</a>
                                {% endif %}
                             </td>
                           </tr>
                        </table>
                    </div>
                    <div class="modal fade  bd-example-modal-lg" id="largeModel" tabindex="-1" role="dialog" aria-labelledby="largeModel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{order.parent.order_id}} instructions.</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <hr>  
                                </div>
                                <div class="modal-body">
                                  <p>{{order.parent.paper_instructions}}</p>
                                </div>
                                <div class="modal-footer"> 
                                  <div class="row">
                                      <div class="col-12 text-center">
                                          <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                      </div>
                                  </div>   
                                </div>    
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card-body text-center py-5">
                          <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                          <h4><i class="ti-info-alt"></i> No bidding data found</h4>
                      </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                       {% if order %}
                      <h3 class="card-title">Client Provided materials by <a class="text-info" href="javascript:void(0);">{{order.parent.user.get_full_name}}</a></h3>
                      {% else %}
                      <h3 class="card-title">Client Provided materials</h3>
                      {% endif %}
                      <div class="card-options">
                          <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                          <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                      </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                          <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                            <thead>
                                  <tr>
                                      <th><b>#</b></th>
                                      <td><b>Provided Materials</b></td>
                                      <td><b>Posted on</b></td>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for file in media %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>
                                    {% if file.additional_materials.url %}
                                    <a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a>
                                    {% else %}
                                    <p class="text-center"><i class="ti-close text-info"></i >No file found</p>
                                    {% endif %}
                                  </td>
                                  <td>{{file.created_on|naturaltime}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">
                                    <p><i class="ti-info-alt text-info"></i> Not Provided</p>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                         </table>
                     </div>
                  </div>
                  <div class="card-footer"></div>
                </div>
                </div>
                <hr>
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      {% if order %}
                      <h3 class="card-title">Submitted asnswer materials by <a class="text-info" href="{% url 'writer' id=order.user.id %}"> {{order.user.get_full_name}}</a></h3>
                      {% else %}
                      <h3 class="card-title">Submitted asnswer materials</h3>
                      {% endif %}
                      <div class="card-options">
                          <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                          <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                      </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                          <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                            <thead>
                                  <tr>
                                      <th><b>#</b></th>
                                      <td><b>Provided Materials</b></td>
                                      <td><b>Posted on</b></td>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for file in answers %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>
                                    {% if file.additional_materials.url %}
                                    <a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a>
                                    {% else %}
                                    <p class="text-center"><i class="ti-close text-info"></i >No file found</p>
                                    {% endif %}
                                  </td>
                                  <td>{{file.created_on|naturaltime}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                  <td colspan="3" class="text-center">
                                    <p><i class="ti-info-alt text-info"></i> Not Provided</p>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                         </table>
                     </div>
                  </div>
                  <div class="card-footer"></div>
                </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}