{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load sampler %}
{% load due %}
{% block body %}
<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ol class="breadcrumb" style="background-color:transparent!important;">
                                <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="d-lg-flex justify-content-between" >
            <ul class="nav nav-tabs mb-3 tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;">
                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link active" id="pills-progress-tab" data-toggle="pill" href="#pills-progress" role="tab" aria-controls="pills-progress" aria-selected="true">
                        {% if incount > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{incount|intcomma|default:0}}</span>{% endif %}In Progress
                    </a>
                </li>
                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link " id="pills-answered-tab" data-toggle="pill" href="#pills-answered" role="tab" aria-controls="pills-answered" aria-selected="false"> 
                        {% if answered_orders_count > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{answered_orders_count|intcomma|default:0}}</span>{% endif %} Answered Orders</a>
                </li>
                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link" id="pills-completed-tab" data-toggle="pill" href="#pills-completed" role="tab" aria-controls="pills-completed" aria-selected="false"> 
                        {% if compcount > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{compcount|intcomma|default:0}}{% endif %}</span>Completed</a>
                </li>

                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link " id="pills-cancelled-tab" data-toggle="pill" href="#pills-cancelled" role="tab" aria-controls="pills-cancelled" aria-selected="false"> 
                        {% if ccount > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{ccount|intcomma|default:0}}</span>{% endif %}
                    Cancelled</a>
                </li>
               
                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link " id="pills-disputed-tab" data-toggle="pill" href="#pills-disputed" role="tab" aria-controls="pills-disputed" aria-selected="false">
                        {% if dcount > 0 %} 
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{dcount|intcomma|default:0}}</span>{% endif %}
                    Disputed</a>
                </li>

                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link " id="pills-revision-tab" data-toggle="pill" href="#pills-revision" role="tab" aria-controls="pills-revision" aria-selected="false"> 
                        {% if rcount > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{rcount|intcomma|default:0}}</span>{% endif %} Revision</a>
                </li>

                <li class="nav-item ml-3 position-relative">
                    <a class="nav-link " id="pills-invites-tab" data-toggle="pill" href="#pills-invites" role="tab" aria-controls="pills-invites" aria-selected="false"> 
                        {% if icount > 0 %}
                        <i class="ti-bell"></i>
                        <span class="badge badge-success rounded-circle p1">{{icount|intcomma|default:0}}</span>{% endif %} Invites received</a>
                </li>
            </ul>
        </div> 
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-progress" role="tabpanel" aria-labelledby="pills-progress-tab">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total Orders (<span class="spanner">{{incount|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in inprogress_orders %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            <a class="position-relative" href="{% url 'see order' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            <a class="ml-3 position-relative" href="{% url 'see order' id=item.id %}"> 
                                                <i class="ti-bell"></i>
                                                <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                                {{item.topic}} 
                                                {% if not item.is_public %}<i class="ti-medall-alt"></i>{% endif %}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                                <br>
                                                <i class="ti-alarm-clock text-success"></i> Deadline:{{item.deadline|due}}
                                                <br>
                                                Status:
                                                {% if item.verdict == 'revision' %}
                                                <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                                {% elif item.verdict == 'dispute' %}
                                                <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                                {% elif item.verdict == 'completed' %}
                                                <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                                {% else %}
                                                <span class="text-info"><i class="ti-alarm-clock"></i> In progress</span>
                                                {% endif %}
                                                {% if item.is_answered %}
                                                <br>
                                                <span class="text-info"><i class="ti-check"></i> Contain answer(s)</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <button class="btn btn-danger btn-round" type="button" disabled><i class="zmdi zmdi-delete"></i> Delete Order</button>
                                    </div>
                                </div>
                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                <hr>
                                {% empty %}
                                <div class="row">
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                    </div>
                                </div>
                                {% endfor %}
                                <ul class="mt-2 ml-2 pagination pagination-primary">
                                    {% if inprogress_orders.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{inprogress_orders.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if inprogress_orders.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{inprogress_orders.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="pills-answered" role="tabpanel" aria-labelledby="pills-answered-tab">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total Orders (<span class="spanner">{{answered_orders_count|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in answered_orders %}
                                <div class="row orderslist">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            <a class="position-relative" href="{% url 'see order' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            <a class="ml-3 position-relative" href="{% url 'see order' id=item.id %}"> 
                                                <i class="ti-bell"></i>
                                                <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                                {{item.topic}} 
                                                {% if not item.is_public %}<i class="ti-medall-alt"></i>{% endif %}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                                <br>
                                                <i class="ti-alarm-clock text-success"></i> Deadline:{{item.deadline|due}}
                                                <br>
                                                Status:
                                                {% if item.verdict == 'revision' %}
                                                <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                                {% elif item.verdict == 'dispute' %}
                                                <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                                {% elif item.verdict == 'completed' %}
                                                <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                                {% else %}
                                                <span class="text-info"><i class="ti-alarm-clock"></i> In progress</span>
                                                {% endif %}
                                                {% if item.is_answered %}
                                                <br>
                                                <span class="text-info"><i class="ti-check"></i> Contain answer(s)</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <button class="btn btn-danger btn-round" type="button" disabled><i class="zmdi zmdi-delete"></i> Delete Order</button>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                </div>
                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                {% empty %}
                                <div class="row">
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if answered_orders.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{answered_orders.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if answered_orders.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{answered_orders.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-completed" role="tabpanel" aria-labelledby="pills-completed-tab">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total Orders (<span class="spanner">{{compcount|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in completed_orders %}
                                <div class="row" id="id_{{item.order_id}}">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            <a href="{% url 'see order' id=item.id %}"> {% if not item.is_public %}<i class="ti-medall-alt"></i>{% endif %} {{item.topic}} </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                                <br>
                                                Status:
                                                {% if item.verdict == 'revision' %}
                                                <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                                {% elif item.verdict == 'dispute' %}
                                                <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                                {% elif item.verdict == 'completed' %}
                                                <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                                {% else %}
                                                <span class="text-info"><i class="ti-alarm-clock"></i> In progress</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <button data-url="{% url 'delete order' id=item.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete Order</button>
                                    </div>
                                </div>
                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                <hr>
                                {% empty %}
                                <div class="row">
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                    </div>
                                </div>
                                {% endfor %}
                                <ul class="mt-2 ml-2 pagination pagination-primary">
                                    {% if completed_orders.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{completed_orders.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if completed_orders.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{completed_orders.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-cancelled" role="tabpanel" aria-labelledby="pills-cancelled-tab">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total Orders (<span class="spanner">{{ccount|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in cancelled_orders %}
                                <div class="row" id="id_{{item.order_id}}">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            <a class="position-relative" href="{% url 'see order' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            <a class="ml-3 position-relative" href="{% url 'see order' id=item.id %}"> 
                                                <i class="ti-bell"></i>
                                                <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                                {{item.topic}} 
                                                {% if not item.is_public %}<i class="ti-medall-alt"></i>{% endif %}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                                <br>
                                                Status:<span class="text-danger">Cancelled Order</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <button data-url="{% url 'delete order' id=item.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete Order</button>
                                    </div>
                                </div>
                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                <hr>
                                {% empty %}
                                <div class="row">
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                    </div>
                                </div>
                                {% endfor %}
                                <ul class="mt-2 ml-2 pagination pagination-primary">
                                    {% if cancelled_orders.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{cancelled_orders.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if cancelled_orders.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{cancelled_orders.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-disputed" role="tabpanel" aria-labelledby="pills-disputed-tab">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total Orders (<span class="spanner">{{dcount|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in disputes %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            <a class="position-relative" href="{% url 'see order' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            <a class="ml-3 position-relative" href="{% url 'see order' id=item.id %}"> 
                                                <i class="ti-bell"></i>
                                                <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                                {{item.topic}} 
                                                {% if not item.is_public %}<i class="ti-medall-alt"></i>{% endif %}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                                <br>
                                                <i class="ti-alarm-clock text-success"></i> Deadline:{{item.deadline|due}}
                                                <br>
                                                Status:
                                                {% if item.verdict == 'revision' %}
                                                <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                                {% elif item.verdict == 'dispute' %}
                                                <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                                {% elif item.verdict == 'completed' %}
                                                <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                                {% else %}
                                                <span class="text-info"><i class="ti-alarm-clock"></i> In progress</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <button class="btn btn-danger btn-round" type="button" disabled><i class="zmdi zmdi-delete"></i> Delete Order</button>
                                    </div>
                                </div>
                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                <hr>
                                {% empty %}
                                <div class="row">
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                    </div>
                                </div>
                                {% endfor %}
                                <ul class="mt-2 ml-2 pagination pagination-primary">
                                    {% if disputes.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{disputes.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if disputes.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{disputes.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="tab-pane fade " id="pills-answered" role="tabpanel" aria-labelledby="pills-answered-tab">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total Orders (<span class="spanner">{{answered_orders_count|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in answered_orders %}
                                <div class="row orderslist">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            <a class="position-relative" href="{% url 'see order' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            <a class="ml-3 position-relative" href="{% url 'see order' id=item.id %}"> 
                                                <i class="ti-bell"></i>
                                                <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                                {{item.topic}} 
                                                {% if not item.is_public %}<i class="ti-medall-alt"></i>{% endif %}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                                <br>
                                                <i class="ti-alarm-clock text-success"></i> Deadline:{{item.deadline|due}}
                                                <br>
                                                Status:
                                                {% if item.verdict == 'revision' %}
                                                <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                                {% elif item.verdict == 'dispute' %}
                                                <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                                {% elif item.verdict == 'completed' %}
                                                <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                                {% else %}
                                                <span class="text-info"><i class="ti-alarm-clock"></i> In progress</span>
                                                {% endif %}
                                                {% if item.is_answered %}
                                                <br>
                                                <span class="text-info"><i class="ti-check"></i> Contain answer(s)</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <button class="btn btn-danger btn-round" type="button" disabled><i class="zmdi zmdi-delete"></i> Delete Order</button>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                </div>
                                 <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                {% empty %}
                                <div class="row">
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if answered_orders.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{answered_orders.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if answered_orders.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{answered_orders.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-revision" role="tabpanel" aria-labelledby="pills-revision-tab">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total Orders (<span class="spanner">{{rcount|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in revisions %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            <a class="position-relative" href="{% url 'see order' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            <a class="ml-3 position-relative" href="{% url 'see order' id=item.id %}"> 
                                                <i class="ti-bell"></i>
                                                <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                                {{item.topic}} 
                                                {% if not item.is_public %}<i class="ti-medall-alt"></i>{% endif %}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                                <br>
                                                <i class="ti-alarm-clock text-success"></i> Deadline:{{item.deadline|due}}
                                                <br>
                                                Status:
                                                {% if item.verdict == 'revision' %}
                                                <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                                {% elif item.verdict == 'dispute' %}
                                                <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                                {% elif item.verdict == 'completed' %}
                                                <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                                {% else %}
                                                <span class="text-info"><i class="ti-alarm-clock"></i> In progress</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <button class="btn btn-danger btn-round" type="button" disabled><i class="zmdi zmdi-delete"></i> Delete Order</button>
                                    </div>
                                </div>
                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                <hr>
                                {% empty %}
                                <div class="row">
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                    </div>
                                </div>
                                {% endfor %}
                                <ul class="mt-2 ml-2 pagination pagination-primary">
                                    {% if revisions.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{revisions.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if revisions.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{revisions.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-invites" role="tabpanel" aria-labelledby="pills-invites-tab">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Total Orders (<span class="spanner">{{icount|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for item in invites %}
                                <div class="row" id="id_{{item.order_id}}">
                                    <div class="col-md-8">
                                        <h5 class="text-capitalize text-success">
                                            <a class="position-relative" href="{% url 'see order' id=item.id %}">
                                                <i class="ti-comments"></i>
                                                <span class="badge badge-info bids">{{item.messages|intcomma|default:'0'}}</span>
                                            </a>
                                            <a class="ml-3 position-relative" href="{% url 'see order' id=item.id %}"> 
                                                <i class="ti-bell"></i>
                                                <span class="badge badge-success bids">{{item.bids|intcomma|default:'0'}}</span>
                                                {{item.topic}} 
                                                {% if not item.is_public %}<i class="ti-medall-alt"></i>{% endif %}
                                            </a>
                                        </h5>
                                        <p class="text-truncate">{{item.paper_instructions|sampler:item.id|safe}}</p>
                                        <div class="mt-3">
                                            <p>
                                                <i class="ti-alarm-clock text-success"></i> {{item.created_on|timesince}}
                                                <br>
                                                <i class="ti-menu-alt text-success"></i> Pages:{{item.pages|intcomma}} ({{item.words_per_page|intcomma}} words)
                                                <br>
                                                Status:
                                                {% if item.verdict == 'revision' %}
                                                <span class="text-info"><i class="ti-pencil"></i> Requires Revision</span>
                                                {% elif item.verdict == 'dispute' %}
                                                <span class="text-danger"><i class="ti-close"></i> Disputed order</span>
                                                {% elif item.verdict == 'completed' %}
                                                <span class="text-success"><i class="ti-check"></i> Order Completed</span>
                                                {% else %}
                                                <span class="text-info"><i class="ti-alarm-clock"></i> In progress</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-md-right text-center my-auto">
                                        <div class="d-md-none d-block">
                                            <hr>
                                        </div>
                                        <button data-url="{% url 'delete order' id=item.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete Order</button>
                                        <button data-url="{% url 'make public' id=item.id %}" class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Make it Public</button>
                                    </div>
                                </div>
                                <div class="modal fade  bd-example-modal-lg" id="largeModel_{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="largeModel_{{item.id}}" aria-hidden="true">
                                  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{item.order_id}} instructions.</b></h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              <hr>  
                                          </div>
                                          <div class="modal-body">
                                            <p>{{item.paper_instructions|safe}}</p>
                                          </div>
                                          <div class="modal-footer"> 
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                </div>
                                            </div>   
                                          </div>    
                                      </div>
                                  </div>
                                </div>
                                <hr>
                                {% empty %}
                                <div class="row">
                                    <div class="col-12 text-center my-auto">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                    </div>
                                </div>
                                {% endfor %}
                                <ul class="mt-2 ml-2 pagination pagination-primary">
                                    {% if invites.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{invites.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if invites.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'my orders' %}?page={{invites.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}