{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load due %}
{% load filename %}
{% load truncate %}
{% load ranger %}

{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <div class="row">
	                	<div class="col-12">
	                		<ol class="breadcrumb" style="background-color:transparent!important;">
			                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
			                    {% if data.is_staff %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'orders' %}">All orders</a></li>
			                   	{% elif data.extendedauthuser.category == 'customer' %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'my orders' %}">All orders</a></li>
			                   	{% else %}
			                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'my orders writer' %}">All orders</a></li>
			                   	{% endif %}
			                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
			                </ol>
	                	</div>
	                </div>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
        	{% if not bid_details %}
            <div class="col-md-6">
            	<div class="row">
            		<div class="col-12">
            			<div class="card">
		                	<div class="card-header">
			                    <h3 class="card-title">{{title}}</h3>
			                    <div class="card-options">
			                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
			                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
			                    </div>
			                </div>
			                <div class="card-body">
			                	{% if not edit %}
			                        {% if data.extendedauthuser.category == 'customer' %}
					                	<div class="col-12 hh-grayBox" id="writer">
				                            <div class="row justify-content-between">
				                                <div class="order-tracking completed">
				                                    <span class="is-complete"></span>
				                                    <p class="d-md-inline d-none">Fill Order Details</span></p>
				                                </div>
				                                <div class="order-tracking completed">
				                                    <span class="is-complete"></span>
				                                    <p class="d-md-inline d-none">Order Bidding</span></p>
				                                </div>
				                                <div class="order-tracking">
				                                    <span class="is-complete"></span>
				                                    <p class="d-md-inline d-none">Choose Writer & Reserve Money</span></p>
				                                </div>
				                                <div class="order-tracking">
				                                    <span class="is-complete"></span>
				                                    <p class="d-md-inline d-none">Track Progress</span></p>
				                                </div> 
				                            </div>
				                        </div>
				                    {% endif %}
		                        {% else %}
		                        {% if not data.is_superuser %}
		                        {% if bid.is_accepted %}
			                	<div class="col-12 hh-grayBox" id="writer">
		                            <div class="row justify-content-between">
		                                <div class="order-tracking completed">
		                                    <span class="is-complete"></span>
		                                    <p class="d-md-inline d-none">Fill Order Details</span></p>
		                                </div>
		                                <div class="order-tracking completed">
		                                    <span class="is-complete"></span>
		                                    <p class="d-md-inline d-none">Order Bidding</span></p>
		                                </div>
		                                <div class="order-tracking completed">
		                                    <span class="is-complete"></span>
		                                    <p class="d-md-inline d-none">Choose Writer & Reserve Money</span></p>
		                                </div>
		                                <div class="order-tracking completed">
		                                    <span class="is-complete"></span>
		                                    <p class="d-md-inline d-none">Track Progress</span></p>
		                                </div> 
		                            </div>
		                        </div>
		                        {% else %}
		                        <div class="col-12 hh-grayBox" id="writer">
		                            <div class="row justify-content-between">
		                                <div class="order-tracking completed">
		                                    <span class="is-complete"></span>
		                                    <p class="d-md-inline d-none">Fill Order Details</span></p>
		                                </div>
		                                <div class="order-tracking completed">
		                                    <span class="is-complete"></span>
		                                    <p class="d-md-inline d-none">Order Bidding</span></p>
		                                </div>
		                                <div class="order-tracking">
		                                    <span class="is-complete"></span>
		                                    <p class="d-md-inline d-none">Choose Writer & Reserve Money</span></p>
		                                </div>
		                                <div class="order-tracking">
		                                    <span class="is-complete"></span>
		                                    <p class="d-md-inline d-none">Track Progress</span></p>
		                                </div> 
		                            </div>
		                        </div>
		                        {% endif %}
		                        {% endif %}
		                        {% endif %}
		                        <div class="col-12">
		                        	<h4><strong>Order details</strong></h4>
					                    <div class="table-responsive table-results">
					                        <table class="bid-details table table-hover table-striped table-vcenter mb-0 text-nowrap">
					                        	{% if data.is_staff or data.extendedauthuser.category == 'writer' %}
					                        	<tr>
			                                        <th><strong>Profile Pic</strong></th>
			                                        <td>
			                                        	<a href="{% url 'client reviews' id=order.user_id %}">
			                                        		<img style="width:120px;height:120px;border:2px solid #fff;border-radius:50%;" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{order.user.extendedauthuser.profile_pic.url}}" alt="{{order.user.get_full_name}}" class="img-responsive">
			                                        	</a>
			                                        </td>
			                                    </tr>
			                                    <tr>
			                                        <th><strong>Customer Name:</strong></th>
			                                        <td>
			                                        	<a href="{% url 'client reviews' id=order.user_id %}">{{order.user.get_full_name}}</a>
			                                        </td>
			                                    </tr>
			                                    <tr>
			                                        <th><strong>Writer Rating:</strong></th>
			                                        <td>
			                                            <div class="star-rating">
			                                                <ul class="list-inline">
			                                                   {% if order.user.extendedauthuser.rating > 0 %}
			                                                        {% for i in order.user.extendedauthuser.rating|floatformat:0|ranger %}
			                                                        <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
			                                                        {% endfor %}
			                                                        {% for i in 5|sub:order.user.extendedauthuser.rating|floatformat:0|ranger %}
			                                                         <li class="list-inline-item">
			                                                            <span class="fa fa-star text-muted"></span>
			                                                         </li>
			                                                        {% endfor %}
			                                                        <li class="list-inline-item">
							                                            ({{order.user.extendedauthuser.rating_counter|intcomma|default:'0'}})
							                                        </li>
			                                                   {% endif %}
			                                                </ul>
			                                            </div>
			                                        </td>
			                                    </tr>
		                                    	{% endif %}
					                           	<tr>
						                           	<th><strong>category:</strong></th>
						                           	<td>{{order.category}}</td>
					                           	</tr>
					                           	<tr>
						                           	<th><strong>Topic:</strong></th>
						                           	<td>{{order.topic}}</td>
					                           	</tr>
					                           	<tr>
						                           	<th><strong>Pages:</strong></th>
						                           	<td>{{order.pages|intcomma}}</td>
					                           	</tr>	
					                           	<tr>
						                           	<th><strong>Words per page:</strong></th>
						                           	<td>{{order.words_per_page|intcomma}}</td>
					                           	</tr>
					                           	<tr>
						                              <th><strong>Client's Budget:</strong></th>
						                              <td>{{order.budget|intcomma|default:0}}</td>
						                          </tr> 
					                           	<tr>
					                                <th><strong>Instructions:</strong></th>
					                                <td>{{order.paper_instructions|truncate|safe}}</td>
					                            </tr>	
					                           	<tr>
						                           	<th><strong>Format/Citation Style:</strong></th>
						                           	<td>{{order.citation_style}}</td>
					                           </tr>
					                           {% if data.is_staff or data.extendedauthuser.category == 'customer' %}
					                           	<tr>
						                           	<th><strong>Additional Materials</strong></th>
						                           	<td style="display:block;">
						                           		{% for file in media %}
						                           		{% if file.additional_materials.url %}
						                           		<a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a> {% if data.extendedauthuser.category == 'customer' %} | <a  data-host="{% url 'see order' id=order.id %}" href="{% url 'delete media' id=file.id %}" data-text="Confirm deleting media ?" class="del-data" type="button"><i class="zmdi zmdi-delete text-info"></i></a>{% endif %}
						                           		{% endif %}
						                           		<br>
						                           		{% empty %}
						                           		Not Provided
						                           		{% endfor %}
						                           	</td>
					                           </tr>
					                           {% endif %}
					                           <tr>
						                           	<th><strong>Order status:</strong></th>
						                           	<td class="order_status text-info">{{order.status}}</td>
					                           </tr> 
					                           <tr>
						                           	<th><strong>Date due:</strong></th>
						                           	<td>{{order.deadline|due}}</td>
					                           </tr>
					                           <tr>
						                           	<th><strong>Date created:</strong></th>
						                           	<td>{{order.created_on|naturaltime}}</td>
					                           </tr>
					                           {% if data.extendedauthuser.category == 'customer' or  data.is_staff %}
					                           <tr>
					                           	   <td colspan="2" class="text-center">

					                           	   	{% if order.is_accepted %}
					                           	   	<button class="btn btn-success btn-round" type="button" disabled><i class="ti-pencil"></i> Edit Details</button>
					                           	   	{% else %}
					                           	   	<a  href="{% url 'edit order' id=order.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit Details</a>
					                           	   	{% endif %}

					                           	   	{% if order.is_cancelled %}
						                           	   	{% if order.is_accepted %}
						                           	   	<button class="btn btn-info btn-round" type="button" disabled><i class="ti-close"></i> Uncancel Order</button>
						                           	   	{% else %}
						                           	   	<button data-action="uncancel" data-path="{% url 'uncancel order' id=order.id %}" class="uncancel-button btn btn-danger btn-round" type="button"><i class="ti-close"></i> Uncancel Order</button>
						                           	   	{% endif %}
					                           	   	{% else %}
						                           	   	{% if order.is_accepted %}
						                           	   	<button class="btn btn-info btn-round" type="button" disabled><i class="ti-close"></i> Cancel Order</button>
						                           	   	{% else %}
			                                        	<button data-action="cancel"  data-url="{% url 'cancel order' id=order.id %}" class="cancel-button btn btn-danger btn-round" type="button"><i class="ti-close"></i> Cancel Order</button>
			                                        	{% endif %}
		                                        	{% endif %}
		                        					{% if not order.is_public %}
			                        					{% if order.is_accepted %}
			                        					<button class="public-button btn btn-danger btn-round" type="button" disabled><i class="zmdi zmdi-delete"></i> Make it Public</button>
			                        					{% else %}
			                        					<button data-url="{% url 'make public' id=order.id %}" class="public-button btn btn-danger btn-round" type="button"><i class="fa fa-users"></i> Make it Public</button>
			                        					{% endif %}
		                        					{% endif %}
					                           	   </td>
					                           </tr>
					                           {% endif %}
					                           <tr>
					                           	{% if data.extendedauthuser.category == 'writer' %}
					                           	<td colspan="2" class="text-center">
					                           	 	{% if order.has_bid %}
		                                            <button class="btn btn-danger btn-round" disabled><i class="ti-hand-open"></i> Bid Placed</a>
			                                        {% else %}
			                                            <a  href="{% url 'place bid' id=order.id %}" class="btn btn-outline-success btn-round" ><i class="ti-hand-open"></i> Place Bid</a>
			                                            <a  href="{% url 'writer' id=order.user.id %}" class="btn btn-outline-info btn-round" ><i class="ti-user"></i> View profile</a>
			                                        {% endif %}
					                           	 </td>
					                           </tr>
					                           {% endif %}
					                       </table>
					                   </div>
					                    <div class="modal fade  bd-example-modal-lg" id="largeModel" tabindex="-1" role="dialog" aria-labelledby="largeModel" aria-hidden="true">
				                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				                              <div class="modal-content">
				                                  <div class="modal-header">
				                                      <h5 class="modal-title text-center" id="mySmallModalLabel"><b>Order #{{order.order_id}} instructions.</b></h5>
				                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                                          <span aria-hidden="true">&times;</span>
				                                      </button>
				                                      <hr>  
				                                  </div>
				                                  <div class="modal-body">
				                                    <p>{{order.paper_instructions}}</p>
				                                  </div>
				                                  <div class="modal-footer"> 
				                                    <div class="row">
				                                        <div class="col-12 text-center">
				                                            <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
				                                        </div>
				                                    </div>   
				                                  </div>    
				                              </div>
				                          </div>
				                      </div>
		                        </div>
			                </div>
		                </div>
            		</div>
            		{% if order.is_accepted  and not order.is_completed %}
		            <div class="col-12">
		            	<div class="card">
		            		<div class="card-header">
		                        <h3 class="card-title">Upload additioal materials</h3>
		                        <div class="card-options">
		                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
		                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
		                        </div>
		                    </div>
		                    <div class="card-body">
		                    	<form class="ActiveForm" action="{% url 'additional materials' id=order.id %}" method="post" enctype="multipart/form-data" novalidate>
		                    		{% csrf_token %}
		                    		<div class="tabel-responsive">
		                    			<table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
				                           	<tr>
					                           	<th><strong>Add additional materials:</strong></th>
					                           	<td>
					                           		<div class="form-group">
					                           			<div class="custom-file">
					                           				{{form1.additional_materials}}
						                           			<label for="form_additional_materials" class="custom-file-label">Choose file(s)</label>
						                           		</div>
						                           		<div class="feedback"></div>
					                           		</div>
					                           	</td>
				                           	</tr>
				                           	<tr>
					                           	<td colspan="2">
					                           		<button class="btn btn-round btn-primary btn-block">Upload</button>
					                           	</td>
				                           	</tr>
				                        </table>
		                    		</div>
		                    	</form>
		                    </div>
		            	</div>
		            </div>
		            {% endif %}
		            {% if answers %}
		            <div class="col-12">
		            	<div class="card">
		                    <div class="card-header">
			                    <h3 class="card-title">Submitted answer materials</h3>
			                    <div class="card-options">
			                        <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
			                        <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
			                    </div>
			                </div>
		                	<div class="card-body">
		                		<div class="table-responsive">
			                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
			                        	<thead>
			                                <tr>
			                                    <th>#</th>
			                                    <td>Submited Materials</td>
			                                    <td>Posted by</td>
			                                    <td>Posted on</td>
			                                </tr>
			                            </thead>
			                            <tbody>
			                            	{% for file in answers %}
			                            	<tr>
			                            		<td>{{forloop.counter}}</td>
			                            		<td>
			                            			{% if file.additional_materials.url %}
			                            			<a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a>
			                            			{% endif %}
			                            		</td>
			                            		<td>{{file.user.get_full_name}}</td>
			                            		<td>{{file.created_on|naturaltime}}</td>
			                            	</tr>
			                            	{% empty %}
			                            	<tr>
			                            		<td colspan="3" class="text-center">
			                            			<p><i class="ti-info-alt text-info"></i> Not Provided</p>
			                            		</td>
			                            	</tr>
			                            	{% endfor %}
			                            </tbody>
			                       </table>
			                   </div>
		                	</div>
		                	<div class="card-footer"></div>
		                </div>
                	</div>
                	<div class="col-12">
		            	<div class="card">
		            		<div class="card-header">
		                        <h3 class="card-title">Provide order status</h3>
		                        <div class="card-options">
		                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
		                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
		                        </div>
		                    </div>
		                    <div class="card-body">
		                    	<form class="ActiveForm" action="{% url 'verdict' id=order.id %}" method="post" enctype="multipart/form-data">
		                    		{% csrf_token %}
		                    		<div class="tabel-responsive">
		                    			<table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
				                           	<tr>
					                           	<th><strong>Choose order status:</strong></th>
					                           	<td>
					                           		<div class="form-group">
					                           			{{form.verdict}}
					                           			<div class="feedback"></div>
					                           		</div>
					                           	</td>
				                           	</tr>
				                           	<tr>
					                           	<th><strong>Rate this writer:</strong></th>
					                           	<td>
					                           		<div class="form-group">
					                           			{{form.rating}}
					                           			<div class="feedback"></div>
					                           		</div>
					                           	</td>
				                           	</tr>	
				                           	<tr>
					                           	<th><strong>Give a comment:</strong></th>
					                           	<td>
					                           		<div class="form-group">
					                           			{{form.comment}}
					                           			<div class="feedback"></div>
					                           		</div>
					                           	</td>
				                           	</tr>
				                           	<tr>
					                           	<td colspan="2" class="text-center">
					                           		{% if order.is_completed %}
					                           		<button class="btn btn-round btn-primary btn-block" disabled><i class="ti-check">	</i> Order Completed</button>
					                           		{% else %}
					                           		<button class="btn btn-round btn-primary {% if not data.is_staff %}btn-block{% endif %}">Submit</button>
					                           		{% endif %}
					                           	</td>
				                           	</tr>
				                        </table>
		                    		</div>
		                    	</form>
		                    </div>
		            	</div>
		            </div>
                	{% endif %}
            	</div>
            </div>
            <div class="col-md-6">
            	<div class="row">
            		{% if data.extendedauthuser.category == 'writer' %}
            		<div class="col-12">
                  		<div class="card">
		                    <div class="card-header">
		                       {% if order %}
		                      <h3 class="card-title">Client Provided materials by <a class="text-info" href="javascript:void(0);">{{order.user.get_full_name}}</a></h3>
		                      {% else %}
		                      <h3 class="card-title">Client Provided materials</h3>
		                      {% endif %}
		                      <div class="card-options">
		                          <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
		                          <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
		                      </div>
		                  </div>
		                  <div class="card-body">
		                    <div class="table-responsive">
		                          <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
		                            <thead>
		                                  <tr>
		                                      <th><b>#</b></th>
		                                      <td><b>Provided Materials</b></td>
		                                      <td><b>Posted on</b></td>
		                                  </tr>
		                              </thead>
		                              <tbody>
		                                {% for file in media %}
		                                <tr>
		                                  <td>{{forloop.counter}}</td>
		                                  <td>
		                                    	{% if file.additional_materials.url %}
                                                <a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a>
                                                {% else %}
                                                <p class="text-center"><i class="ti-close text-info"></i >No file found</p>
                                                {% endif %}
		                                  </td>
		                                  <td>{{file.created_on|naturaltime}}</td>
		                                </tr>
		                                {% empty %}
		                                <tr>
		                                  <td colspan="3" class="text-center">
                                               <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
		                                    	<p><i class="ti-info-alt text-info"></i> Not Provided</p>
		                                  </td>
		                                </tr>
		                                {% endfor %}
		                              </tbody>
		                         </table>
		                     </div>
		                  	</div>
                  			<div class="card-footer"></div>
                		</div>
                	</div>
                	{% endif %}
            		{% if data.is_staff or data.extendedauthuser.category == 'customer' %}
            		<div class="col-12">
            			<div class="row">
            				<div class="col-12">
            					<ul class="list-unstyled" style="max-height:600px;overflow:auto" >
	            					<li>Total bids ({{mcount|intcomma|default:'0'}})</li>
	            					<hr>
	            					{% for bid in bids %}
	            					<li class="media">
	            						<a href="{% url 'writer' id=bid.user.id %}">
	            							<img src="{% static 'manager/assets/images/loader.gif' %}" style="width:100px;height:100px;border-radius:50%;border:2px solid #fff;" data-src="{{bid.user.extendedauthuser.profile_pic.url}}" alt="{{bid.user.get_full_name}}" class="img-responsive mr-3">
	            						</a>
	            						<div class="media-body">
	            							<div class="row">
	            								<div class="col-12 my-auto">
	        										<div class="row">
		        										<div class="col-md-6">
		        											<div class="star-rating">
				            									<a href="{% url 'writer' id=bid.user.id %}">
				            										<h5 class="mt-0 mb-1">{{bid.user.get_full_name}} 
				            											{% if bid.is_accepted %}
				            												<small class="text-info">
				            													<i class="ti-check"></i> Selected
				            												</small>
				            											{% endif %}
				            										</h5> 
				            									</a>
				                                                <ul class="list-inline">
				                                                   {% if bid.user.extendedauthuser.rating > 0 %}
					                                                    {% for i in bid.user.extendedauthuser.rating|floatformat:0|ranger %}
					                                                    <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
					                                                    {% endfor %}
					                                                    {% for i in 5|sub:bid.user.extendedauthuser.rating|floatformat:0|ranger %}
					                                                     <li class="list-inline-item">
					                                                     	<span class="fa fa-star text-muted"></span>
					                                                     </li>
					                                                    {% endfor %}
					                                                    <li class="list-inline-item">({{bid.user.extendedauthuser.rating_counter|intcomma}})</li>
				                                                   {% endif %}
				                                                </ul>
				                                                {{bid.user.extendedauthuser.completed_projects|intcomma|default:'0'}} Completed Orders  
				                                            </div>		
		        										</div>	
		        										<div class="col-md-6 text-md-left text-center">
		        											<button type="button" class="btn btn-round btn-info btn-sm">{{obj.currency_symbol}} {{bid.parent.budget|intcomma}}</button>
		        											{% if bid.has_bid and bid.is_accepted %}
		        												{% if data.is_staff %}
													        	<a href="{% url 'order conversation' id=order.id %}" class="btn btn-outline-success btn-round">
													        		<i class="ti-comments"></i> Chats</a>
													            {% else%}
			        											<a class="btn btn-outline-success btn-round" href="{% url 'bid details' id=bid.id %}">
	                                                				<i class="ti-comments"></i> Chats      
	                                                			</a>
	                                                			{% endif %}
                                                			{% endif %}
		        											{% if not bid.is_accepted %}
						            							{% if data.extendedauthuser.category == 'customer' %}
						            							{% if not order.is_accepted %}
																<a href="{% url 'bid details' id=bid.id %}" class="btn btn-round btn-success btn-sm"><i class="ti-check"></i> select</a>
																{% else %}
																<button class="btn btn-round btn-success btn-sm" disabled><i class="ti-check"></i> select</button>
																{% endif %}
																{% else %}
						            							<button class="btn btn-round btn-success btn-sm" disabled><i class="ti-check"></i> select</button>
						            							{% endif %}
															{% endif %}
		        										</div>	
	        										</div>
	            								</div>
	            							</div>
	            						</div>
	            					</li>
	            					<hr>
	            					{% empty %}
	            					<div class="col-12 text-center my-auto">
	                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
	                                    <h6><i class="ti-info-alt"></i> No bids found yet</h6>
	                                </div>
	            					{% endfor %}
	            				</ul>
	            				<ul class="mt-2 ml-2 pagination pagination-primary">
				                    {% if bids.has_previous %}
				                    <li class="page-item active">
				                    	<a class="page-link" href="{% url 'see order' id=order.id %}?page={{bids.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a>
				                    </li>
				                    {% endif %}
				                    {% if bids.has_next %}
				                    <li class="page-item active">
				                    	<a class="page-link" href="{% url 'see order' id=order.id  %}?page={{bids.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a>
				                    </li>
				                    {% endif %}
					            </ul>
            				</div>

            				{% if data.extendedauthuser.category == 'writer' %}
		            		<div class="col-12">
		                  		<div class="card">
				                    <div class="card-header">
				                      <h3 class="card-title">Client Provided materials by <a class="text-info" href="javascript:void(0);">{{order.user.get_full_name}}</a></h3>
				                      <div class="card-options">
				                          <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
				                          <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
				                      </div>
				                  </div>
				                  <div class="card-body">
				                    <div class="table-responsive">
				                          <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
				                            <thead>
				                                  <tr>
				                                      <th><b>#</b></th>
				                                      <td><b>Provided Materials</b></td>
				                                      <td><b>Posted on</b></td>
				                                  </tr>
				                              </thead>
				                              <tbody>
				                                {% for file in media %}
				                                <tr>
				                                  <td>{{forloop.counter}}</td>
				                                  <td>
				                                   	{% if file.additional_materials.url %}
	                                                <a href="{{file.additional_materials.url}}" class="btn btn-outline-info btn-round" download>{{file.additional_materials|filename}}</a>
	                                                {% else %}
	                                                <p class="text-center"><i class="ti-close text-info"></i >No file found</p>
	                                                {% endif %}
				                                  </td>
				                                  <td>{{file.created_on|naturaltime}}</td>
				                                </tr>
				                                {% empty %}
				                                <tr>
				                                  <td colspan="3" class="text-center">
				                                    <p><i class="ti-info-alt text-info"></i> Not Provided</p>
				                                  </td>
				                                </tr>
				                                {% endfor %}
				                              </tbody>
				                         </table>
				                     </div>
				                  	</div>
		                  			<div class="card-footer"></div>
		                		</div>
		                	</div>
		                	{% endif %}
            			</div>
            		</div>
            		{% endif %}
            	</div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}