{% extends 'panel/auth.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="card-body">
                <h1 class="h3 mb-3 text-center"><strong><span class="text-success"><i class="ti-check-box"></i> Success</span>  Password Reset Link Sent!</strong></h1>
                <center>
                    <p class="text-muted mb-3">
                        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                    </p>
                </center>   
               <div class="row">
                    <div class="col-12 text-center">
                        <a class="btn btn-primary btn-round" href="javascript:history.back()"><i class="ti-arrow-left"></i>Go back</a>
                        <a target="_blank" href="https://mail.google.com/" class="btn btn-primary btn-block btn-round" title="Open gmail"><i class="fa fa-envelope"></i> Open Gmail</a>
                    </div>
               </div>
            </div>
            <div class="card-footer text-center">
                <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="{{designer_link}}">{{designer_name}}</a></p>
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{% endblock %}