{% extends 'panel/auth.html' %}
{% load static %}
{% block body %}
<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="text-center">
                <a class="header-brand" href="{% url 'home' %}">
                    <div class="row">
                        <div class="mt-2 col-12">
                            <h4 style="color:#000;font-weight:bold">{% if obj.site_name %}{{obj.site_name}}{% else %} {{site_name}}{% endif %}.</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <div class="card-title text-center">Forgot password</div>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
	                <p class="text-muted text-center">Enter your email address and your password will be reset and emailed to you.</p>
	                <div class="form-group">
	                    <label class="form-label" for="exampleInputEmail1">Email address</label>
	                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	                    <div class="feedback text-danger float-left">{{form.email.errors.as_text}}</div>		
	                </div>
	                <div class="form-footer">
                    	<button type="submit" class="btn btn-primary btn-block btn-round">Send me new password</button>
                	</div>
	            </form>
            </div>
           <div class="card-footer text-center">
                <div class="text-muted">
                Forget it, <a href="{% url 'login' %}">Send me Back</a> to the Sign in screen.
                </div>
                <div class="text-center">
                    <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="{{designer_link}}">{{designer_name}}</a></p>
                </div>
           </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{% endblock %}

{{title}}