{% extends 'panel/auth.html' %}
{% load static %}
{% block body %}
<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="text-center">
                <a class="header-brand" href="{% url 'home' %}">
                	<div class="row">
                		<div class="mt-2 col-12">
                			<h4 style="color:#000;font-weight:bold">{% if obj.site_name %}{{obj.site_name}}{% else %} {{site_name}}{% endif %}.</h4>
                		</div>
                	</div>
                </a>
            </div>
            <div class="card-body">
                {% if validlink %}
                <div class="card-title text-center"><strong>Provide new password</strong></div>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
	               	<div class="row">
		               	<div class="col-12">
		               		<div class="form-group">
			                	<label class="form-label">New password</label>
			                	<input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" placeholder="Enter new password">
		        				<span class="feedback mt-1 float-left text-danger">{{form.new_password1.errors.as_text}}</span>
			                </div>
		               	</div>
		               	<div class="col-12">
		               		<div class="mt-2 form-group">
			                    <label class="form-label">Confirm New Password</label>
			                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Confirm new password">
		        				<span class="feedback mt-1 float-left text-danger">{{form.new_password2.errors.as_text}}</span>
			                </div>
		               	</div>
	               	</div>
	                <div class="form-footer">
	                    <button class="btn btn-primary btn-block btn-round" title="Sign In">Change my password</button>
	                </div>
	            </form>
	            {% else %}
	            	<div style="margin-top:-60px;">
	            		<h4 class="text-center text-danger"><i class="ti-info-alt"></i> Error !</h4>
					  	<center>
					  		<p>The validation link is not valid.</p>	
					  	</center>	
						<div class="mx-auto">
						    <a  href="{% url 'password_reset' %}" class="btn btn-primary btn-block btn-round">Try again</a>
						</div>
	            	</div>
				{% endif %}
            </div>
            <div class="card-footer text-center">
                <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="{{designer_link}}">{{designer_name}}</a></p>
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{% endblock %}