{% extends 'panel/auth.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="card-body">
                <h1 class="h3 mb-3 text-center"><strong><span class="text-success"><i class="ti-check-box"></i> Success</span> Password Reset Successful</strong></h1>
                <center>
                    <p class="text-muted mb-3">Your password has been set. You may go ahead and log in now.</p>
                </center>   
                <div class="text-center">
                	<a class="btn btn-primary btn-round" href="{% url 'login' %}"><i class="ti-key mr-2"></i>Login</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="{{designer_link}}">{{designer_name}}</a></p>
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{% endblock %}