{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="d-lg-flex justify-content-between">
                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#writers">Writers</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#customers">Customers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="writers">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Writers <span class="spanner">({{wcount|intcomma}})</span></h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Status</th>
                                                <th>Rating</th>
                                                <th>Comment</th>
                                                <th>Created on</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in writers %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{item.user.get_full_name}}</td>
                                                <td>{{item.user.email}}</td>
                                                <td class="text-success">{{item.parent.status}}</td>
                                                <td>{{item.rating}}/5</td>
                                                <td>{{item.comment|default:'Not provided yet'}}</td>
                                                <td>{{item.created_on|timesince}}</td>
                                                <td>
                                                    <a href="{% url 'edit writer rating' id=item.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit</a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="8" class="text-center">
                                                    <div class="card-body text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if writers.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'ratings and reviews' %}?page={{writers.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if writers.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'ratings and reviews' %}?page={{writers.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="customers">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Customers <span class="spanner">({{ccount|intcomma}})</span></h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Rating</th>
                                                <th>Comment</th>
                                                <th>Created on</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in customers %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{item.user.get_full_name}}</td>
                                                <td>{{item.user.email}}</td>
                                                <td>{{item.rating}}/5</td>
                                                <td>{{item.comment|default:'Not provided yet'}}</td>
                                                <td>{{item.created_on|timesince}}</td>
                                                <td>
                                                    <a href="{% url 'edit customer rating' id=item.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit</a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="12" class="text-center">
                                                    <div class="card-body text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if customers.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'ratings and reviews' %}?page={{customers.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if customers.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'ratings and reviews' %}?page={{customers.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}