{% extends 'panel/auth.html' %}
{% load static %}
{% block body %}
<div class="auth">
    <div class="auth_left" style="width:700px !important;">
        <div class="card">
            <div class="text-center mb-2">
                <a class="header-brand" href="{% url 'home' %}">
                    <div class="row">
                        {% if obj.login_logo %}
                        <div class="col-12">
                            <img class="img-responsive" style="width:60px;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{obj.login_logo.url}}" alt="{{obj.site_name}}">
                        </div>
                        <div class="mt-2 col-12">
                            <h4 style="font-weight:bold">{{obj.site_name}}.</h4>
                        </div>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="card-body loginpage">
                    <div class="row">
                        {% if user.extendedauthuser.category == 'customer' %}
                        {% if user.extendedauthuser.profile_reg %}
                        <div class="col-12 hh-grayBox pt45 pb20" id="customer">
                            <div class="row justify-content-between">
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Submit Email</span></p>
                                </div>
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Fill In Profile</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Login</span></p>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-12 hh-grayBox pt45 pb20" id="customer">
                            <div class="row justify-content-between">
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Submit Email</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Fill In Profile</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Login</span></p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="col-12 hh-grayBox pt45 pb20" id="writer">
                            <div class="row justify-content-between">
                                <div class="order-tracking completed">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Submit Email</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Fill In Profile</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Pass Grammer Test</span></p>
                                </div>
                                <div class="order-tracking">
                                    <span class="is-complete"></span>
                                    <p class="d-md-inline d-none">Write Sample Essay</span></p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <form class="ActiveForm" action="" method="post" novalidate>
                        <div class="row">
                            <div class="col-md-6 d-none">
                                <div class="form-group">
                                    {% csrf_token %}
                                </div>
                            </div>
                            {% if not user.extendedauthuser.profile_reg %}
                            <div class="col-md-6 d-none">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" value="{{user.email}}">
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6 d-none">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" value="{{user.username}}">
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><strong>1) Password <span class="text-danger">*</span></strong></label>
                                    {{form.password1}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><strong>2) Confirm Password <span class="text-danger">*</span></strong></label>
                                    {{form.password2}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><strong>3) First Name <span class="text-danger">*</span></strong></label>
                                    {{form.first_name}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><strong>4) Last Name <span class="text-danger">*</span></strong></label>
                                    {{form.last_name}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            {% if not user.extendedauthuser.category == 'customer' %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><strong>5) Gender <span class="text-danger">*</span></strong></label>
                                    {{form2.gender}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><strong>6) Country <span class="text-danger">*</span></strong></label>
                                    {{form2.country}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for=""><strong>7) City <span class="text-danger">*</span></strong></label>
                                    {{form2.city}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            {% endif %}
                            {% if not user.extendedauthuser.category == 'customer' %}
                            <div class="col-12">
                                <label for=""><strong>9) What citation styles are you familiar with: <span class="text-danger">*</span></strong></label>
                                <div class="form-group">
                                    <select name="citation_style" id="id_citation_style" class="form-control" multiple>
                                        {% for style in styles %}
                                        <option value="{{style.name}}">{{style.name}}</option>
                                        {% empty %}
                                        <option value="" disabled selected>No style found</option>
                                        {% endfor %}
                                    </select>
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for=""><strong>10) What is your native language <span class="text-danger">*</span></strong></label>
                                <div class="form-group">
                                    <select name="native_language" id="id_native_language" class="form-control" multiple>
                                        {% for language in languages %}
                                        <option value="{{language.name}}">{{language.name}}</option>
                                        {% empty %}
                                        <option value="" disabled selected>No language found</option>
                                        {% endfor %}
                                    </select>
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for=""><strong>11) What is your highest verifiable academic degree <span class="text-danger">*</span></strong> </label>
                                <div class="form-group">
                                    <select name="academic_degree" id="id_academic_degree" class="form-control" multiple>
                                        {% for degree in degrees %}
                                        <option value="{{degree.name}}">{{degree.name}}</option>
                                        {% empty %}
                                        <option value="" disabled selected>No degree found</option>
                                        {% endfor %}
                                    </select>
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for=""><strong>12) Additional Profile infomation <span class="text-danger">*</span></strong> </label>
                                <div class="form-group">
                                    <textarea class="form-control" name="writer_cv" id="id_writer_cv" cols="15" rows="5"></textarea>
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            &nbsp;
                            <hr>
                            <div class="col-12">
                                <h4><strong>Eduacation:</strong></h4>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><strong>13) Name of university <span class="text-danger">*</span></strong></label>
                                    {{form2.university}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""><strong>14) Degree <span class="text-danger">*</span></strong></label>
                                    {{form2.degree}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for=""><strong>15) Graduation year <span class="text-danger">*</span></strong></label>
                                    {{form2.graduation_year}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for=""><strong>16) Zipcode <span class="text-danger">*</span></strong></label>
                                    {{form2.zipcode}}
                                    <div class="feedback"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for=""><strong>17) Certificate <span class="text-danger">*</span></strong></label>
                                    <div class="custom-file" style="cursor:pointer">
                                        {{form2.certificate}}
                                        <label for="id_certificate" class="custom-file-label">Browse files</label>
                                    </div>
                                    <div class="feedback"></div>
                                </div>
                                <p><strong>Note:</strong>Please upload a copy of the highest degree you have completed(diploma).This will be used to verify the infomation stated about your education.</p>
                            </div>
                            {% endif %}
                            <div class="mt-2 col-12 d-none">
                                <div class="form-group">
                                    {{form.is_active}}
                                    <label><strong>Is active</strong></label>
                                    <div class="feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button class="btn btn-primary btn-block btn-round" title="Sign In">Submit</button>
                        </div>
                        {% else %}
                        <div class="col-12 text-center">
                            <p>You have already done with this section, kindly update/make changes to your profile inside your account.Thank you.</p>
                            <a href="{% url 'login' %}" class="btn btn-primary btn-block btn-round" title="Sign In"><i class="ti-key"></i> Sign in</a>
                        </div>
                        {% endif %}
                    </form>
            </div>
            <div class="card-footer text-center">
                <div class="text-muted">
                Already have an account ? <a href="{% url 'login' %}">Sign in</a>
                </div>
                <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="designer_link">{{designer_name}}</a></p>
            </div>
        </div>
    </div>
    <div class="auth_right full_img"></div>
</div>
{{user.extendedauthuser.path|json_script:"path" }}
{{user.extendedauthuser.category|json_script:"category" }}
{{user.extendedauthuser.user.username|json_script:"username" }}
<script>
    var path=JSON.parse(document.getElementById('path').textContent),
    category=JSON.parse(document.getElementById('category').textContent),
    username=JSON.parse(document.getElementById('username').textContent);
    localStorage.setItem('obj',JSON.stringify({'username':username,'path':path,'type':category}));
</script>
{% endblock %}