{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <ol class="breadcrumb" style="background-color:transparent!important;">
	                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
	                   	<li class="breadcrumb-item"><a class="fg-theme" href="{% url 'all reviews' %}"> All reviews</a></li>
	                    <li class="breadcrumb-item active" aria-current="page">Edit review</li>
	                </ol>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="d-lg-flex justify-content-between" >
                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;" >
                    	{% if writer %}
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Writer">Writer</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Customer">Customer</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-6 mx-auto">
                <div class="tab-content">
                	{% if writer %}
                    <div class="tab-pane active show" id="Writer">
                    {% else %}
                    <div class="tab-pane" id="Writer">
                    {% endif %}
                    	<div class="card">
		                    <div class="card-header">
		                        <h3 class="card-title text-truncate">{% if writer %} Edit Writer Review {% else %} Add  Review {% endif %}</h3>
		                        <div class="card-options">
		                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
		                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
		                        </div>
		                    </div>
		                    <div class="card-body">
		                        <form class="ActiveForm" method="post"  novalidate>
		                            {% csrf_token %}
		                           	<div class="row">
		                           		<div class="col-12 d-none">
		                           			<div class="form-group">
				                               <input type="text" name="category" value="writer" hidden>
				                            </div>
		                           		</div>
		                           		<div class="col-md-6">
		                           			<div class="form-group">
				                           		<label for="">Name</label>
				                                {{form.name}}
				                                <div class="feedback"></div>
				                            </div>
		                           		</div>
		                           		<div class="col-md-6">
		                           			<div class="form-group">
				                           		<label for="">Title</label>
				                                {{form.title}}
				                                <div class="feedback"></div>
				                            </div>
		                           		</div>
		                           		<div class="col-md-6">
                                            <div class="form-group">               
					                            <label for="id_theme_color">Reviewer Image</label>
					                            <div class="custom-file" style="cursor:pointer">
					                                {{form.image}}
					                                <label for="customFileInput" class="custom-file-label">Browse files</label>
					                            </div>
					                            <div class="feedback"></div>
					                        </div> 
                                        </div>
		                           		<div class="col-md-6">
		                           			<div class="form-group">
				                           		<label for="">Rating</label>
				                                {{form.rating}}
				                                <div class="feedback"></div>
				                            </div>
		                           		</div>
		                           		<div class="col-12">
		                           			<div class="form-group">
				                           		<label for="">Message</label>
				                                {{form.message}}
				                                <div class="feedback"></div>
				                            </div>
		                           		</div>
		                           	</div>
		                            <div class="col-sm-12 text-center m-t-20">
		                                <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
		                            </div>
		                        </form>
		                    </div>
		                </div> 
                    </div> 
                    {% if not writer %}
                    <div class="tab-pane active show" id="Customer">
                    {% else %}
                    <div class="tab-pane" id="Customer">
                    {% endif %}
                    	<div class="card">
		                    <div class="card-header">
		                        <h3 class="card-title ext-truncate">{% if not writer %}Edit customer review{% else %} Add Customer Review {% endif %}</h3>
		                        <div class="card-options">
		                            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
		                            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
		                        </div>
		                    </div>
		                    <div class="card-body">
		                        <form class="ActiveForm" method="post"   novalidate>
		                            {% csrf_token %}
		                           	<div class="row">
		                           		<div class="col-12 d-none">
		                           			<div class="form-group">
				                               <input type="text" name="category" value="customer" hidden>
				                            </div>
		                           		</div>
		                           		<div class="col-md-6">
		                           			<div class="form-group">
				                           		<label for="">Name</label>
				                                {{form.name}}
				                                <div class="feedback"></div>
				                            </div>
		                           		</div>
		                           		<div class="col-md-6">
		                           			<div class="form-group">
				                           		<label for="">Title</label>
				                                {{form.title}}
				                                <div class="feedback"></div>
				                            </div>
		                           		</div>
		                           		<div class="col-md-6">
                                            <div class="form-group">               
					                            <label for="id_theme_color">Reviewer Image</label>
					                            <div class="custom-file" style="cursor:pointer">
					                                {{form.image}}
					                                <label for="customFileInput" class="custom-file-label">Browse files</label>
					                            </div>
					                            <div class="feedback"></div>
					                        </div> 
                                        </div>
		                           		<div class="col-md-6">
		                           			<div class="form-group">
				                           		<label for="">Rating</label>
				                                {{form.rating}}
				                                <div class="feedback"></div>
				                            </div>
		                           		</div>
		                           		<div class="col-12">
		                           			<div class="form-group">
				                           		<label for="">Message</label>
				                                {{form.message}}
				                                <div class="feedback"></div>
				                            </div>
		                           		</div>
		                           	</div>
		                            <div class="col-sm-12 text-center m-t-20">
		                                <button  class="btn btn-primary btn-round"><i class="ti-save"></i> SAVE</button>
		                            </div>
		                        </form>
		                    </div>
		                </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}