{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load cutter %}
{% block body %}
<style>
	.blogitem-date:hover
	{
		color:blue;
	}

</style>
<div class="section-body mt-3 content blog-page">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <ol class="breadcrumb" style="background-color:transparent!important;">
	                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'home' %}">Home</a></li>
	                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
	                </ol>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
    	<div class="row">
    		<div class="col-lg-8 col-md-12">
	            <div class="card">
	            	{% for item in samples %}
	                <div class="p-3 blogitem mb-5">
	                	<h4 class="text-info text-capitalize"><strong><a href="{% url 'sample single' id=item.id %}">{{item.topic}}</a></strong></h4>
	                    <div class="blogitem-image">
	                       <p>{{item.content|cutter|safe}}</p>
	                        <a href="{% url 'sample single' id=item.id %}" class="blogitem-date btn btn-outline-info btn-round">Read More</a>
	                    </div>
	                    <div class="blogitem-content pl-2 pr-2">
	                        <div class="blogitem-header">
	                            <div class="blogitem-meta">
	                                <span><i class="zmdi zmdi-account"></i>By <a href="javascript:void(0);">{{item.user.get_full_name}}</a></span>
	                               <span>{{item.created_on|naturaltime}}</span>
	                                <span><i class="zmdi zmdi-comments"></i><a href="{% url 'sample single' id=item.id %}">Comments({{item.comment_count|intcomma}})</a></span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                {% empty %}
	                <div class="row mb-5 p-3">
	                	<div class="col-12 text-center">
                            <p><i class="ti-close text-info"></i> No sample papers found.</p>      
                        </div>  
	                </div>
	                {% endfor %}
	            </div>
                <ul class="pagination pagination-primary">
                    {% if posts.has_previous %}
                    <li class="page-item active"><a class="page-link" href="{% url 'samples' %}?page={{posts.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                    {% endif %}
                    {% if posts.has_next %}
                    <li class="page-item active"><a class="page-link" href="{% url 'samples' %}?page={{posts.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                    {% endif %}
            	</ul>
        	</div>
	 		<div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="body search">
                       <form action="">
	                       	<div class="input-group mb-0">
	                            <input type="text" name="topic" class="form-control" placeholder="Search...">
	                            <button class="input-group-append" style="cursor:pointer;">
	                                <span class="input-group-text" id="basic-addon2"><i class="zmdi zmdi-search"></i></span>
	                            </button>
	                        </div>
                       </form>
                    </div>
                </div>                    
                <div class="card">
                    <div class="header bg-light p-2">
                        <h2><strong class="text-success">|Topic</strong></h2>                        
                    </div>
                    <div class="body">
                        <ul class="list-unstyled mb-0 widget-categories">
                        	<li><a href="{% url 'samples' %}">All</a></li>
                        	{% for item in samples %}
                            <li><a href="{% url 'samples' %}?topic={{item.topic}}">{{item.topic}}</a></li>
                            {% empty %}
                            <li class="mt-2"><p><i class="ti-close text-info"></i> No topic(s) found.</p></li>
                            {% endfor %}
                        </ul>
                        <div class="footer">
                        	<ul class="pagination pagination-primary">
	                            {% if samples.has_previous %}
	                            <li class="page-item active"><a class="page-link" href="{% url 'samples' %}?page={{samples.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
	                            {% endif %}
	                            {% if samples.has_next %}
	                            <li class="page-item active"><a class="page-link" href="{% url 'samples' %}?page={{samples.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
	                            {% endif %}
	                        </ul>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
{% endblock %}