{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3 content blog-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'samples' %}">Sample Papers</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="p-3 blogitem mb-5">
                        <h4 class="text-info text-capitalize"><strong>{{sample.topic}}</strong></h4>
                        <div class="blogitem-image">
                           <p>{{sample.content|safe}}</p>
                        </div>
                        <div class="blogitem-content pl-2 pr-2">
                            <div class="blogitem-header">
                                <div class="blogitem-meta">
                                    <span><i class="zmdi zmdi-account"></i>By <a href="javascript:void(0);">{{sample.user.get_full_name}}</a></span>
                                   <span>{{sample.created_on|naturaltime}}</span>
                                    <span><i class="zmdi zmdi-comments"></i><a href="#">Comments({{sample.comment_count|intcomma|default:'0'}})</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="card">
                        <div class="header  bg-light p-3">
                            <h2><strong class="text-success">|Comments</strong> ({{sample.comment_count|intcomma|default:'0'}})</h2>
                        </div>
                        <div class="">
                            <ul class="comment-reply list-unstyled p-3">
                                {% for comment in comments %}
                                <li>
                                    <div class="icon-box pr-2"><img class="img-fluid img-thumbnail" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'manager/assets/images/placeholder.jpg' %}" alt="{{comment.name}}"></div>
                                    <div class="text-box">
                                        <h5>{{comment.name}}</h5>
                                        <span class="comment-date">{{comment.created_on}}.</span>
                                        <p>{{comment.comment}}</p>
                                    </div>
                                </li>
                                {% empty %}
                                <li class="mt-2"><p><i class="ti-close text-info"></i> No comment(s) found.</p></li>
                                {% endfor %}
                            </ul>                                        
                        </div>
                    </div>
                    <div class="card">
                        <div class="header bg-light p-3">
                            <h2><strong class="text-success">Leave</strong> a Comment</h2>
                        </div>
                        <div class="">
                            <small class="pl-2">Your email address will not be published. Required fields are marked*</small>
                            <form class="row comment-form mt-2 p-3 ActiveForm" method="post"  novalidate>
                                {% csrf_token %}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Your name</label>
                                        {{form.name}}
                                        <div class="feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Email address</label>
                                        {{form.email}}
                                        <div class="feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Comment</label>
                                        {{form.comment}}
                                        <div class="feedback"></div>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn btn-primary btn-round">SUBMIT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="body search">
                            <form action="{% url 'samples' %}">
                                <div class="input-group mb-0">
                                    <input type="text" name="topic" class="form-control" placeholder="Search...">
                                    <button class="input-group-append" style="cursor:pointer;">
                                        <span class="input-group-text" id="basic-addon2"><i class="zmdi zmdi-search"></i></span>
                                    </button>
                                </div>
                           </form>
                        </div>
                    </div>                    
                    <div class="card">
                        <div class="header bg-light p-2">
                            <h2><strong class="text-success">|Topics</strong></h2>                        
                        </div>
                        <div class="body">
                            <ul class="list-unstyled mb-0 widget-categories">
                                <li><a href="{% url 'samples' %}">All</a></li>
                                {% for item in topics %}
                                <li><a href="{% url 'samples' %}?topic={{item.topic}}">{{item.topic}}</a></li>
                                {% empty %}
                                <li class="mt-2"><p><i class="ti-close text-info"></i> No more topic(s) found.</p></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}