{% extends 'panel/auth.html' %}
{% load static %}
{% block body %}
<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="text-center mb-2">
                <a class="header-brand" href="{% url 'home' %}">
                	<div class="row">
                		<div class="col-12">
                			<img class="img-responsive" style="width:120px;height:120px;border-radius:50%;border:2px solid #fff;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{data.extendedauthuser.profile_pic.url}}" alt="{{data.get_full_name}}">
                		</div>
                		<div class="mt-2 col-12">
                			<h6>{{data.get_full_name}}</h6>
                		</div>
                	</div>
                </a>
            </div>
            <div class="card-body">
                <form class="ActiveForm" action="{% url 'login' %}" method="post" novalidate>
                	{% csrf_token %}
	                <div class="form-group d-none">
	                	<input type="text" class="form-control" name="category" value="{{data.extendedauthuser.category}}" hidden>
	                </div>
	                <div class="form-group d-none">
	                	<input type="text" class="form-control" name="username" value="{{data.username}}" hidden>
	                </div>
	                <div class="form-group">
	                    <label class="form-label">Password</label>
	                    <input type="password" class="form-control" name="password" aria-label="password">
	                    <div class="feedback"></div>
	                </div>
	                <div class="form-group">
	                    <label class="custom-control custom-checkbox">
	                    <input type="checkbox" class="custom-control-input" name="rememberme" />
	                    <span class="custom-control-label">Remember me</span>
	                    </label>
	                </div>
	                <div class="form-footer">
	                    <button class="btn btn-primary btn-block" title="Unlock Screen"><i class="ti-key"></i> Unlock Screen</button>
	                </div>
	            </form>
            </div>
            <div class="text-center text-muted">
                Don't have account yet? <a href="{% url 'login' %}">Sign up</a>
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{% endblock %}