{% extends 'panel/auth.html' %}
{% load static %}
{% block body %}
<div class="auth">
    <div class="auth_left" style="width:700px !important;">
        <div class="card">
            <div class="text-center">
                <a class="header-brand" href="{% url 'home' %}">
                	<div class="row">
                		<div class="col-12">
                			<img class="img-responsive" style="width:60px;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{obj.login_logo.url}}" alt="{{obj.site_name}}">
                		</div>
                		<div class="col-12">
                			<h4>{{obj.site_name}}.</h4>
                		</div>
                	</div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title text-center"><strong>Account activation link sent!.</strong></h4>
                <div class="row">
                    {% if category == 'customer' %}
                    <div class="col-12 hh-grayBox" id="customer">
                        <div class="row justify-content-between">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Login</span></p>
                            </div> 
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 hh-grayBox" id="writer">
                        <div class="row justify-content-between">
                            <div class="order-tracking completed">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Submit Email</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Fill In Profile</span></p>
                            </div>
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Pass Grammer Test</span></p>
                            </div> 
                            <div class="order-tracking">
                                <span class="is-complete"></span>
                                <p class="d-md-inline d-none">Write Sample Essay</span></p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p>Hello , we have Sent account activation link to your email please check.Thank you</p>
                         <a target="_blank" href="https://mail.google.com/" class="btn btn-primary btn-block btn-round" title="Open gmail"><i class="fa fa-envelope"></i> Open Email</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="designer_link">{{designer_name}}</a></p>
            </div>
        </div>        
    </div>
    <div class="auth_right full_img"></div>
</div>
{% endblock %}