{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load ranger %}
{% load decoder %}
{% load mathfilters %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
        	<div class="col-md-4">
        		<div class="card c_grid c_yellow">
                    <div class="card-body text-center">
                        <div class="circle">
                            <img style="width:100px;height:100px;border:2px solid #fff;border-radius:50%;" class="img-responsive rounded-circle" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{user.extendedauthuser.profile_pic.url}}" alt="{{data.get_full_name}}">
                        </div>
                        <h6 class="mt-3 mb-0">{{user.get_full_name}}</h6>
                        <span>@{{user.username}}</span>
                        <p>
                            <div class="star-rating">
                                <ul class="list-inline">
                                   {% if user.extendedauthuser.rating > 0 %}
                                        {% for i in user.extendedauthuser.rating|floatformat:0|ranger %}
                                        <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                        {% endfor %}
                                        {% for i in 5|sub:user.extendedauthuser.rating|floatformat:0|ranger %}
                                         <li class="list-inline-item">
                                            <span class="fa fa-star text-muted"></span>
                                         </li>
                                        {% endfor %}
                                    {% else %}
                                    <li><i class="ti-info-alt text-info"></i> User has not been rated yet</li>
                                   {% endif %}
                                </ul>
                            </div>
                        </p>
                        <p>{{user.extendedauthuser.completed_projects|intcomma}} Completed projects</p>
                        <a  href="{% url 'new order' %}?visitor={{user.username}}" class="btn btn-default btn-sm btn-round">Request this writer</a>
                    </div>
                </div>
        	</div>
        	<div class="col-md-8">
        		<div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% if user.extendedauthuser.category == 'writer' %} Client reviews {% else %} Writer reviews {% endif %}</h3>
                    </div>
                    <div class="card-body">
                    	<ul class="new_timeline">
		                    {% for comment in comments %}
		                    {% if comment.comment %}
		                    <li>
		                        <div class="bullet pink"></div>
		                        <div class="time">{{comment.created_on|timesince}}</div>
		                        <div class="desc">
		                            <p>{{comment.comment}}</p>
		                        </div>
		                    </li>
		                    {% endif %}
		                    {% empty %}
		                       <div class="text-center"> 
                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                    <h4><i class="ti-info-alt text-success"></i> No comments found.</h4>
		                       </div>   
		                    {% endfor %}
		                </ul>
                    </div>
                    <div class="card-footer">
                    	<ul class="pagination pagination-primary">
                            {% if comments.has_previous %}
                            <li class="page-item active"><a class="page-link" href="{% url 'writer reviews' id=user.id %}?page={{comments.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                            {% endif %}
                            {% if comments.has_next %}
                            <li class="page-item active"><a class="page-link" href="{% url 'writer reviews' id=user.id %}?page={{comments.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}