{% extends 'panel/auth.html' %}
{% load static %}
{% block body %}
<div class="auth">
    <div class="auth_left" style="width:700px !important;">
        <div class="card">
            <div class="text-center mb-2">
                <a class="header-brand" href="{% url 'home' %}">
                    <div class="row">
                        {% if obj.login_logo %}
                        <div class="col-12">
                            <img class="img-responsive" style="width:60px;" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{obj.login_logo.url}}" alt="{{obj.site_name}}">
                        </div>
                        <div class="mt-2 col-12">
                            <h4 style="font-weight:bold">{{obj.site_name}}.</h4>
                        </div>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="card-body loginpage">
               <div class="row">
                   <div class="col-12 my-auto">
                        {% if valid %}
                            {% if message %}
                                <p class="text-center"><i class="ti-check-box"></i> {{message}}</p>
                            {% endif %}
                            <div class="text-center">
                               <p>
                                    <a class="btn btn-primary btn-round" href="{% url 'profile setup' username=user.username %}">Proceed <i class="fa fa-arrow-right"></i></a>
                                </p> 
                            </div>
                        {% else %}
                           <div class="text-center" id="target">
                                <div class="alert alert-danger text-center"><i class="ti-info"></i> {{message}}</div>
                                <p class="text-center">Sorry this link has already been used.Kindly sign up in order to be given a new link.</p>
                                <p class="text-info">Redirecting...</p>
                           </div>
                        {% endif %}
                   </div>
               </div>
            </div>
           <div class="card-footer text-center">
                <div class="text-muted">
                Already have an account ? <a href="{% url 'login' %}">Sign in</a>
                </div>
                <p>&copy;{% now 'Y' %} {{obj.site_name}}.Developed by <a target="_blank" href="designer_link">{{designer_name}}</a></p>
           </div>
        </div>
    </div>
    <div class="auth_right full_img"></div>
</div>
{{user.username|json_script:"username" }}
{{user.extendedauthuser.path|json_script:"path" }}
{{user.extendedauthuser.category|json_script:"category" }}
<script>
    var path=JSON.parse(document.getElementById('path').textContent),
    category=JSON.parse(document.getElementById('category').textContent),
    username=JSON.parse(document.getElementById('username').textContent);
    localStorage.setItem('obj',JSON.stringify({'username':username,'path':path,'type':category}));
</script>
{% endblock %}