{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	                <ol class="breadcrumb" style="background-color:transparent!important;">
	                    <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
	                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
	                </ol>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="d-lg-flex justify-content-between" >
                    <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-y:hidden;overflow-x: scroll;white-space: nowrap;" >
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#writers">Writers</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#customers">Customers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="writers">
                        <div class="col-md-7 mx-auto mt-2">
                            <form action="">
                                <div class="form-row">
                                    <div class="col">
                                        <input type="search" name="writer" placeholder="Search writer " id="id_search" class="form-control">
                                    </div>
                                    <div class="col" style="margin-top:-10px">
                                        <button class="btn btn-outline-info btn-round"><i class="zmdi zmdi-search"></i> Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 text-right">
                            <a href="{% url 'add writer' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Writers (<span class="spanner">{{wcount|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>User Type</th>
                                                <th>Is Deactivated</th>
                                                <th>User Ratings</th>
                                                <th>User Status</th>
                                                <th>Is Email Verified</th>
                                                <th>Verified By Admin</th>
                                                <th>Created on</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in writers %}
                                            <tr id="id_{{user.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{user.get_full_name}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.extendedauthuser.category}}</td>
                                                <td>
                                                    {% if user.extendedauthuser.is_deactivated %}
                                                        <span class="badge badge-danger p-2"> <i class="ti-check"></i> Deactivated</span>
                                                    {% else %}
                                                        <span class="badge badge-success p-2"><i class="ti-close"></i> Not Deactivated</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{user.extendedauthuser.user_ratings|default:0}}</td>
                                                <td>
                                                    {% if user.is_active %}
                                                        <span class="badge badge-success p-2"> <i class="ti-check"></i> Active</span>
                                                    {% else %}
                                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> Inactive</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if user.is_active %}
                                                        <span class="badge badge-success p-2"><i class="ti-check"></i> Yes</span>
                                                    {% else %}
                                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> No</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if user.extendedauthuser.is_verified %}
                                                        <span class="badge badge-success p-2"><i class="ti-check"></i> Yes</span>
                                                    {% else %}
                                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> No</span>
                                                    {% endif %}
                                                </td>
                                                <td><span>{{user.date_joined}}</span></td>
                                                <td>
                                                    <a  href="{% url 'user details' id=user.id %}" class="btn btn-success btn-round" type="button"><i class="ti-menu-alt"></i> Details</a>
                                                    <a  href="{% url 'edit writer' id=user.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit</a>
                                                    <button data-url="{% url 'delete user' id=user.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete </button>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="12" class="text-center">
                                                    <div class="card-body text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if writers.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'users' %}?page={{writers.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if writers.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'users' %}?page={{writers.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>     
                            </div>
                        </div>
                    </div> 
                    <div class="tab-pane" id="customers">
                        <div class="row">
                            <div class="col-md-7 mx-auto mt-2">
                                <form action="">
                                    <div class="form-row">
                                        <div class="col">
                                            <input type="search" name="customer" placeholder="Search customer " id="id_search" class="form-control">
                                        </div>
                                        <div class="col" style="margin-top:-10px">
                                            <button class="btn btn-outline-info btn-round"><i class="zmdi zmdi-search"></i> Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-12 text-right">
                                <a href="{% url 'add customer' %}" class="btn btn-primary btn-round"><i class="ti-plus"></i> Add</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Customers (<span class="spanner">{{ccount|intcomma}}</span>)</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-results">
                                    <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>User Type</th>
                                                <th>Is Deactivated</th>
                                                <th>User Ratings</th>
                                                <th>User Status</th>
                                                <th>Is Email Verified</th>
                                                <th>Created on</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in customers %}
                                            <tr id="id_{{user.id}}">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{user.get_full_name}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.extendedauthuser.category}}</td>
                                                <td>
                                                    {% if user.extendedauthuser.is_deactivated %}
                                                        <span class="badge badge-danger p-2"> <i class="ti-check"></i> Deactivated</span>
                                                    {% else %}
                                                        <span class="badge badge-success p-2"><i class="ti-close"></i> Not Deactivated</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{user.extendedauthuser.user_ratings}}</td>
                                                <td>
                                                    {% if user.is_active %}
                                                        <span class="badge badge-success p-2"> <i class="ti-check"></i> Active</span>
                                                    {% else %}
                                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> Inactive</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if user.is_active %}
                                                        <span class="badge badge-success p-2"><i class="ti-check"></i> Yes</span>
                                                    {% else %}
                                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> No</span>
                                                    {% endif %}
                                                </td>
                                                <td><span>{{user.date_joined}}</span></td>
                                                <td>
                                                    <a  href="{% url 'user details' id=user.id %}" class="btn btn-success btn-round" type="button"><i class="ti-menu-alt"></i> Details</a>
                                                    <a  href="{% url 'edit customer' id=user.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit</a>
                                                    <button data-url="{% url 'delete user' id=user.id %}"  class="delete-button btn btn-danger btn-round" type="button"><i class="zmdi zmdi-delete"></i> Delete </button>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="11" class="text-center">
                                                    <div class="card-body text-center py-5">
                                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                        <h4><i class="ti-info-alt"></i> No data found</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                                    {% if customers.has_previous %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'users' %}?page={{customers.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    {% endif %}
                                    {% if customers.has_next %}
                                    <li class="page-item active"><a class="page-link" href="{% url 'users' %}?page={{customers.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}