{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load decoder %}
{% load filename %}
{% load mathfilters %}
{% load due %}
{% load truncate %}
{% block body %}
<div class="section-body mt-3">
    <div class="container-fluid">
    	<div class="row clearfix">
	        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3" >
	            <div class="container">
	               <div class="row">
                   <div class="col-12">
                      <ol class="breadcrumb" style="background-color:transparent!important;">
                          <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                          <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'users' %}">Users</a></li>
                          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                      </ol>
                   </div>
                 </div>
	            </div><!-- End .container -->
	        </nav><!-- End .breadcrumb-nav -->
    	</div>
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="card">
                    <div class="table-responsive table-results">
                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                           <tr>
                              {% if user.extendedauthuser.category == 'writer' %}
                              <th><strong>Writer Name:</strong></th>
                              {% else %}
                              <th><strong>Customer Name:</strong></th>
                              {% endif %}
	                           	<td><a href="{% url 'writer' id=user.id %}">{{user.get_full_name}}</a></td>
                           </tr> 
                           <tr>
	                           	<th><strong>Gender:</strong></th>
	                           	<td>{{user.extendedauthuser.gender}}</td>
                           </tr>
                           <tr>
                              <th><strong>Reference id:</strong></th>
                              <td>{{user.extendedauthuser.reference_id}}</td>
                           </tr> 
                           <tr>
                              <th><strong>Zipcode:</strong></th>
                              <td>{{user.extendedauthuser.zipcode}}</td>
                           </tr> 
                            {% if user.extendedauthuser.category == 'writer' %}
                           <tr>
                              <th><strong>Grammer test results:</strong></th>
                              {% with result=correct_answers|div:obj.no_of_quiz_to_display %}
                              <td>{{correct_answers}}/{{obj.no_of_quiz_to_display}} <span class="float-right text-info"> {%if user.extendedauthuser.test_passed %}Passed{% else %}Failed{% endif %} &bull; {{result|mul:100|floatformat:0}}%</span></td>
                              {% endwith %}
                           </tr> 
                           {% endif %}
                           <tr>
                              <th><strong>Timezone:</strong></th>
                              <td>{{user.extendedauthuser.timezone}}</td>
                           </tr>
                           <tr>
                              <th><strong>Email:</strong></th>
                              <td>{{user.email}}</td>
                           </tr>
                           <tr>
                              <th><strong>Account Balance ({{obj.currency_symbol}}):</strong></th>
                              <td>{{user.extendedauthuser.balance|intcomma|default:'0'}}</td>
                           </tr>
                           <tr>
                              <th><strong>Country:</strong></th>
                              <td>{{user.extendedauthuser.country}}</td>
                           </tr> 
                           {% if user.extendedauthuser.essay %}
                           <tr>
                              <th><strong>Download sample essay:</strong></th>
                              <td>
                                {% if user.extendedauthuser.essay.url %}<a href="{{user.extendedauthuser.essay.url}}" download>{{user.extendedauthuser.essay|filename}}</a>{% else %} <p><i class="ti-close text-info"></i> No file found</p>{% endif %} | 
                                {% if not user.extendedauthuser.essay_ok %}
                                <a href="javascript:void(0);" class="text-danger">Declined</a>
                                {% else %}
                                <a data-url="{% url 'reject essay' id=user.id %}" href="javascript:void(0);" class="decline-button">Decline</a>
                                {% endif %}
                              </td>
                           </tr>
                           {% endif %}
                           <tr>
	                           	<th><strong>City:</strong></th>
	                           	<td>{{user.extendedauthuser.city}}</td>
                           </tr>
                           <tr>
	                           	<th><strong>Profile:</strong></th>
	                           	<td>
                                <a href="{% url 'writer' id=user.id %}">
                                  <img class="img-responsive" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{{user.extendedauthuser.profile_pic.url}}" alt="{{user.get_full_name}}" title="{{user.get_full_name}}" style="width:50px;height:50px;border-radius:50%;" />
                                </a>
                                <p>
                                    <span><b>Ratings:</b></span>{{user.extendedauthuser.rating|floatformat:1|default:'0'}}/5 ({{user.extendedauthuser.rating_counter|intcomma|floatformat:0}})<br>
                                    {{user.extendedauthuser.completed_projects|intcomma|default:'Completed 0 Orders'}} completed orders
                                </p>
	                           	</td>
                           </tr>
                           {% if not user.extendedauthuser.category == 'customer' %}
                           <tr>
	                           	<th><strong>Citation Style:</strong></th>
	                           	<td>{{user.extendedauthuser.citation_style|decoder}}</td>
                           </tr>
                           <tr>
	                           	<th><strong>Native Language:</strong></th>
	                           	<td>{{user.extendedauthuser.native_language|decoder}}</td>
                           </tr>
                           {% endif %}
                           <tr>
	                           	<th><strong>Email verfied:</strong></th>
	                           	<td>
                                    {% if user.is_active %}
                                        <span class="badge badge-success p-2"><i class="ti-check"></i> Yes</span>
                                    {% else %}
                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> No</span>
                                    {% endif %}
                                </td>
                           </tr>
                            {% if not user.extendedauthuser.category == 'customer' %}
                           <tr>
	                           	<th><strong>User Verified By Admin:</strong></th>
	                           	<td>
                                    {% if user.extendedauthuser.is_verified %}
                                        <span class="badge badge-success p-2"><i class="ti-check"></i> Yes</span>
                                    {% else %}
                                      <span class="badge badge-danger p-2"><i class="ti-close"></i> No</span> | 
                                      {% if not user.extendedauthuser.is_verified %}
                                      <a data-url="{% url 'verify user' id=user.id %}" href="javascript:void(0);" class="verify-button">Verify</a>
                                      {% endif %}
                                    {% endif %}
                                </td>
                           </tr>
                           <tr>
	                           	<th><strong>Wtiter status:</strong></th>
                           	  	<td>
                                    {% if user.is_active %}
                                        <span class="badge badge-success p-2"> <i class="ti-check"></i> Active</span>
                                    {% else %}
                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> Inactive</span>
                                    {% endif %}
                                </td>
                           </tr>
                           {% endif %}
                           <tr>
	                           	<th><strong>Account deactivated:</strong></th>
	                           	<td>
                                    {% if user.extendedauthuser.is_deactivated %}
                                        <span class="badge badge-success p-2"> <i class="ti-check"></i> yes</span>
                                    {% else %}
                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> No</span>
                                    {% endif %}
                                </td>
                           </tr> 
                           {% if not user.extendedauthuser.category == 'customer' %}
                            <tr>
	                           	<th><strong>Test Passed:</strong></th>
	                           	<td>
                                    {% if user.extendedauthuser.test_passed %}
                                        <span class="badge badge-success p-2"><i class="ti-check"></i> Yes</span>
                                    {% else %}
                                        <span class="badge badge-danger p-2"><i class="ti-close"></i> No</span>
                                    {% endif %}
                                </td>
                           </tr>
                           {% endif %} 
                           <tr>
	                           	<th><strong>Date joined:</strong></th>
	                           	<td>{{user.date_joined}}</td>
                           </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                  {% if user.extendedauthuser.category == 'customer' %}
                                  <a  href="{% url 'edit customer' id=user.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit {{user.extendedauthuser.category}}</a>
                                  {% else %}
                                  <a  href="{% url 'edit writer' id=user.id %}" class="btn btn-success btn-round" type="button"><i class="ti-pencil"></i> Edit {{user.extendedauthuser.category}}</a>
                                  {% endif %}
                                  <a  href="{% url 'writer' id=user.id %}" class="btn btn-outline-primary btn-round" type="button"><i class="ti-user"></i> View profile</a>

                                </td>
                           </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            	<div class="row">
                {% if not user.extendedauthuser.category == 'customer' %}
            		<div class="col-12">
	            		<div class="card">
		                    <div class="table-responsive">
    				            	<table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
    				                  <tr>
                                    <th><strong>Uploaded Certificate:</strong></th>
                                    <td>
                                     {% if user.extendedauthuser.certificate %}<a class="btn btn-outline-primary btn-round" target="_blank" href="{{user.extendedauthuser.certificate.url}}">{{user.extendedauthuser.certificate|filename}}</a>{% else %} <p><i class="ti-close text-info"></i> No file found</p>{% endif %}
                                    </td>
                               </tr>

                               <tr>
                                    <th><strong>Academic Degree:</strong></th>
                                    <td>{{user.extendedauthuser.academic_degree|decoder|default:'Not provided'}}</td>
                               </tr> 
    				                   <tr>
    				                       	<th><strong>Name of university:</strong></th>
    				                       	<td>{{user.extendedauthuser.university}}</td>
    				                   </tr> 
    				                   <tr>
    				                       	<th><strong>Degree:</strong></th>
    				                       	<td>{{user.extendedauthuser.degree}}</td>
    				                   </tr> 
    				                   <tr>
    				                       	<th><strong>Graduation year:</strong></th>
    				                       	<td>{{user.extendedauthuser.graduation_year}}</td>
    				                   </tr>
    				                   <tr>
    				                       	<th><strong>Writer CV:</strong></th>
    				                       	<td class="text-truncate">{{user.extendedauthuser.writer_cv|truncate|safe}}</td>
    				                   </tr>
    				               </table>
				              </div>
                       <div class="modal fade  bd-example-modal-lg" id="largeModel" tabindex="-1" role="dialog" aria-labelledby="largeModel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title text-center" id="mySmallModalLabel"><b>{{user.get_full_name}} cv infomation.</b></h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                          <hr>  
                                      </div>
                                      <div class="modal-body">
                                        <p>{{user.extendedauthuser.writer_cv}}</p>
                                      </div>
                                      <div class="modal-footer"> 
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button class="btn btn-success btn-block btn-round" data-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                            </div>
                                        </div>   
                                      </div>    
                                  </div>
                              </div>
                          </div>
			       		    </div>
            		</div>
                {% endif %} 
            		<div class="col-12">	
            			<div class="card">
						    <div class="card-header">
                    {% if not user.extendedauthuser.category == 'customer' %}
                    <h3 class="card-title">Change password for this writer</h3>
                    {% else %}
                    <h3 class="card-title">Change password for this customer</h3>
                    {% endif %}
						        <div class="card-options">
						            <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
						            <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
						        </div>
						    </div>
						    <div class="card-body">
						        <form class="ActiveForm" method="post" novalidate>
						        	{% csrf_token %}
						           	<div class="form-group">
						           		<label for="">New password</label>
				                        {{form.password1}}
				                        <div class="feedback"></div>
				                    </div>
				                    <div class="form-group">
						           		<label for="">Confirm New password</label>
				                        {{form.password2}}
				                        <div class="feedback"></div>
				                    </div>
						           	<div class="text-center mt-2">
						           		{% if user.is_superuser %}
						                	<button  class="btn btn-primary btn-round" disabled><i class="ti-save"></i> CHANGE PASSWORD</button>
						                {% else %}
						                	<button  class="btn btn-primary btn-round"><i class="ti-save"></i> CHANGE PASSWORD</button>
						           		{% endif %}
						            </div>
						        </form>
						    </div>
						</div>	
            		</div>		
            	</div>	
            </div>
            <div class="mt-4 col-12">
              <div class="row">
                <div class="col-12">
                  <div class="d-lg-flex justify-content-between">
                    <ul class="nav nav-tabs mb-3 tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-x: auto; overflow-y: hidden; flex-wrap:nowrap;">
                      <li class="nav-item">
                            <a class="nav-link active" id="pills-orders-tab" data-toggle="pill" href="#pills-orders" role="tab" aria-controls="pills-orders" aria-selected="true">{{user.get_full_name}} Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="pills-Transactions-tab" data-toggle="pill" href="#pills-Transactions" role="tab" aria-controls="pills-Transactions" aria-selected="false">View Wallet Transactions</a>
                        </li>
                    </ul> 
                  </div>
                </div>
                <div class="col-12">
                  <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-orders" roordersle="tabpanel" aria-labelledby="pills-orders-tab">
                        <div class="card">
                          <div class="card-header">
                                <h3 class="card-title">{{user.get_full_name}} Orders ({{mcount|intcomma}})</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                              <div class="table-responsive table-results">
                              <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                  <thead>
                                      <tr>
                                          <th colspan="9">{{user.get_full_name}} Orders ({{mcount|intcomma}})</th>
                                      </tr>
                                      <tr>
                                          <th>#</th>
                                          <th>Order ID</th>
                                          <th>Orders Topic</th>
                                          <th>Customer Name</th>
                                          <th>Order Posted Date</th>
                                          <th>Deadline Date</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% if user.extendedauthuser.category == 'writer' %}
                                          {% for item in user_orders %}
                                          <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>#{{item.parent.order_id}}</td>
                                            <td>{{item.parent.topic}}</td>
                                            <td>{{item.parent.user.get_full_name}}</td>
                                            <td>{{item.parent.created_on|timesince}}</td>
                                            <td>{{item.parent.deadline|due}}</td>
                                            <td class="text-info">{{item.parent.status}}</td>
                                            <td>
                                                {% if order.parent.is_accepted %}
                                                <button class="btn btn-primary btn-round" title="Edit" disabled>Edit</button>
                                                {% else %}
                                                <a  href="{% url 'admin edit order' id=item.parent.id %}" class="btn btn-success" type="button"><i class="ti-pencil"></i> Edit</a>
                                                {% endif %}
                                              <a  href="{% url 'order preview' id=item.parent.id %}" class="btn btn-success" type="button"><i class="ti-menu-alt"></i> Details</a>
                                              <a   href="{% url 'bids' id=item.parent.id %}" class="btn btn-info"> Bids</a>
                                            </td>
                                        </tr>
                                          {% empty %}
                                           <tr>
                                              <td colspan="9" class="text-center">
                                                  <div class="card-body text-center py-5">
                                                      <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                      <h4><i class="ti-info-alt"></i> No data found</h4>
                                                  </div>
                                              </td>
                                          </tr>
                                          {% endfor %}
                                      {% else %}
                                        {% for item in user_orders %}
                                          <tr>
                                              <td>{{forloop.counter}}</td>
                                              <td>#{{item.order_id}}</td>
                                              <td>{{item.topic}}</td>
                                              <td>{{item.user.get_full_name}}</td>
                                              <td>{{item.created_on|timesince}}</td>
                                              <td>{{item.deadline|due}}</td>
                                              <td class="text-info">{{item.status}}</td>
                                              <td>
                                                  {% if order.is_accepted %}
                                                  <button class="btn btn-primary btn-round" title="Edit" disabled>Edit</button>
                                                  {% else %}
                                                  <a  href="{% url 'admin edit order' id=item.id %}" title="Edit" class="btn btn-success" type="button"><i class="ti-pencil"></i> Edit</a>
                                                  {% endif %}
                                                  <a  href="{% url 'order preview' id=item.id %}" class="btn btn-success" type="button"><i class="ti-menu-alt"></i> Details</a>
                                                  <a   href="{% url 'bids' id=item.id %}" class="btn btn-info"> Bids</a>
                                              </td>
                                            </tr>
                                              {% empty %}
                                               <tr>
                                                  <td colspan="9" class="text-center">
                                                      <div class="card-body text-center py-5">
                                                          <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                          <h4><i class="ti-info-alt"></i> No data found</h4>
                                                      </div>
                                                  </td>
                                              </tr>
                                            {% endfor %}
                                      {% endif %}
                                  </tbody>
                              </table>
                          </div>
                            </div>
                            <div class="card-footer">
                                <ul class="pagination pagination-primary">
                            {% if user_orders.has_previous %}
                            <li class="page-item active"><a class="page-link" href="{% url 'user details' id=id %}?page={{user_orders.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                            {% endif %}
                            {% if user_orders.has_next %}
                            <li class="page-item active"><a class="page-link" href="{% url 'user details' id=id %}?page={{user_orders.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            {% endif %}
                          </ul>
                            </div>
                          
                        
                      </div>
                      </div> 
                      <div class="tab-pane fade " id="pills-Transactions" roordersle="tabpanel" aria-labelledby="pills-Transactions-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{user.get_full_name}} Wallet Transactions ({{transactions_count|intcomma}})</h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="javascript:void(0);" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
                                </div>
                            </div>
                          <div class="card-body">
                            <div class="table-responsive table-results">
                                <table class="table table-hover table-striped table-vcenter mb-0 dataTable js-exportable text-nowrap">
                                    <thead>
                          
                                        <tr>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Particulars</th>
                                            <th>Customer</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                            <th>Balance</th>
                                            <th>Reserved Balance</th>
                                            <th>Status</th>
                                            <th>Mode</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in transactions %}
                                        <tr>
                                          <td>{{forloop.counter}}</td>
                                          <td>{{item.created_on}}</td>
                                          <td>Fund paid for order #{{item.order_id}}</td>
                                          <td>{{item.user.get_full_name}}</td>
                                          <td>{{item.debit|intcomma|default:'-'}}</td>
                                          <td>{{item.credit|intcomma|default:'-'}}</td>
                                          <td>{{obj.currency_symbol}} {{item.balance|intcomma|default:0}}</td>
                                          <td>{{obj.currency_symbol}} {{item.reserved_money|intcomma|default:0}}</td>
                                          <td>{{item.status}}</td>
                                          <td>{{item.mode|default:'No Set'}}</td>
                                        </tr>
                                        {% empty %}
                                         <tr>
                                            <td colspan="8" class="text-center">
                                                <div class="card-body text-center py-5">
                                                    <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                                    <h4><i class="ti-info-alt"></i> No data found</h4>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                          </div>
                            <div class="card-footer">
                               <ul class="pagination pagination-primary">
                              {% if transactions.has_previous %}
                              <li class="page-item active"><a class="page-link" href="{% url 'user details' id=id %}?page={{transactions.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                              {% endif %}
                              {% if transactions.has_next %}
                              <li class="page-item active"><a class="page-link" href="{% url 'user details' id=id %}?page={{transactions.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                              {% endif %}
                            </ul>
                            </div>
                           
                        </div>
                      </div>
                    </div>
                   </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}