{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% load ranger %}
{% load truncate %}
{% load decoder %}
{% load mathfilters %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb" style="background-color:transparent!important;">
                        <li class="breadcrumb-item"><a class="fg-theme" href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
        </div>
        <div class="row clearfix">
            <div class="col-12 ">
                <div class="card">
                    <div class="card-body ribbon">
                        <div class="row">
                            <div class="col-md-6 p-2" style="background:#f1f1f1;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="ribbon-box green">{{user.extendedauthuser.country}}</div>
                                    </div>
                                    <div class="mt-4 col-12">
                                        <div class="media">
                                            <img style="width:120px;height:120px;border:2px solid #fff;border-radius:50%;" class="img-responsive mr-3" src="{% static 'panel/assets/images/loader.gif' %}" data-src="{{user.extendedauthuser.profile_pic.url}}" alt="{{user.get_full_name}}">
                                            <div class="media-body my-auto">
                                                <h5 class="mt-0">{{user.get_full_name}}</h5>
                                                <p>{{user.extendedauthuser.bio|truncate|safe}}</p>
                                                <div class="star-rating">
                                                    <ul class="list-inline">
                                                       {% if user.extendedauthuser.rating > 0 %}
                                                            {% for i in user.extendedauthuser.rating|floatformat:0|ranger %}
                                                            <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                                            {% endfor %}
                                                            {% for i in 5|sub:user.extendedauthuser.rating|floatformat:0|ranger %}
                                                             <li class="list-inline-item">
                                                                <span class="fa fa-star text-muted"></span>
                                                             </li>
                                                            {% endfor %}
                                                       {% endif %}
                                                    </ul>
                                                </div>
                                                <p>{{user.extendedauthuser.completed_projects|intcomma|default:'0'}} Completed projects</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade  bd-example-modal-lg" id="largeModel" tabindex="-1" role="dialog" aria-labelledby="largeModel" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <h5 class="modal-title text-center" id="mySmallModalLabel"><b>{{user.get_full_name}} bio info</b></h5>
                                                  <button type="button" class="close" user-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                  </button>
                                                  <hr>  
                                              </div>
                                              <div class="modal-body">
                                                <p>{{user.extendedauthuser.bio}}</p>
                                              </div>
                                              <div class="modal-footer"> 
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <button class="btn btn-success btn-block btn-round" user-dismiss="modal"><i class="ti-close">    </i> Close</button>
                                                    </div>
                                                </div>   
                                              </div>    
                                          </div>
                                      </div>
                                  </div>
                                  {% if user.extendedauthuser.category == 'writer' %}
                                    <div class="col-12">
                                        <div class="d-lg-flex justify-content-between" >
                                            <ul class="nav nav-tabs tabber" id="pills-tab" role="tablist"  style="display:inline-block;white-space: nowrap;overflow-x:scroll;">
                                                <li class="nav-item">
                                                    <a class="nav-link active show" data-toggle="tab" href="#language">Languages</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#citation">Citation styles</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-2 p-4 col-12">
                                        <div class="tab-content">
                                            <div class="mt-2 tab-pane active show" id="language">
                                                <strong>Languages Pro in:</strong>{{user.extendedauthuser.native_language|decoder|default:'No language(s) Found'}}<br>
                                            </div> 
                                            <div class="mt-2 tab-pane" id="citation">
                                                <strong>Citation Styles:</strong>{{user.extendedauthuser.citation_style|decoder|default:'Not Set'}}
                                            </div> 
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="col-12">
                                        {% if user.extendedauthuser.category == 'writer' %}
                                        <h5><strong>Education</strong></h5>
                                        <hr>
                                        <p>{{user.extendedauthuser.academic_degree|decoder|default:'None'}}</p>
                                        <h5><strong>Expertise</strong></h5>
                                        <hr>
                                        <p>{{user.extendedauthuser.bio|default:'None'}}</p>
                                        {% endif %}

                                        {% if user.extendedauthuser.category == 'customer' %}
                                          <h5><strong>Bio</strong></h5>
                                          <hr>
                                          <p>{{user.extendedauthuser.bio|default:'Not set'}}</p>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mt-md-0 mt-4">
                                <div class="row">
                                    <div class="col-12 my-auto">
                                        <h5><strong>Reviews</strong> <button style="margin-top:-10px;" class="float-right btn btn-outline-primary btn-round">{{user.extendedauthuser.rating_counter|intcomma|floatformat:0|default:0}} total ratings</button>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                   {% if user.extendedauthuser.rating > 0 %}
                                                        {% for i in user.extendedauthuser.rating|floatformat:0|ranger %}
                                                        <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                                        {% endfor %}
                                                        {% for i in 5|sub:user.extendedauthuser.rating|floatformat:0|ranger %}
                                                         <li class="list-inline-item">
                                                            <span class="fa fa-star text-muted"></span>
                                                         </li>
                                                        {% endfor %}
                                                   {% endif %}
                                                </ul>
                                            </div>
                                        </h5>
                                    </div>
                                    <div class="col-12 ml-1">
                                      <strong>Total comments:</strong> ({{client_comments_count|intcomma|default:0}})
                                      <hr>
                                    </div>
                                    {% for item in client_comments %}
                                        {% if item.comment %}
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href="{% url 'writer' id=item.user.id %}" class="btn btn-outline-info btn-round">{{item.user.get_full_name}}</a>
                                                    <p class="ml-2 mt-2">{{item.comment}}<br>
                                                        <span class="text-info">{{item.created_on|naturaltime}}</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-6 text-right my-auto">
                                                   <div class="star-rating">
                                                        <ul class="list-inline">
                                                           {% if item.rating > 0 %}
                                                                {% for i in item.rating|floatformat:0|ranger %}
                                                                <li class="list-inline-item"><span class="fa fa-star" style="color:#f0ad4e !important"></span></li>
                                                                {% endfor %}
                                                                {% for i in 5|sub:item.rating|floatformat:0|ranger %}
                                                                 <li class="list-inline-item">
                                                                    <span class="fa fa-star text-muted"></span>
                                                                 </li>
                                                                {% endfor %}
                                                           {% endif %}
                                                        </ul>
                                                    </div>  
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        {% endif %}
                                        <ul class="mt-2 ml-2 pagination pagination-primary">
                                            {% if client_comments.has_previous %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'writer' id=user.id %}?page={{client_comments.previous_page_number}}"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                            {% endif %}
                                            {% if client_comments.has_next %}
                                            <li class="page-item active"><a class="page-link" href="{% url 'writer' id=user.id %}?page={{client_comments.next_page_number}}"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                            {% endif %}
                                        </ul>                                
                                    {% empty %}
                                    <div class="col-12 text-center">
                                        <img data-src="{% static 'panel/assets/images/search.svg' %}" class="width360 mb-3" />
                                        <h5>No data found.</h5>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}