::-webkit-scrollbar
{
    width:15px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px #3d71a1;
    box-shadow: inset 0 0 6px #3d71a1;
    border-radius:10px;  
}
::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px #3d71a1;
    box-shadow: inset 0 0 6px #3d71a1;
    border-radius:10px;
}
.btn-fab
{
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: 0;
    border-radius: 50%;
    line-height: 50px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: none;
}

.btn-fab:focus,
.btn-fab:active
{
    box-shadow: none;
}

.btn-fab.btn-sm
{
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.load-overlay
{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(255,255,255,0.7);
    z-index:50;
    cursor:pointer;
    
}
.body-border
{
    background:#39f;
    width:0;
    height:3px;
    position:fixed;
    top:0;
    left:0;
    z-index:999999;
    transition:all .3s;
}
.body-blur
{
    background-color:rgba(255,255,255,0.7);
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:999997;
    display:none;
}

.load-overlay .overlay
{
  text-align:center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

}
.load-overlay .overlay-close
{
    position:absolute;    
    top:10px;
    left:10px;
    color:red;
    width:30px;
    height:30px;
    text-align:center;
    background:rgba(128, 128, 128, 0.5);
    line-height:30px;
    border-radius:50%;
    transition:all .3s ease-in-out;
    cursor:pointer;
}
.load-overlay .overlay-close:hover
{
    color:#fff;
    background:#666;
}

.placeholder .overlay
{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader 
{
position: relative;
margin: 0px auto;
width: 100px;
}
.loader:before 
{
content: '';
display: block;
padding-top: 100%;
}
.circular 
{
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path 
{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate 
{
  100% 
  {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate 
{
  100% 
  {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash 
{
  0% 
  {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% 
  {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% 
  {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash 
{
  0% 
  {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% 
  {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% 
  {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color 
{
  100%, 0% 
  {
    stroke: #d62d20;
  }
  40% 
  {
    stroke: #0057e7;
  }
  66% 
  {
    stroke: #008744;
  }
  80%, 90% 
  {
    stroke: #ffa700;
  }
}
@keyframes color 
{
  100%, 0% 
  {
    stroke: #d62d20;
  }
  40% 
  {
    stroke: #0057e7;
  }
  66% 
  {
    stroke: #008744;
  }
  80%, 90% 
  {
    stroke: #ffa700;
  }
}

#id_phone_0
{
    width:30%;
    float:left;
}
#id_phone_1
{
    width:68%;
    float:right;
}

.reveal
{
    position:absolute;
    right:20px;
    top:39px;
    cursor: pointer;
    transition: all;
}
.reveal:hover
{
    color: green;
}
.float-btn
{
    position:fixed;
    bottom:40px;
    right:20px;
    width:60px;
    height:60px;
    border-radius:50% !important;
    padding:10px;
    line-height:40px;
}
#id_phone_0
{
    width:28%;
    float:left;
} 
#id_phone_1
{
    width:70%;
    float:right;
}
.phoner
{
    position:absolute;
    top:63px;
    left:20px;
}
.modal-body button
{
    padding:5px 18px;
    margin:10px 10px;
}
.nav-tabs li
{
    margin:0 10px; 
}
.counter
{
    width:40px;
    height:40px;
    line-height:30px;
    border-radius:50%;
}
.bgcolor
{
    width:40px;
    height:40px;
    line-height:30px;
    border-radius:50%; 
    font-size:20px;
}
.online-status 
{
  position: absolute;
  left: 16px;
  z-index: 99;
  width: 60px !important;
  height: 21px !important;
}
.float
{
  position:fixed;
  width:50px;
  height:50px;
  bottom:6px;
  left:6px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.my-float{
    margin-top:10px;
}
.navbar .navbar-toggler {
    width:40px !important;
    margin-right: 10px !important;
    height:40px !important;
    outline: 0;
    cursor: pointer;
}
.cookie-container
{
  position:fixed;
  bottom:-100%;
  left:0;
  right:0;
  background:#2f3640;
  color:#f5f6fa;
  padding:5px 32px;
  transition:400ms;
  box-shadow:0 -2px 16px rgba(47,54,64,0.39);
}
.cookie-container.active
{
  bottom:0;  
}
.cookie-container p
{
  color:#f5f6fa;
}
.cookie-container button
{
  background:#3d71a1 !important;
  color:#f5f6fa;
  padding:0  48px !important;
  font-size:18px !important;
  margin-bottom:16px !important;
  border-radius:8px !important;
  transition:all .3s ease-in-out;
}
.cookie-container button:hover
{
  color:#3d71a1 !important;
  border-color:#3d71a1 !important;
  background:#f5f6fa !important;
}
.modal-confirm {        
color: #636363;
width: 325px;
font-size: 14px;
}
.modal-confirm .modal-content {
padding: 20px;
border-radius: 5px;
border: none;
}
.modal-confirm .modal-header {
border-bottom: none;   
position: relative;
}
.modal-confirm h4 {
text-align: center;
font-size: 26px;
margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
min-height: 40px;
border-radius: 3px; 
}
.modal-confirm .close {
position: absolute;
top: -5px;
right: -5px;
}   
.modal-confirm .modal-footer {
border: none;
text-align: center;
border-radius: 5px;
font-size: 13px;
}   
.modal-confirm .icon-box {
color: #fff;        
position: absolute;
margin: 0 auto;
left: 0;
right: 0;
top: -70px;
width: 95px;
height: 95px;
border-radius: 50%;
z-index: 9;
background: #34c240;
padding: 15px;
text-align: center;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
font-size: 58px;
position: relative;
top: 3px;
}
.modal-confirm.modal-dialog {
margin: 80px auto;
}
.modal-confirm .btn {
color: #fff;
border-radius: 4px;
background: #82ce34;
text-decoration: none;
transition: all 0.4s;
line-height: normal;
border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
background: #6fb32b;
outline: none;
}
.is-invalid
 {
    border:1px solid red !important;
 }
 .button-4-pink 
 {
    width: 160px;
    height: 50px;
    border: 2px solid #3d71a1;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    margin: 40px 0 0 0;
    border-radius: 6px;
}
.banner 
{
    width: 160px;
    height: 50px;
    border: 2px solid #fff;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    margin: 40px 0 0 0;
    border-radius: 6px;
}
.banner a 
{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
    font-weight: 700;
    display: inline;
}
/*--  //call us --*/
/*-- video popup --*/
.w3l-aboutblock ul.w3l-right-book li span {
  font-size: 12px;
  margin-right: 10px;
  opacity: 0.4; }

.w3l-aboutblock .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px); }

.w3l-aboutblock span.video-play-icon {
  background: var(--primary-color);
  color: #fff;
  display: inline-block;
  padding-left: 5px;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite; }

.w3l-aboutblock span.video-play-icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out; }

.w3l-aboutblock img {
  border-radius: 10px;
  width: 100%; }

ol.w3l-right li {
  font-size: 18px;
  line-height: 28px;
  color: var(--heading-color);
  margin-top: 5px;
  position: relative; }

ol.w3l-right li:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--bg-color);
  border-radius: 100px;
  position: absolute;
  top: 11px;
  left: -20px;
  border: 1px solid var(--primary-color); }

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(217, 38, 38, 0.15), 0 0 0 10px rgba(217, 38, 38, 0.15), 0 0 0 20px rgba(217, 38, 38, 0.15); }
  100% {
    box-shadow: 0 0 0 10px rgba(217, 38, 38, 0.15), 0 0 0 20px rgba(217, 38, 38, 0.15), 0 0 0 40px rgba(217, 38, 38, 0); } }

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(217, 38, 38, 0.15), 0 0 0 10px rgba(217, 38, 38, 0.15), 0 0 0 20px rgba(217, 38, 38, 0.15); }
  100% {
    box-shadow: 0 0 0 10px rgba(217, 38, 38, 0.15), 0 0 0 20px rgba(217, 38, 38, 0.15), 0 0 0 40px rgba(217, 38, 38, 0); } }

/*-- //video popup --*/
/*-- testimonials --*/
.w3l-clients {
  background: var(--bg-grey); }

.w3l-clients .testimonial {
  position: relative;
  overflow: hidden;
  text-align: left; }

.w3l-clients .testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03); }

.w3l-clients .testi-des {
  display: flex;
  text-align: center; }

.w3l-clients blockquote q {
  font-size: 18px;
  line-height: 28px;
  color: var(--para-color); }

.w3l-clients blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif; }

.w3l-clients .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%; }

.w3l-clients .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.w3l-clients .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em; }

.w3l-clients .testimonial .peopl {
  margin: 0;
  margin-left: 20px;
  text-align: left; }

.w3l-clients .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -.5px; }

.w3l-clients p.indentity {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8; }

/*-- //testimonials --*/